Repository pytorch/TensorRT, pull requests merged in 2020-11, with the labels that each got.

#211 feat(//core/converters): Add support for aten::slice layer
  core/conversion/converters/impl/select.cpp
  tests/core/converters/test_select.cpp
Labels: component: converters

#206 feat(//cpp/api/lib): New runtime only library
  BUILD
  cpp/api/lib/BUILD
  docsrc/index.rst
  docsrc/tutorials/runtime.rst
Labels: component: api [C++], component: build system, documentation

#233 fix(aten::max_pool2d): Supressing error due to not filling in stride in the default case
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/converters/impl/pooling.cpp
Labels: component: conversion, component: converters, component: core

#237 Uni19 dev: element wise operators support dynamic shape input and broadcast #223
  core/conversion/converters/impl/element_wise.cpp
  tests/core/converters/test_element_wise.cpp
Labels: component: conversion, component: converters, component: core, component: tests
