Repository pytorch/TensorRT, pull requests merged in 2020-12, with the labels that each got.

#238 fix deconv with groups > 1
  core/conversion/converters/impl/conv_deconv.cpp
  tests/core/converters/test_conv_deconv.cpp
Labels: component: converters

#249 Fix add ops with alpha multiplier
  core/conversion/converters/impl/element_wise.cpp
  tests/core/converters/test_element_wise.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#225 Pytorch 1.7 update API changes
  .bazelversion
  README.md
  WORKSPACE
  core/conversion/InterfaceTypes.cpp
  core/conversion/converters/impl/conv_deconv.cpp
  core/conversion/converters/impl/interpolate.cpp
  core/lowering/lowering.cpp
  core/lowering/passes/conv2d_to_convolution.cpp
  core/lowering/passes/conv3d_to_convolution.cpp
  core/lowering/register_trt_placeholder_ops.cpp
  cpp/api/include/trtorch/macros.h
  py/requirements.txt
  py/setup.py
  tests/core/converters/test_conv_deconv.cpp
  tests/modules/hub.py
  tests/py/requirements.txt
Labels: component: api [C++], component: api [Python], component: build system, component: conversion, component: converters, component: core, component: lowering, component: tests

#255 Support bool datatype of input/output tensors
  core/util/trt_util.cpp
  tests/util/util.cpp
Labels: component: core, component: tests
