Repository pytorch/TensorRT, pull requests merged in 2020-06, with the labels that each got.

#88 Adds a destructor for the new class that was previously in the old execution manager
  core/compiler.cpp
  core/conversion/converters/NodeConverterRegistry.cpp
  core/execution/TRTEngine.cpp
  core/execution/execution.h
  core/util/macros.h
Labels: component: conversion, component: converters, component: execution

#95 Enable FP16 mixed precision with Int8
  core/conversion/conversionctx/ConversionCtx.cpp
Labels: component: conversion

#101 Implement permute support
  core/conversion/converters/impl/shuffle.cpp
  tests/core/converters/test_shuffle.cpp
Labels: component: conversion, component: converters

#100 Fills out basic pooling operations
  core/conversion/converters/impl/pooling.cpp
  tests/core/converters/test_pooling.cpp
Labels: component: conversion, component: converters

#92 Adds support for the evaluation of conditionals
  core/conversion/conversion.cpp
  core/conversion/converters/NodeConverterRegistry.cpp
  core/conversion/evaluators/BUILD
  core/conversion/evaluators/NodeEvaluatorRegistry.cpp
  core/conversion/evaluators/aten.cpp
  core/conversion/evaluators/eval_macros.h
  core/conversion/evaluators/prim.cpp
Labels: component: conversion, component: converters, component: evaluators

#116 Add support for aten::select.int and aten::stack
  core/conversion/converters/BUILD
  core/conversion/converters/impl/select.cpp
  core/conversion/converters/impl/stack.cpp
  core/util/trt_util.cpp
  core/util/trt_util.h
  tests/core/converters/BUILD
  tests/core/converters/test_select.cpp
  tests/core/converters/test_stack.cpp
Labels: component: converters
