Repository pytorch/TensorRT, pull requests merged in 2021-02, with the labels that each got.

#308 Fix issue with num_to_tensor evaluator
  core/conversion/evaluators/prim.cpp
  tests/core/conversion/evaluators/test_prim_evaluators.cpp
Labels: component: conversion, component: core, component: evaluators, component: tests

#298 Fix remove to pass
  core/lowering/passes/remove_to.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_remove_to.cpp
Labels: component: core, component: lowering, component: tests

#301 Add support for aten::squeeze, aten::unsqueeze
  core/conversion/converters/BUILD
  core/conversion/converters/impl/squeeze.cpp
  core/conversion/converters/impl/unsqueeze.cpp
  core/util/trt_util.cpp
  core/util/trt_util.h
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_squeeze.cpp
  tests/core/conversion/converters/test_unsqueeze.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#304 Adding support for basic logic operators
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#293 Add clamp conversion functionality
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#289 feat(//core/converters): Add expand layer, expand_as and repeat layer functionality
  core/conversion/converters/BUILD
  core/conversion/converters/impl/expand.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_expand.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#302 Adding support for aten::topk
  core/conversion/converters/BUILD
  core/conversion/converters/impl/topk.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_topk.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#309 Adding support for rsub, min, max, floor_divide
  core/conversion/converters/impl/element_wise.cpp
  core/lowering/passes/BUILD
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: conversion, component: converters, component: core, component: lowering, component: tests

#312 fix(aten::expand): Fix compiler warnings in the expand converter
  core/conversion/converters/impl/expand.cpp
Labels: component: conversion, component: converters, component: core

#314 Fix unused variable out warning
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#313 Add converters of erf/asinh/acosh/atanh
  core/conversion/converters/impl/unary.cpp
  tests/core/conversion/converters/test_unary.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#318 True divide lowering
  core/conversion/converters/impl/element_wise.cpp
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/op_aliasing.cpp
  core/lowering/passes/passes.h
  tests/core/lowering/BUILD
  tests/core/lowering/test_operator_aliasing_pass.cpp
Labels: component: conversion, component: converters, component: core, component: lowering, component: tests

#316 support index=-1, and fix bug when nDims=2 or 3 in softmax
  core/conversion/converters/impl/softmax.cpp
  tests/core/conversion/converters/test_softmax.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#331 Add a new API to disable TF32
  core/conversion/conversionctx/ConversionCtx.cpp
  core/conversion/conversionctx/ConversionCtx.h
  cpp/api/include/trtorch/trtorch.h
  cpp/api/src/compile_spec.cpp
  cpp/trtorchc/main.cpp
  py/trtorch/_compile_spec.py
  py/trtorch/_compiler.py
  py/trtorch/csrc/register_tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.h
  py/trtorch/csrc/trtorch_py.cpp
  tests/py/test_api.py
  tests/py/test_to_backend_api.py
Labels: component: api [C++], component: api [Python], component: conversion, component: core, component: tests

#347 Dump supported ops
  core/conversion/converters/NodeConverterRegistry.cpp
  core/conversion/converters/converters.h
  core/conversion/converters/impl/instance_norm.cpp
  core/conversion/evaluators/NodeEvaluatorRegistry.cpp
  core/conversion/evaluators/evaluators.h
  cpp/supportedops/BUILD
  cpp/supportedops/main.cpp
  docsrc/index.rst
  docsrc/indices/.gitkeep
  docsrc/indices/supported_ops.rst
Labels: component: conversion, component: converters, component: core, component: evaluators, documentation

#355 fix(setup.py): Broaden the supported pytorch versions to handle jetson
  py/setup.py
Labels: component: api [Python]

#352 Lowering pass for SiLU
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/passes.h
  core/lowering/passes/silu_to_sigmoid_multiplication.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_silu_to_sigmoid_multiplication.cpp
Labels: component: core, component: lowering, component: tests

#315 Support dynamic input in expand layer, expand_as layer and repeat layer
  core/conversion/converters/impl/expand.cpp
  core/util/BUILD
  tests/core/conversion/converters/test_expand.cpp
Labels: merge ready

#362 add ELU converter to core library
  core/conversion/converters/impl/activation.cpp
  tests/core/conversion/converters/test_activation.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#319 Add mul.scalar converter
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#236 fix(aten::flatten): Fixing flatten converter to handle dynamic batch
  core/conversion/converters/impl/expand.cpp
  core/conversion/converters/impl/shuffle.cpp
  tests/core/conversion/converters/test_pooling.cpp
  tests/core/conversion/converters/test_shuffle.cpp
  tests/util/run_graph_engine.cpp
  tests/util/util.h
Labels: component: conversion, component: converters, component: core, component: tests

#354 Verify zeros evaluator works correctly and detect programs that will have an empty TensorRT engine
  core/conversion/conversion.cpp
  core/conversion/evaluators/aten.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: conversion, component: core, component: evaluators, component: tests

#371 Anuragd/multi-gpu (//py): Fixed multi-gpu scenario with Python set_device API support
  core/conversion/conversionctx/ConversionCtx.cpp
  docsrc/py_api/trtorch.rst
  py/trtorch/_compiler.py
  py/trtorch/csrc/trtorch_py.cpp
  tests/py/BUILD
  tests/py/test_multi_gpu.py
Labels: component: api, component: api [Python], component: tests, documentation

#374 Add aten.transpose support.
  core/conversion/converters/impl/shuffle.cpp
  tests/core/conversion/converters/test_shuffle.cpp
Labels: component: conversion, component: converters, component: core, component: tests, merge ready

#376 fix(//core/conversion/conversionctx): Fix memory leak in conversionctx
  core/conversion/conversionctx/ConversionCtx.cpp
  py/trtorch/_compiler.py
  tests/py/test_multi_gpu.py
Labels: component: api [Python], component: conversion, component: core, component: tests

#378 fix(//core/conversion/converters/Weights): Fix buffer allocation for weights data
  core/conversion/converters/Weights.cpp
Labels: component: conversion, component: converters, component: core

#381 chore: Bump version for master to 0.3.0a0
  cpp/api/include/trtorch/macros.h
  py/setup.py
Labels: component: api [C++], component: api [Python]
