Repository pytorch/TensorRT, pull requests merged in 2021-05, with the labels that each got.

#444 feat(//core/partitioning): Refactor top level partitioning API, fix a…
  core/lowering/passes/linear_to_addmm.cpp
  cpp/api/include/trtorch/trtorch.h
  cpp/api/src/compile_spec.cpp
  py/trtorch/_compile_spec.py
  py/trtorch/_compiler.py
  py/trtorch/csrc/tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.h
  tests/core/lowering/test_linear_to_addmm.cpp
  tests/py/test_api.py
Labels: component: api [C++], component: api [Python], component: core, component: lowering, component: tests

#425 feat(core/plugins): Plugins redesign
  BUILD
  core/conversion/conversionctx/ConversionCtx.cpp
  core/conversion/converters/BUILD
  core/conversion/converters/impl/activation.cpp
  core/conversion/converters/impl/instance_norm.cpp
  core/conversion/converters/impl/interpolate.cpp
  core/conversion/converters/impl/normalize.cpp
  core/conversion/converters/impl/plugins/BUILD
  core/conversion/converters/impl/pooling.cpp
  core/lowering/register_trt_placeholder_ops.cpp
  core/plugins/BUILD
  core/plugins/README.md
  core/plugins/impl/interpolate_plugin.cpp
  core/plugins/impl/interpolate_plugin.h
  core/plugins/impl/normalize_plugin.cpp
  core/plugins/impl/normalize_plugin.h
  core/plugins/plugins.h
  core/plugins/register_plugins.cpp
  core/runtime/BUILD
  cpp/api/lib/BUILD
  examples/sample_rt_app/BUILD
  examples/sample_rt_app/README.md
  examples/sample_rt_app/main.cpp
  examples/sample_rt_app/network.py
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_activation.cpp
  tests/core/conversion/converters/test_batch_norm.cpp
  tests/core/conversion/converters/test_normalize.cpp
Labels: component: api [C++], component: build system, component: conversion, component: converters, component: core, component: lowering, component: runtime, component: tests

#446 Add aten::layer_norm support and move add_elementwise to utils
  core/conversion/converters/BUILD
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/converters/impl/layer_norm.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_layer_norm.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#448 doc: documentation for partitioning phase as well as automatic fallback APIs
  core/partitioning/README.md
Labels: component: core

#450 fix(//plugins): Readding cuBLAS BUILD to allow linking of libnvinfer_plugin on Jetson
  WORKSPACE
  third_party/cublas/BUILD
  third_party/tensorrt/archive/BUILD
  third_party/tensorrt/local/BUILD
Labels: component: build system

#453 Fix pybind empty buffer issue
  py/trtorch/ptq.py
Labels: component: api [Python]

#455 fix: fix a typo for printing mini graph when debug
  core/compiler.cpp
Labels: component: core

#457 feat(//py): Catch when bazel is not in path and error out when running
  py/setup.py
Labels: component: api [Python]

#463 feat(//core/plugins): Gating plugin logging based on global config
  core/plugins/register_plugins.cpp
Labels: component: core

#465 chore(BUILD): Fix packaging of headers
  BUILD
  core/plugins/BUILD
Labels: component: build system, component: core

#480 fix(//core/conversion/conversionctx): Guard final engine building
  core/conversion/conversionctx/ConversionCtx.cpp
  core/util/Exception.cpp
Labels: component: conversion, component: core
