Repository pytorch/TensorRT, pull requests merged in 2021-01, with the labels that each got.

#268 Adds testing infrastructure for evaluators and lowering passes
  core/conversion/conversion.cpp
  core/conversion/conversion.h
  tests/BUILD
  tests/accuracy/BUILD
  tests/core/BUILD
  tests/core/conversion/BUILD
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/converter_test.bzl
  tests/core/conversion/converters/test_activation.cpp
  tests/core/conversion/converters/test_batch_norm.cpp
  tests/core/conversion/converters/test_concat.cpp
  tests/core/conversion/converters/test_conv_deconv.cpp
  tests/core/conversion/converters/test_element_wise.cpp
  tests/core/conversion/converters/test_interpolate.cpp
  tests/core/conversion/converters/test_linear.cpp
  tests/core/conversion/converters/test_lstm_cell.cpp
  tests/core/conversion/converters/test_matrix_multiply.cpp
  tests/core/conversion/converters/test_pooling.cpp
  tests/core/conversion/converters/test_reduce.cpp
  tests/core/conversion/converters/test_select.cpp
  tests/core/conversion/converters/test_shuffle.cpp
  tests/core/conversion/converters/test_softmax.cpp
  tests/core/conversion/converters/test_stack.cpp
  tests/core/conversion/converters/test_unary.cpp
  tests/core/conversion/evaluators/BUILD
  tests/core/conversion/evaluators/evaluator_test.bzl
  tests/core/conversion/evaluators/test_prim_evaluators.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/lowering_test.bzl
  tests/core/lowering/test_remove_contiguous_pass.cpp
  tests/modules/BUILD
  tests/util/BUILD
  tests/util/evaluate_graph.cpp
  tests/util/util.h
Labels: component: conversion, component: core, component: tests

#224 Explicit pattern matching for add + MM fusion
  core/lowering/passes/fuse_addmm_branches.cpp
Labels: component: conversion, component: converters, component: core, component: lowering

#283 feat(//core/): Add support for Split converter and unpack evaluator
  core/conversion/conversion.cpp
  core/conversion/converters/impl/select.cpp
  core/conversion/evaluators/prim.cpp
  tests/core/conversion/converters/test_select.cpp
  tests/core/conversion/evaluators/test_prim_evaluators.cpp
  tests/util/evaluate_graph.cpp
Labels: component: conversion, component: converters, component: core, component: evaluators, component: tests

#288 Adding the new device API, fixing the a nested dict issue in the existing compile phase, adding new lowering pass for bn
  .bazelversion
  WORKSPACE
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/passes.h
  core/lowering/passes/remove_bn_dim_check.cpp
  docsrc/tutorials/use_from_pytorch.rst
  py/trtorch/_compile_spec.py
  py/trtorch/csrc/register_tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_backend.cpp
  py/trtorch/csrc/tensorrt_classes.h
  tests/py/BUILD
  tests/py/test_to_backend_api.py
Labels: component: api [Python], component: build system, component: core, component: lowering, component: tests, documentation

#295 Extending @uni19's work on support dynamic shape input and scale_factor in interpolate layer
  core/conversion/converters/impl/interpolate.cpp
  core/conversion/converters/impl/plugins/interpolate_plugin.cpp
  core/conversion/converters/impl/plugins/interpolate_plugin.h
  core/conversion/converters/impl/pooling.cpp
  tests/core/conversion/converters/test_interpolate.cpp
  tests/util/util.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#300 Add support for ne layer
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: conversion, component: converters, component: core, component: tests
