Repository pytorch/TensorRT, pull requests merged in 2021-12, with the labels that each got.

#760 fix: Fix fuse addmm pass
  core/lowering/passes/fuse_addmm_branches.cpp
Labels: component: lowering, component: core

#764 refactor: Added a py lint to address PR failures
  tests/py/test_api.py
Labels: component: tests, NGC

#753 refactor: Applied py linter
  tests/py/test_api.py
Labels: component: tests

#768 feat: Added a comprehensive perf benchmark script in Python
  examples/benchmark/py/README.md
  examples/benchmark/py/config/vgg16.yml
  examples/benchmark/py/config/vgg16_trt.yml
  examples/benchmark/py/models/.gitkeep
  examples/benchmark/py/perf_run.py
  examples/benchmark/py/requirements.txt
Labels: component: lowering, component: conversion, component: core, component: evaluators

#769 feat: Added comprehensive perf benchmark in Python for NGC
  examples/benchmark/py/README.md
  examples/benchmark/py/config/vgg16.yml
  examples/benchmark/py/config/vgg16_trt.yml
  examples/benchmark/py/models/.gitkeep
  examples/benchmark/py/perf_run.py
  examples/benchmark/py/requirements.txt
Labels: NGC

#750 feat: Added Python accuracy tests using Nox
  docker/setup_nox.sh
  noxfile.py
  tests/README.md
Labels: component: tests

#752 feat: Added Python accuracy and API tests using Nox for NGC branch
  docker/dist-accuracy-test.sh
  noxfile.py
  tests/README.md
Labels: component: tests, NGC
