Repository pytorch/TensorRT, pull requests merged in 2021-04, with the labels that each got.

#439 refactor: Fix python linting issues
  .github/scripts/run_cpp_linter.py
  .github/scripts/run_py_linter.py
  cpp/ptq/training/vgg16/export_ckpt.py
  cpp/ptq/training/vgg16/main.py
  py/trtorch/_compile_spec.py
Labels: component: api [Python]

#438 feat(WORKSPACE)!: Updating PyTorch version to 1.8.1
  .github/scripts/run_cpp_linter.py
  .github/scripts/run_py_linter.py
  README.md
  WORKSPACE
  core/conversion/var/Var.cpp
  cpp/ptq/training/vgg16/main.py
  docker/WORKSPACE.docs
  py/requirements.txt
Labels: component: api [Python], component: build system, component: conversion, component: core

#431 New API to register arbitrary TRT engines as TorchScript modules
  core/compiler.cpp
  core/compiler.h
  cpp/api/include/trtorch/trtorch.h
  cpp/api/src/trtorch.cpp
  py/trtorch/_compiler.py
  py/trtorch/csrc/trtorch_py.cpp
  tests/modules/test_modules_as_engines.cpp
  tests/py/BUILD
  tests/py/test_api.py
  tests/py/test_trt_intercompatability.py
Labels: component: api [C++], component: api [Python], component: core, component: tests

#432 feat(aten::floor): Adds floor.int evaluator
  core/conversion/evaluators/aten.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: conversion, component: core, component: evaluators, component: tests

#440 feat(//core/conversion/conversionctx): Adding logging for truncated
  core/conversion/conversionctx/ConversionCtx.cpp
Labels: component: conversion, component: core

#442 refactor: Applying linting
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/batch_norm.cpp
  core/conversion/converters/impl/conv_deconv.cpp
  core/conversion/converters/impl/pooling.cpp
  core/util/trt_util.cpp
  tests/core/conversion/converters/test_pooling.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#443 refactor(BUILD): Refactoring build files to be more standardized
  BUILD
  WORKSPACE
  core/BUILD
  core/conversion/BUILD
  core/conversion/conversionctx/BUILD
  core/conversion/converters/BUILD
  core/conversion/converters/impl/plugins/BUILD
  core/conversion/evaluators/BUILD
  core/conversion/tensorcontainer/BUILD
  core/conversion/var/BUILD
  core/lowering/BUILD
  core/lowering/passes/BUILD
  core/runtime/BUILD
  core/util/BUILD
  core/util/logging/BUILD
  cpp/api/BUILD
  cpp/api/lib/BUILD
  cpp/benchmark/BUILD
  cpp/ptq/BUILD
  cpp/ptq/benchmark/BUILD
  cpp/ptq/datasets/BUILD
  cpp/supportedops/BUILD
  cpp/trtorchc/BUILD
  cpp/trtorchexec/BUILD
  py/BUILD
  tests/BUILD
  tests/accuracy/BUILD
  tests/accuracy/datasets/BUILD
  tests/core/BUILD
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/converter_test.bzl
  tests/core/conversion/evaluators/BUILD
  tests/core/conversion/evaluators/evaluator_test.bzl
  tests/core/lowering/BUILD
  tests/core/lowering/lowering_test.bzl
  tests/modules/BUILD
  tests/py/BUILD
  tests/util/BUILD
  third_party/cudnn/archive/BUILD
  third_party/cudnn/local/BUILD
  third_party/libtorch/BUILD
  third_party/tensorrt/archive/BUILD
  third_party/tensorrt/local/BUILD
  toolchains/BUILD
  tools/linter/BUILD
Labels: component: api [C++], component: api [Python], component: build system, component: conversion, component: converters, component: core, component: evaluators, component: lowering, component: runtime, component: tests

#406 Automatic Fallback
  core/BUILD
  core/compiler.cpp
  core/compiler.h
  core/conversion/BUILD
  core/conversion/InterfaceTypes.cpp
  core/conversion/conversion.cpp
  core/conversion/conversion.h
  core/conversion/evaluators/aten.cpp
  core/ir/BUILD
  core/ir/InputRange.cpp
  core/ir/ir.h
  core/lowering/passes/fuse_addmm_branches.cpp
  core/lowering/passes/unpack_addmm.cpp
  core/partitioning/BUILD
  core/partitioning/PartitionInfo.cpp
  core/partitioning/PartitionInfo.h
  core/partitioning/SegmentedBlock.cpp
  core/partitioning/SegmentedBlock.h
  core/partitioning/partitioning.cpp
  core/partitioning/partitioning.h
  core/partitioning/shape_analysis.cpp
  core/partitioning/shape_analysis.h
  core/util/jit_util.h
  core/util/trt_util.cpp
  core/util/trt_util.h
  cpp/api/include/trtorch/trtorch.h
  cpp/api/src/compile_spec.cpp
  py/trtorch/_compile_spec.py
  py/trtorch/csrc/register_tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.h
  py/trtorch/csrc/trtorch_py.cpp
  tests/core/BUILD
  tests/core/partitioning/BUILD
  tests/core/partitioning/partitioning_test.bzl
  tests/core/partitioning/test_fallback_graph_output.cpp
  tests/core/partitioning/test_segmentation.cpp
  tests/core/partitioning/test_shape_analysis.cpp
  tests/core/partitioning/test_stitched_graph.cpp
  tests/core/partitioning/test_tensorrt_conversion.cpp
  tests/util/run_graph_engine.cpp
Labels: component: api [C++], component: api [Python], component: conversion, component: core, component: evaluators, component: lowering, component: tests

#372 support cumsum converter
  core/conversion/converters/BUILD
  core/conversion/converters/impl/cumsum.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_concat.cpp
  tests/core/conversion/converters/test_cumsum.cpp
Labels: on hold
