Repository pytorch/TensorRT, pull requests merged in 2021-06, with the labels that each got.

#491 ATen Ones
  core/conversion/evaluators/aten.cpp
  tests/core/conversion/converters/test_activation.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: conversion, component: core, component: evaluators, component: tests

#492 Handling ITensors in append and also unwrapping ITensors as result of evaluators
  core/conversion/conversion.cpp
  core/conversion/evaluators/aten.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: conversion, component: core, component: evaluators, component: tests

#477 feat(//core/plugins): Add adaptive_max_pool2d plugin, enable the plugins to run on GPU
  core/conversion/converters/impl/pooling.cpp
  core/plugins/impl/interpolate_plugin.cpp
  core/plugins/impl/interpolate_plugin.h
  core/plugins/impl/normalize_plugin.cpp
  core/plugins/impl/normalize_plugin.h
  tests/core/conversion/converters/test_pooling.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#504 fix: Use len() to get size of dataset
  py/trtorch/ptq.py
Labels: component: api [Python]

#462 fix: fix the bug when TensorRT segment depends a nonTensor input which is produced in an unsupported op
  core/partitioning/partitioning.cpp
Labels: component: core

#516 fix: Transfer calibration data to gpu when the batch is not a list
  py/trtorch/ptq.py
Labels: component: api [Python]

#499 fix: Fix linear lowering pass, lift layer_norm scale layer restriction and matmul layer nbdims restriction
  core/compiler.cpp
  core/conversion/converters/impl/layer_norm.cpp
  core/conversion/converters/impl/matrix_multiply.cpp
  core/lowering/passes/linear_to_addmm.cpp
  tests/core/conversion/converters/test_layer_norm.cpp
  tests/core/conversion/converters/test_matrix_multiply.cpp
  tests/core/lowering/test_linear_to_addmm.cpp
  tests/modules/hub.py
Labels: component: conversion, component: converters, component: core, component: lowering, component: tests
