Repository pytorch/TensorRT, pull requests merged in 2021-07, with the labels that each got.

#517 GRU Cell Converter
  core/conversion/converters/impl/lstm_cell.cpp
  tests/core/conversion/converters/test_lstm_cell.cpp
Labels: component: conversion, component: converters, component: core, component: tests

#518 chore: Add efficientnet b0 and VIT to testsuite
  tests/modules/hub.py
  tests/modules/module_test.h
  tests/modules/test_compiled_modules.cpp
  tests/modules/test_modules_as_engines.cpp
  tests/modules/test_serialization.cpp
Labels: component: tests

#520 feat(serde)!: Refactor CudaDevice struct, implement ABI versioning, serde cleanup
  core/compiler.cpp
  core/runtime/BUILD
  core/runtime/CudaDevice.cpp
  core/runtime/DeviceList.cpp
  core/runtime/TRTEngine.cpp
  core/runtime/register_trt_op.cpp
  core/runtime/runtime.cpp
  core/runtime/runtime.h
  cpp/api/src/compile_spec.cpp
  py/trtorch/csrc/tensorrt_backend.cpp
  tests/util/run_graph_engine.cpp
Labels: component: api [C++], component: api [Python], component: core, component: runtime, component: tests

#484 feat(//core)!: Added support for Device meta data serialization and d…
  core/compiler.cpp
  core/compiler.h
  core/runtime/BUILD
  core/runtime/CudaDevice.cpp
  core/runtime/DeviceList.cpp
  core/runtime/TRTEngine.cpp
  core/runtime/register_trt_op.cpp
  core/runtime/runtime.cpp
  core/runtime/runtime.h
  cpp/api/include/trtorch/trtorch.h
  cpp/api/src/compile_spec.cpp
  cpp/api/src/trtorch.cpp
  py/trtorch/csrc/tensorrt_backend.cpp
  py/trtorch/csrc/trtorch_py.cpp
  tests/modules/BUILD
  tests/modules/test_modules_as_engines.cpp
  tests/modules/test_multi_gpu_serdes.cpp
  tests/py/test_multi_gpu.py
  tests/util/run_graph_engine.cpp
Labels: component: api [C++], component: api [Python], component: core, component: lowering, component: runtime, component: tests

#532 fix(runtime): Fix document generator failure for non-GPU host machines
  core/runtime/DeviceList.cpp
Labels: component: core, component: runtime

#533 Fixing issue #552
  core/conversion/converters/impl/batch_norm.cpp
  core/conversion/converters/impl/conv_deconv.cpp
  core/conversion/converters/impl/pooling.cpp
Labels: Story: TensorRT 8

#544 feat(//py): add user level device class in py for embed engine
  py/trtorch/Device.py
  py/trtorch/__init__.py
  py/trtorch/_compile_spec.py
  py/trtorch/_compiler.py
  py/trtorch/csrc/tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.h
  py/trtorch/csrc/trtorch_py.cpp
  tests/py/test_api.py
Labels: component: api [Python], component: tests

#447 feat: support prim::If in automatic fallback
  core/compiler.cpp
  core/partitioning/SegmentedBlock.cpp
  core/partitioning/SegmentedBlock.h
  core/partitioning/partitioning.cpp
  core/partitioning/partitioning.h
  core/partitioning/shape_analysis.cpp
  core/partitioning/shape_analysis.h
  tests/core/BUILD
  tests/core/partitioning/BUILD
  tests/core/partitioning/test_conditionals.cpp
  tests/core/partitioning/test_segmentation.cpp
  tests/core/partitioning/test_shape_analysis.cpp
  tests/modules/hub.py
Labels: component: core, component: tests

#549 fix(aten::cat): support neg dim for cat
  core/conversion/converters/impl/concat.cpp
  tests/core/conversion/converters/test_concat.cpp
Labels: component: conversion, component: converters, component: core, component: tests
