Repository pytorch/TensorRT, pull requests merged in 2021-11, with the labels that each got.

#700 test: Add a test for the global compile function
  .github/workflows/linter.yml
  tests/py/test_api.py
  tests/py/test_ptq_dataloader_calibrator.py
  tests/py/test_ptq_to_backend.py
  tests/py/test_to_backend_api.py
Labels: component: tests

#706 Update py/README.md
  py/README.md
Labels: component: api [Python]

#717 chore(//docsrc): Update docs deps to fix docgen
  docsrc/requirements.txt
  docsrc/tutorials/getting_started_with_cpp_api.rst
  docsrc/tutorials/runtime.rst
Labels: documentation

#721 feat: Implement fast approximation of Gelu to improve performance
  core/conversion/converters/impl/activation.cpp
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/passes.h
  core/lowering/passes/reduce_gelu.cpp
  tests/core/conversion/converters/test_activation.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_reduce_gelu.cpp
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters

#729 fix: Fix BUILD file for tests/accuracy
  tests/accuracy/BUILD
Labels: component: tests

#734 chore: Update partitioning readme
  core/partitioning/README.md
Labels: component: core, component: partitioning

#737 fix: Disabled mobilenet_v2 test for DLFW CI
  tests/py/test_api.py
Labels: component: tests

#735 fix: Fix for torch scripted module faiure with DLFW
  tests/py/test_api.py
Labels: component: tests

#738 refactor: Added tracking for disabled CI tests from DLFW integration
  tests/NOTES.md
Labels: component: tests

#724 fix: Guard test activation for CI testing
  tests/core/conversion/converters/test_activation.cpp
Labels: component: tests
