Repository pytorch/TensorRT, pull requests merged in 2021-03, with the labels that each got.

#398 Adds support for PTQ through the PyTorch to_backend api.
  .gitignore
  py/trtorch/_compile_spec.py
  py/trtorch/csrc/register_tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.h
  py/trtorch/csrc/trtorch_py.cpp
  tests/BUILD
  tests/py/BUILD
  tests/py/test_ptq_dataloader_calibrator.py
  tests/py/test_ptq_to_backend.py
  tests/py/test_ptq_trt_calibrator.py
Labels: component: api [Python], component: tests

#390 feat(py/trtorch/ptq): Implement INT8 Python API for PTQ
  .gitignore
  docs/_sources/tutorials/ptq.rst.txt
  docsrc/conf.py
  py/BUILD
  py/trtorch/__init__.py
  py/trtorch/_compile_spec.py
  py/trtorch/csrc/register_tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.h
  py/trtorch/csrc/trtorch_py.cpp
  py/trtorch/csrc/util.h
  py/trtorch/ptq.py
  tests/BUILD
  tests/py/BUILD
  tests/py/test_ptq_dataloader_calibrator.py
  tests/py/test_ptq_to_backend.py
  tests/py/test_ptq_trt_calibrator.py
Labels: component: api [C++], component: api [Python], component: tests, documentation

#325 Add converter aten::arange
  core/conversion/evaluators/aten.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: conversion, component: converters, component: core, component: runtime, component: tests

#389 feat!: Updating versions of CUDA, cuDNN, TensorRT and PyTorch
  .github/workflows/docgen.yml
  .github/workflows/linter.yml
  CONTRIBUTING.md
  README.md
  WORKSPACE
  core/conversion/converters/impl/plugins/interpolate_plugin.cpp
  core/conversion/evaluators/aten.cpp
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/linear_to_addmm.cpp
  core/lowering/passes/passes.h
  core/lowering/register_trt_placeholder_ops.cpp
  core/util/trt_util.cpp
  cpp/api/include/trtorch/trtorch.h
  docker/Dockerfile.docs
  docker/WORKSPACE.docs
  py/requirements.txt
  py/setup.py
  py/trtorch/csrc/tensorrt_backend.cpp
  tests/core/conversion/converters/converter_test.bzl
  tests/core/conversion/converters/test_activation.cpp
  tests/core/conversion/converters/test_batch_norm.cpp
  tests/core/conversion/converters/test_conv_deconv.cpp
  tests/core/conversion/converters/test_interpolate.cpp
  tests/core/conversion/converters/test_linear.cpp
  tests/core/conversion/converters/test_select.cpp
  tests/core/conversion/converters/test_stack.cpp
  tests/core/conversion/converters/test_unary.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_linear_to_addmm.cpp
  tests/modules/hub.py
  tests/py/requirements.txt
  tests/py/test_api.py
  tools/linter/utils.py
Labels: component: api [C++], component: api [Python], component: build system, component: conversion, component: converters, component: core, component: evaluators, component: lowering, component: tests
