Repository pytorch/TensorRT, pull requests merged in 2021-09, with the labels that each got.

#615 feat: Add VGG QAT sample notebook which demonstrates end-end workflow for QAT models
  docsrc/index.rst
  notebooks/vgg-qat.ipynb
Labels: documentation

#616 Example tensors
  cpp/include/trtorch/trtorch.h
  cpp/src/compile_spec.cpp
  py/trtorch/Input.py
  py/trtorch/_compile_spec.py
  tests/cpp/BUILD
  tests/cpp/test_example_tensors.cpp
  tests/py/test_api.py
Labels: component: tests, component: api [Python], component: api [C++]

#607 refactor!: Removing deprecated InputRange, op_precision and input_shapes
  cpp/include/trtorch/trtorch.h
  cpp/src/compile_spec.cpp
  examples/int8/training/vgg16/test_qat.py
  py/trtorch/_compile_spec.py
  tests/py/test_api.py
  tests/py/test_qat_trt_accuracy.py
Labels: component: tests, component: api [Python], component: api [C++]

#635 fix(//py): Fix trtorch.Device alternate contructor options
  py/trtorch/Device.py
  tests/py/test_api.py
Labels: component: tests, component: api [Python], release: patch

#638 fix(//py): Fix trtorch.Device alternate contructor options
  py/trtorch/Device.py
  tests/py/test_api.py
Labels: component: tests, component: api [Python], release: patch

#640 chore: Upgrade TRT version and README
  README.md
  WORKSPACE
  core/lowering/passes/module_fallback.cpp
  core/lowering/passes/remove_nops.cpp
  core/lowering/passes/unpack_var.cpp
Labels: component: lowering, component: core, component: build system

#644 chore: Bumping default dep version on x86 for PyTorch to 1.9.1
  README.md
  WORKSPACE
  docker/WORKSPACE.docs
  docsrc/tutorials/installation.rst
  examples/int8/training/vgg16/requirements.txt
  examples/trtorchrt_example/README.md
  py/requirements.txt
  tests/modules/requirements.txt
  tests/py/requirements.txt
Labels: documentation, component: tests, component: build system, component: api [Python], release: patch
