Repository pytorch/TensorRT, pull requests merged in 2021-08, with the labels that each got.

#557 fix(trtorchc): Allow for workspaces larger than 2G and better debugging
  cpp/trtorchc/main.cpp
Labels: component: trtorchc

#553 feat(//core/lowering): additional logging in module fallback
  core/lowering/BUILD
  core/lowering/LowerInfo.cpp
  core/lowering/lowering.cpp
  core/lowering/lowering.h
  py/trtorch/_compiler.py
  py/trtorch/csrc/tensorrt_classes.cpp
Labels: component: api [Python], component: core, component: lowering

#559 feat(//core/lowering): Adding two passes, one to delimit and one to mark
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/module_fallback.cpp
  core/lowering/passes/passes.h
  core/lowering/register_trt_placeholder_ops.cpp
Labels: component: core, component: lowering

#560 fix(//cpp/ptq): fixing bad accuracy in just the example code
  cpp/ptq/main.cpp
  tests/accuracy/BUILD
  tests/accuracy/test_int8_accuracy.cpp
Labels: component: tests

#550 Operators for BERT support
  core/conversion/conversion.cpp
  core/conversion/converters/BUILD
  core/conversion/converters/Weights.cpp
  core/conversion/converters/Weights.h
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/converters.h
  core/conversion/converters/impl/batch_norm.cpp
  core/conversion/converters/impl/constant.cpp
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/converters/impl/reduce.cpp
  core/conversion/converters/impl/select.cpp
  core/conversion/evaluators/aten.cpp
  core/conversion/evaluators/eval_util.cpp
  core/conversion/evaluators/eval_util.h
  core/conversion/var/BUILD
  core/conversion/var/Var.cpp
  core/conversion/var/Var.h
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/passes.h
  core/lowering/passes/unpack_std.cpp
  core/lowering/passes/unpack_var.cpp
  core/runtime/register_trt_op.cpp
  core/util/trt_util.cpp
  core/util/trt_util.h
  cpp/trtorchc/main.cpp
  tests/core/conversion/converters/test_reduce.cpp
  tests/core/conversion/converters/test_select.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_unpack_reduce_ops.cpp
  tests/util/util.cpp
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: evaluators, component: runtime, component: trtorchc

#556 Pyt1.9
  WORKSPACE
  core/conversion/converters/impl/select.cpp
  core/lowering/passes/exception_elimination.cpp
  py/setup.py
  py/trtorch/csrc/tensorrt_backend.cpp
  py/trtorch/csrc/tensorrt_backend.h
  tests/core/conversion/converters/test_select.cpp
  tests/py/test_api.py
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [Python]

#540 feat: Support fallback options in trtorchc
  cpp/trtorchc/README.md
  cpp/trtorchc/main.cpp
  docsrc/tutorials/trtorchc.rst
Labels: documentation, component: trtorchc

#565 TensorRT 8.0 update (rebased for 1.9 master)
  README.md
  WORKSPACE
  core/conversion/conversionctx/ConversionCtx.cpp
  core/conversion/conversionctx/ConversionCtx.h
  core/conversion/converters/impl/batch_norm.cpp
  core/conversion/converters/impl/conv_deconv.cpp
  core/conversion/converters/impl/interpolate.cpp
  core/conversion/converters/impl/pooling.cpp
  core/plugins/impl/interpolate_plugin.cpp
  core/plugins/impl/interpolate_plugin.h
  core/plugins/impl/normalize_plugin.cpp
  core/plugins/impl/normalize_plugin.h
  core/runtime/TRTEngine.cpp
  core/runtime/runtime.h
  core/util/logging/TRTorchLogger.cpp
  core/util/logging/TRTorchLogger.h
  core/util/trt_util.h
  cpp/api/include/trtorch/ptq.h
  cpp/api/include/trtorch/trtorch.h
  cpp/api/src/compile_spec.cpp
  py/trtorch/_compile_spec.py
  py/trtorch/_compiler.py
  py/trtorch/csrc/register_tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.cpp
  py/trtorch/csrc/tensorrt_classes.h
  py/trtorch/csrc/trtorch_py.cpp
  tests/core/conversion/converters/test_activation.cpp
  tests/core/conversion/converters/test_lstm_cell.cpp
  tests/cpp/test_compiled_modules.cpp
Labels: component: tests, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], component: runtime

#555 Update RELEASE_CHECKLIST.md
  docsrc/RELEASE_CHECKLIST.md
Labels: documentation

#569 feat: Makefile for trtorchrt.so example
  .gitignore
  core/plugins/README.md
  docsrc/tutorials/runtime.rst
  examples/sample_rt_app/BUILD
  examples/sample_rt_app/README.md
  examples/trtorchrt_example/BUILD
  examples/trtorchrt_example/Makefile
  examples/trtorchrt_example/README.md
  examples/trtorchrt_example/deps/.gitkeep
  examples/trtorchrt_example/main.cpp
  examples/trtorchrt_example/network.py
Labels: documentation, component: core

#564 feat(//core/runtime)!: Better and more portable names for engines
  core/compiler.cpp
  core/runtime/TRTEngine.cpp
  core/runtime/runtime.h
Labels: component: core, component: runtime

#382 feat(aten::to): Add support for cast layer conversion
  core/conversion/conversion_ignorelist.cpp
  core/conversion/converters/BUILD
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/cast.cpp
  core/conversion/converters/impl/constant.cpp
  core/conversion/converters/impl/shuffle.cpp
  core/conversion/evaluators/aten.cpp
  core/conversion/evaluators/prim.cpp
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/passes.h
  core/lowering/passes/reduce_to.cpp
  core/lowering/passes/remove_nops.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_cast.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_reduce_to_pass.cpp
  tests/core/lowering/test_remove_to.cpp
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: api [C++], component: evaluators, component: plugins

#531 Enable QAT functionality of TRT 8.0 in TRTorch
  .gitignore
  core/compiler.cpp
  core/compiler.h
  core/conversion/conversionctx/ConversionCtx.cpp
  core/conversion/converters/BUILD
  core/conversion/converters/impl/conv_deconv.cpp
  core/conversion/converters/impl/matrix_multiply.cpp
  core/conversion/converters/impl/quantization.cpp
  core/conversion/evaluators/aten.cpp
  core/lowering/lowering.cpp
  core/lowering/lowering.h
  core/lowering/passes/unpack_addmm.cpp
  cpp/api/src/compile_spec.cpp
  cpp/ptq/training/vgg16/README.md
  cpp/trtorchc/main.cpp
  docsrc/tutorials/trtorchc.rst
  examples/int8/benchmark/BUILD
  examples/int8/benchmark/benchmark.cpp
  examples/int8/benchmark/benchmark.h
  examples/int8/benchmark/timer.h
  examples/int8/datasets/BUILD
  examples/int8/datasets/cifar10.cpp
  examples/int8/datasets/cifar10.h
  examples/int8/ptq/BUILD
  examples/int8/ptq/Makefile
  examples/int8/ptq/README.md
  examples/int8/ptq/deps/.gitkeep
  examples/int8/ptq/main.cpp
  examples/int8/qat/BUILD
  examples/int8/qat/Makefile
  examples/int8/qat/README.md
  examples/int8/qat/deps/.gitkeep
  examples/int8/qat/main.cpp
  examples/int8/training/vgg16/README.md
  examples/int8/training/vgg16/export_ckpt.py
  examples/int8/training/vgg16/export_qat.py
  examples/int8/training/vgg16/finetune_qat.py
  examples/int8/training/vgg16/main.py
  examples/int8/training/vgg16/requirements.txt
  examples/int8/training/vgg16/test_qat.py
  examples/int8/training/vgg16/vgg16.py
  py/trtorch/_compiler.py
  py/trtorch/csrc/tensorrt_backend.cpp
  py/trtorch/csrc/tensorrt_classes.cpp
  tests/accuracy/datasets/cifar10.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_activation.cpp
  tests/core/conversion/converters/test_quantization.cpp
  tests/core/conversion/converters/test_shuffle.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
  tests/py/test_qat_trt_accuracy.py
  tests/util/run_graph_engine.cpp
  tests/util/util.h
Labels: documentation, component: tests, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], component: evaluators, component: runtime, Story: TensorRT 8, component: trtorchc

#307 Adding aten::is_floating_point evaluator
  core/conversion/evaluators/aten.cpp
  tests/accuracy/datasets/cifar10.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: tests, component: conversion, component: core, component: evaluators, on hold

#590 fix(device_conf): Devices never actually got swithed in multi device
  core/runtime/CudaDevice.cpp
  core/runtime/TRTEngine.cpp
  core/runtime/register_trt_op.cpp
  core/runtime/runtime.cpp
  core/runtime/runtime.h
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
  tests/cpp/BUILD
  tests/cpp/test_multi_gpu_serdes.cpp
Labels: component: tests, component: core, component: runtime

#592 refactor: Move example apps out of cpp
  BUILD
  README.md
  cpp/BUILD
  cpp/README.md
  cpp/api/BUILD
  cpp/api/README.md
  cpp/bin/trtorchc/BUILD
  cpp/bin/trtorchc/README.md
  cpp/bin/trtorchc/main.cpp
  cpp/include/trtorch/logging.h
  cpp/include/trtorch/macros.h
  cpp/include/trtorch/ptq.h
  cpp/include/trtorch/trtorch.h
  cpp/lib/BUILD
  cpp/src/compile_spec.cpp
  cpp/src/logging.cpp
  cpp/src/ptq.cpp
  cpp/src/trtorch.cpp
  docsrc/RELEASE_CHECKLIST.md
  docsrc/tutorials/trtorchc.rst
  examples/benchmark/BUILD
  examples/benchmark/README.md
  examples/benchmark/main.cpp
  examples/benchmark/timer.h
  examples/int8/benchmark/BUILD
  examples/int8/ptq/BUILD
  examples/int8/qat/BUILD
  tests/accuracy/BUILD
  tests/cpp/BUILD
  tests/util/BUILD
  tools/supportedops/BUILD
  tools/trtorchexec/BUILD
  tools/trtorchexec/README.md
  tools/trtorchexec/main.cpp
Labels: documentation, component: tests, component: build system, component: api [C++]

#599 fix(//tests): fix optional jetson tests
  tests/BUILD
  tests/accuracy/test_dla_fp16_accuracy.cpp
  tests/accuracy/test_dla_int8_accuracy.cpp
Labels: component: tests

#601 chore: doc fix
  tests/modules/README.md
  tests/modules/requirements.txt
Labels: component: tests
