Repository pytorch/TensorRT, pull requests merged in 2022-07, with the labels that each got.

#1161 [FX] Sync enhancement done internally at Meta
  README.md
  examples/fx/quantized_resnet_test.py
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/converter_utils.py
  py/torch_tensorrt/fx/fx2trt.py
  py/torch_tensorrt/fx/passes/graph_opts.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_adaptive_avgpool.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_any.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_as_strided.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_avgpool.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_batchnorm.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_binary_ops.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_cat.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_chunk.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_clamp.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_convolution.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_sigmoid.py
  py/torch_tensorrt/fx/test/passes/test_graph_opts.py
  py/torch_tensorrt/fx/test/quant/test_quant_trt.py
Labels: component: api [Python], cla signed, component: fx, fx

#1163 Update config.yml
  .circleci/config.yml
  py/torch_tensorrt/fx/test/passes/test_graph_opts.py
Labels: component: api [Python], cla signed, component: fx

#1159 Use py3 next() syntax
  examples/int8/training/vgg16/main.py
Labels: cla signed

#1164 Add missing comma for proper torch versioning in setup.py
  py/setup.py
Labels: component: api [Python], cla signed

#1171 [docs] Update link to relative path
  py/torch_tensorrt/fx/README.md
Labels: component: api [Python], cla signed, component: fx, fx

#1172 [FX] Changes done internally at Facebook
  examples/fx/quantized_resnet_test.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/lower_setting.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_dequantize.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_einsum.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_elu.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_embedding.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_eq.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_gelu.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_getitem.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_gt.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_hard_sigmoid.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_hardtanh.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_isinf.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_leaky_relu.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_linear.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_logical_and.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_logical_or.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_logical_xor.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_lt.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_max.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_maximum.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_maxpool.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_min.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_minimum.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_narrow.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_ne.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_new_ones.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_numel.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_permute.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_quantize_per_tensor.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_relu.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_reshape.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_selu.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_silu.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_size.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_softmax.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_softsign.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_tanh.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_utils.py
Labels: component: api [Python], cla signed, component: fx, fx

#1176 fix: fix the model name typo error
  tests/modules/hub.py
Labels: component: tests, cla signed

#1178 [FX] Changes done internally at Facebook
  py/torch_tensorrt/fx/__init__.py
  py/torch_tensorrt/fx/input_tensor_spec.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_prod.py
  py/torch_tensorrt/fx/test/core/test_input_tensor_spec.py
Labels: component: api [Python], cla signed, component: fx, fx

#1110 [feat]: support slice with dynamic shape
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/select.cpp
  core/conversion/var/Var.cpp
  tests/core/conversion/converters/test_select.cpp
  tests/util/run_graph_engine.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed, release: v1.2

#1158 feat: Upgrade TensorRT to 8.4 EA
  README.md
  WORKSPACE
  core/conversion/converters/converter_util.cpp
  tests/core/partitioning/test_fallback_graph_output.cpp
  third_party/cudnn/archive/BUILD
Labels: component: tests, component: conversion, component: core, component: converters, component: build system, release: patch, cla signed

#1184 [FX] Update getting_started_with_fx_path.rst
  docsrc/tutorials/getting_started_with_fx_path.rst
Labels: documentation, cla signed

#1183 [FX] Update README.md
  README.md
Labels: cla signed

#1193 Different platform versions for each channel
  .circleci/config.yml
Labels: WIP, cla signed

#1191 fix: Fix PTQ calibration when there are multiple inputs
  py/torch_tensorrt/ptq.py
Labels: component: api [Python], component: quantization, cla signed, release: v1.2

#1194 [FX] Changes done internally at Facebook
  examples/fx/quantized_resnet_test.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/converter_utils.py
  py/torch_tensorrt/fx/input_tensor_spec.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/lower_setting.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_as_strided.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_avgpool.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_batchnorm.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_binary_ops.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_clamp.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_convolution.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_expand.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_gelu.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_interpolate.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_masked_fill.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_matmul.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_max.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_min.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_narrow.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_pad.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_reduce_ops.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_split.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_squeeze.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_std.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_tile.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_to_dtype.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_topk.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_type_as.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_unary_ops.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_unsqueeze.py
  py/torch_tensorrt/fx/test/quant/test_quant_trt.py
  py/torch_tensorrt/fx/test/tracer/test_acc_tracer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_tracer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_utils.py
Labels: component: api [Python], cla signed, component: fx, fx

#1108 [fix]: fix bug in aten::to, when network only have aten::to layer wil…
  tests/core/conversion/converters/test_cast.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed, release: v1.2, Story: Binding Names

#1153 Add .circleci/config.yml
  .circleci/config.yml
  .gitignore
  examples/int8/training/vgg16/requirements.txt
  noxfile.py
  py/requirements.txt
  py/torch_tensorrt/_util.py
  tests/modules/hub.py
  tests/modules/requirements.txt
  tests/py/api/test_classes.py
  tests/py/api/test_e2e_behavior.py
  tests/py/api/test_logging.py
  tests/py/api/test_ts_backend.py
  tests/py/hw/test_api_dla.py
  tests/py/hw/test_multi_gpu.py
  tests/py/integrations/test_to_backend_api.py
  tests/py/integrations/test_trt_intercompatibility.py
  tests/py/ptq/test_ptq_dataloader_calibrator.py
  tests/py/ptq/test_ptq_to_backend.py
  tests/py/ptq/test_ptq_trt_calibrator.py
  tests/py/qat/test_qat_trt_accuracy.py
  tests/py/requirements.txt
  tests/py/test_api.py
  toolchains/ci_workspaces/WORKSPACE.sbsa
  toolchains/ci_workspaces/WORKSPACE.x86_64
Labels: component: tests, component: build system, component: api [Python], cla signed

#1152 feat: Upgrade TRT to 8.4
  README.md
  WORKSPACE
  core/compiler.cpp
  core/conversion/conversionctx/ConversionCtx.cpp
  core/conversion/conversionctx/ConversionCtx.h
  core/conversion/converters/converter_util.cpp
  cpp/bin/torchtrtc/README.md
  cpp/bin/torchtrtc/main.cpp
  cpp/include/torch_tensorrt/torch_tensorrt.h
  cpp/src/compile_spec.cpp
  docsrc/tutorials/ptq.rst
  docsrc/tutorials/torchtrtc.rst
  docsrc/tutorials/use_from_pytorch.rst
  docsrc/tutorials/using_dla.rst
  examples/int8/ptq/main.cpp
  examples/int8/qat/main.cpp
  py/torch_tensorrt/csrc/register_tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.h
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  py/torch_tensorrt/ts/_compile_spec.py
  py/torch_tensorrt/ts/_compiler.py
  tests/accuracy/test_dla_fp16_accuracy.cpp
  tests/accuracy/test_dla_int8_accuracy.cpp
  tests/accuracy/test_int8_accuracy.cpp
  tests/core/partitioning/test_fallback_graph_output.cpp
  tests/py/integrations/test_to_backend_api.py
  tests/util/run_graph_engine.cpp
  third_party/cudnn/archive/BUILD
  tools/cpp_benchmark/main.cpp
  tools/trtorchexec/main.cpp
Labels: documentation, component: tests, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], cla signed, release: v1.2

#1177 feat: Update Pytorch version to 1.12
  README.md
  WORKSPACE
  py/requirements.txt
  py/torch_tensorrt/ts/_compile_spec.py
  tests/py/requirements.txt
Labels: component: tests, component: build system, component: api [Python], cla signed, release: v1.2

#1167 fix: converter renaming already named tensors
  core/conversion/conversion.cpp
  core/conversion/conversionctx/ConversionCtx.cpp
  core/conversion/conversionctx/ConversionCtx.h
Labels: component: conversion, component: core, cla signed, release: v1.2, Story: Binding Names

#1085 feat(//py): Use TensorRT to fill in .so libraries automatically if possible
  .circleci/config.yml
  py/setup.py
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/_compile.py
Labels: component: api [Python], cla signed, release: v1.2

#1071 Collection: Python api support
  core/ir/GraphInputs.cpp
  core/partitioning/partitioning.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  py/torch_tensorrt/ts/_compile_spec.py
  tests/cpp/test_collection.cpp
  tests/py/test_collections.py
Labels: component: core, component: api [Python], cla signed, release: v1.2

#1204 [FX] Changes done internally at Facebook
  py/torch_tensorrt/fx/input_tensor_spec.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
Labels: component: api [Python], cla signed, component: fx, fx

#1148 fix: fix the parsing related model loading bug
  core/compiler.cpp
  tests/core/partitioning/BUILD
  tests/core/partitioning/test_loading_model.cpp
Labels: component: tests, component: core, cla signed, release: v1.2, Story: Binding Names

#1195 feat: support min_block_size != 1 caused fallback nodes re-segmentation
  core/compiler.cpp
  core/partitioning/partitioning.cpp
  core/partitioning/partitioning.h
  tests/core/partitioning/test_segmentation.cpp
Labels: component: tests, component: core, component: partitioning, cla signed, release: v1.2

#1208 [FX] Changes done internally at Facebook
  py/torch_tensorrt/fx/Dynamic_Shape_Support.md
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/test/passes/test_graph_opts.py
  py/torch_tensorrt/fx/test/tracer/test_acc_tracer.py
  py/torch_tensorrt/fx/test/trt_lower/test_diagnostics.py
  py/torch_tensorrt/fx/test/trt_lower/test_observer.py
  py/torch_tensorrt/fx/test/trt_lower/trt_splitter_test.py
  py/torch_tensorrt/fx/tools/common_fx2trt.py
  py/torch_tensorrt/fx/tools/engine_layer_visualize.py
  py/torch_tensorrt/fx/tools/trt_minimizer.py
  py/torch_tensorrt/fx/tools/trt_profiler_sorted.py
  py/torch_tensorrt/fx/tools/trt_splitter.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_normalizer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_tracer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_utils.py
Labels: component: api [Python], cla signed, component: fx, fx

#1058 Add CMake support to build the libraries
  CMakeLists.txt
  Config.cmake.in
  cmake/Modules/FindTensorRT.cmake
  cmake/Modules/FindcuDNN.cmake
  cmake/build_options.cmake
  cmake/dependencies.cmake
  cmake/paths.cmake
  core/CMakeLists.txt
  core/conversion/CMakeLists.txt
  core/conversion/conversionctx/CMakeLists.txt
  core/conversion/converters/CMakeLists.txt
  core/conversion/evaluators/CMakeLists.txt
  core/conversion/tensorcontainer/CMakeLists.txt
  core/conversion/var/CMakeLists.txt
  core/ir/CMakeLists.txt
  core/lowering/CMakeLists.txt
  core/lowering/passes/CMakeLists.txt
  core/lowering/register_trt_placeholder_ops.cpp
  core/partitioning/CMakeLists.txt
  core/partitioning/shape_analysis.cpp
  core/plugins/CMakeLists.txt
  core/runtime/CMakeLists.txt
  core/runtime/runtime.h
  core/util/CMakeLists.txt
  core/util/logging/CMakeLists.txt
  cpp/CMakeLists.txt
  cpp/bin/CMakeLists.txt
  cpp/bin/torchtrtc/CMakeLists.txt
  cpp/include/torch_tensorrt/macros.h
  cpp/include/torch_tensorrt/ptq.h
  cpp/include/torch_tensorrt/torch_tensorrt.h
  docsrc/tutorials/installation.rst
  examples/int8/ptq/CMakeLists.txt
  examples/int8/qat/CMakeLists.txt
  examples/torchtrt_runtime_example/CMakeLists.txt
  third_party/googletest/googletest.cmake
Labels: documentation, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [C++], component: evaluators, component: runtime, component: partitioning, channel: windows, cla signed, release: v1.2
