Repository pytorch/TensorRT, pull requests merged in 2022-10, with the labels that each got.

#1377 [fix] Avoid layer name conflicts in aten::index
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1373 [fix] Fix output dimensions of aten::unbind converter
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1385 Einsum converter
  core/conversion/converters/BUILD
  core/conversion/converters/impl/einsum.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_einsum.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1381 Atan2 converter
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1390 [FX] aten2trt and some pass fixes
  py/torch_tensorrt/fx/README.md
  py/torch_tensorrt/fx/converters/__init__.py
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/converter_utils.py
  py/torch_tensorrt/fx/fx2trt.py
  py/torch_tensorrt/fx/input_tensor_spec.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/lower_setting.py
  py/torch_tensorrt/fx/passes/lower_basic_pass.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_clamp.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_reshape.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_adaptive_avgpool_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_batchnorm_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_binary_ops_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_convolution_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_flatten_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_linear_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_maxpool_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_relu_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_reshape_aten.py
  py/torch_tensorrt/fx/test/quant/test_quant_trt.py
  py/torch_tensorrt/fx/test/tracer/test_acc_tracer.py
  py/torch_tensorrt/fx/test/tracer/test_dispatch_tracer.py
  py/torch_tensorrt/fx/test/trt_lower/test_fx2trt_lower.py
  py/torch_tensorrt/fx/tools/common_fx2trt.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_normalizer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_shape_prop.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_tracer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_utils.py
  py/torch_tensorrt/fx/utils.py
Labels: component: api [Python], cla signed, component: fx, fx

#1391 feat: Add converter for aten::sign unary op
  core/conversion/converters/impl/unary.cpp
  tests/core/conversion/converters/test_unary.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1393 Add support for aten::squeeze without a dim
  core/conversion/converters/impl/squeeze.cpp
  core/util/trt_util.cpp
  core/util/trt_util.h
  tests/core/conversion/converters/test_squeeze.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1392 [fix] incorrect casting behavior in floor_divide
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1397 chore: minor fixes
  BUILD
  tests/core/partitioning/test_conditionals.cpp
  tests/core/partitioning/test_fallback_graph_output.cpp
  tests/core/partitioning/test_loop_fallback.cpp
  tests/core/partitioning/test_resolve_nontensor_inputs.cpp
  tests/cpp/cpp_api_test.h
  tests/cpp/test_collections.cpp
  tests/cpp/test_compiled_modules.cpp
  tests/cpp/test_default_input_types.cpp
  tests/cpp/test_example_tensors.cpp
  tests/cpp/test_module_fallback.cpp
  tests/cpp/test_modules_as_engines.cpp
  tests/cpp/test_multi_gpu_serde.cpp
  tests/cpp/test_multiple_registered_engines.cpp
  tests/cpp/test_runtime_thread_safety.cpp
  tests/cpp/test_serialization.cpp
  tests/modules/hub.py
  tests/util/util.cpp
  tests/util/util.h
Labels: component: tests, component: build system, cla signed

#1395 fix: `torch.std` and `torch.var` support multi-dimensional reductions
  core/lowering/passes/unpack_var.cpp
  tests/core/conversion/converters/test_reduce.cpp
  tests/core/lowering/test_unpack_reduce_ops.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1400 Add correct pip install instructions
  README.md
  pyproject.toml
Labels: cla signed

#1403 fix: `aten::split` behavior with negative indexing
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1409 fix: fix compilation stuck bug caused by elimination exception
  core/lowering/lowering.cpp
  core/lowering/passes/exception_elimination.cpp
Labels: component: lowering, component: core, cla signed

#1415 [FX] Fix clamping float32 boundary values, aten2trt init check-in, fix slice issues
  docs/_sources/tutorials/ptq.rst.txt
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/passes/lower_basic_pass.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_clamp.py
  py/torch_tensorrt/fx/test/passes/test_fix_reshape_batch_dim.py
  py/torch_tensorrt/fx/test/tracer/test_acc_tracer.py
  py/torch_tensorrt/fx/test/tracer/test_dispatch_tracer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
Labels: documentation, component: api [Python], cla signed, component: fx, fx

#1421 [feat]Add converter for aten::where
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1422 [feat]Add converter support for aten::frobenius_norm
  core/conversion/converters/impl/normalize.cpp
  tests/core/conversion/converters/test_normalize.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1420 fix: `aten::einsum` schema switch for Torch 1.14 nightly
  core/conversion/converters/impl/einsum.cpp
  tests/core/conversion/converters/test_einsum.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed, release: v1.4
