Repository pytorch/TensorRT, pull requests merged in 2022-03, with the labels that each got.

#906 fix: Typo fix for test case name
  noxfile.py
  tests/py/BUILD
  tests/py/test_trt_intercompatibility.py
Labels: component: tests

#918 aten::pow support
  core/conversion/conversion.cpp
  core/conversion/evaluators/aten.cpp
  core/conversion/evaluators/eval_macros.h
  noxfile.py
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: tests, component: conversion, component: core, component: evaluators

#905 Feat 865
  py/torch_tensorrt/logging.py
  tests/py/test_api.py
Labels: component: tests, component: api [Python]
