Repository pytorch/TensorRT, pull requests merged in 2022-08, with the labels that each got.

#1217 Fix typo in EfficientNet-example
  notebooks/EfficientNet-example.ipynb
Labels: cla signed

#1225 fix: fix the error that collection input segmented into trt subgraph
  core/partitioning/partitioning.cpp
Labels: component: core, component: partitioning, cla signed

#1221 [FX] Changes done internally at Facebook
  py/torch_tensorrt/fx/fx2trt.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/lower_setting.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/tools/trt_splitter.py
Labels: component: api [Python], cla signed, component: fx, fx

#1088 Fix errors in unbind and list slice
  core/conversion/converters/impl/select.cpp
  core/conversion/evaluators/aten.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, component: evaluators, cla signed

#1175 Adding a Resnet C++ example
  notebooks/Resnet50-CPP.ipynb
  notebooks/images/Torch-TensorRT-CPP-inference.JPG
Labels: cla signed

#1224 [FX] disable 2 of conv3d and type_as tests
  .circleci/config.yml
  core/conversion/conversionctx/ConversionCtx.cpp
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/select.cpp
  core/lowering/register_trt_placeholder_ops.cpp
  core/partitioning/partitioning.cpp
  cpp/bin/torchtrtc/main.cpp
  py/torch_tensorrt/csrc/register_tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/fx/test/converters/acc_op/test_convolution.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_type_as.py
  tests/core/conversion/converters/test_cast.cpp
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: api [Python], component: api [C++], component: partitioning, cla signed, component: fx, fx

#1232 [feat] Add support for integers in aten::abs converter (#35)
  core/conversion/converters/impl/unary.cpp
  tests/core/conversion/converters/test_unary.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1242 Update PTQ example to fix new compile_spec requirements
  docsrc/tutorials/ptq.rst
Labels: documentation, cla signed

#1201 feat: support for grouped inputs
  core/compiler.cpp
  core/compiler.h
  core/conversion/conversion.cpp
  core/conversion/conversion.h
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/evaluators/aten.cpp
  core/conversion/evaluators/eval_util.cpp
  core/conversion/evaluators/eval_util.h
  core/conversion/evaluators/prim.cpp
  core/ir/BUILD
  core/ir/GraphInputs.cpp
  core/ir/StaticParams.cpp
  core/ir/ir.cpp
  core/ir/ir.h
  core/lowering/lowering.cpp
  core/partitioning/partitioning.cpp
  core/partitioning/shape_analysis.cpp
  core/partitioning/shape_analysis.h
  cpp/include/torch_tensorrt/torch_tensorrt.h
  cpp/src/compile_spec.cpp
  cpp/src/torch_tensorrt.cpp
  py/torch_tensorrt/csrc/register_tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.h
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  py/torch_tensorrt/ts/_compile_spec.py
  py/torch_tensorrt/ts/_compiler.py
  tests/core/conversion/converters/test_element_wise.cpp
  tests/core/conversion/evaluators/test_prim_evaluators.cpp
  tests/core/partitioning/test_resolve_nontensor_inputs.cpp
  tests/core/partitioning/test_shape_analysis.cpp
  tests/cpp/BUILD
  tests/cpp/test_collections.cpp
  tests/cpp/test_example_tensors.cpp
  tests/modules/custom_models.py
  tests/modules/hub.py
  tests/modules/requirements.txt
  tests/py/api/test_collections.py
  tests/py/model_test_case.py
  tests/py/requirements.txt
  tests/util/evaluate_graph.cpp
  tests/util/run_graph_engine.cpp
  tools/linter/utils.py
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: api [Python], component: api [C++], component: evaluators, component: partitioning, cla signed, release: v1.2

#1219 feat: Added support for custom torch operators and converters in torchtrtc
  cpp/bin/torchtrtc/BUILD
  cpp/bin/torchtrtc/CMakeLists.txt
  cpp/bin/torchtrtc/README.md
  cpp/bin/torchtrtc/main.cpp
  docsrc/tutorials/torchtrtc.rst
Labels: documentation, component: api [C++], component: torchtrtc, cla signed, release: v1.2

#1234 Add outputPadding in deconv
  core/conversion/converters/impl/conv_deconv.cpp
  tests/core/conversion/converters/test_conv_deconv.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed, release: v1.2

#1239 added qat-ptq workflow notebook
  notebooks/qat-ptq-workflow.ipynb
Labels: cla signed

#1246 fix: Update cmake for the new collection files
  .gitignore
  core/ir/CMakeLists.txt
Labels: component: core, cla signed

#1249 chore: ignore dist dir for pre-commit
  .github/actions/assigner/dist/index.js
  .github/actions/assigner/package-lock.json
  .github/actions/assigner/package.json
  .pre-commit-config.yaml
Labels: cla signed

#1250 chore: Aligning bazel version for consistency across different docker…
  README.md
  docker/Dockerfile
  docker/Dockerfile.docs
  docker/Dockerfile.ngc
  docker/setup_nox.sh
Labels: documentation, cla signed, channel: docker

#1247 refactor: Changed the hardcoded values to macros for DLA memory sizes
  core/conversion/conversionctx/ConversionCtx.cpp
  core/conversion/conversionctx/ConversionCtx.h
  core/util/macros.h
Labels: component: conversion, component: core, cla signed

#1251 chore: update jetson pytorch baase
  .circleci/config.yml
Labels: cla signed

#1240 [feat] Add automatic type promotion to element-wise ops
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1259 Assorted small fixes
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/converters/impl/unary.cpp
  core/conversion/evaluators/aten.cpp
  core/conversion/evaluators/prim.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: tests, component: conversion, component: core, component: converters, component: evaluators, cla signed, release: v1.2

#1236 fix: fix the "schema not found for node" error
  core/partitioning/partitioning.cpp
Labels: component: core, component: partitioning, cla signed, release: v1.2

#1268 chore: Fix contributing doc
  CONTRIBUTING.md
Labels: documentation, cla signed

#1252 feat: support scatter.value and scatter.src
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/converters/impl/select.cpp
  core/lowering/passes/op_aliasing.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, cla signed

#1273 Fix typo in README
  README.md
Labels: cla signed

#1270 Support swin/bert with dynamic batch
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/converters/impl/select.cpp
  core/conversion/converters/impl/shuffle.cpp
Labels: component: conversion, component: core, component: converters, cla signed

#1275 Update release 1.2
  README.md
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/converters/impl/select.cpp
  core/conversion/converters/impl/shuffle.cpp
Labels: cla signed

#1278 correct sha256sum of cudnn
  WORKSPACE
Labels: component: build system, cla signed

#1279 Update release branch
  WORKSPACE
Labels: cla signed

#1288 [FX] Changes done internally at Facebook
  docsrc/tutorials/getting_started_with_fx_path.rst
  examples/fx/lower_example.py
  examples/fx/torchdynamo_example.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/fx/__init__.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/lower_setting.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_type_as.py
  py/torch_tensorrt/fx/test/passes/test_graph_opts.py
  py/torch_tensorrt/fx/test/trt_lower/test_diagnostics.py
  py/torch_tensorrt/fx/tools/trt_profiler_sorted.py
Labels: documentation, component: api [Python], cla signed, component: fx, fx

#1292 chore: Fix dataloader in finetune_qat script
  examples/int8/training/vgg16/finetune_qat.py
Labels: Upstreaming PR, component: quantization, cla signed

#1291 chore: Truncate long and double for ptq CPP path
  examples/int8/ptq/main.cpp
Labels: Upstreaming PR, component: quantization, cla signed

#1286 feat: Add support for aten::square
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1289 fix: fix misleading skipping partitioning msg
  core/compiler.cpp
Labels: component: core, cla signed

#1283 fix: Add int support to constant_pad_nd
  core/conversion/converters/impl/constant_pad.cpp
  tests/core/conversion/converters/test_constant_pad.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1284 fix: Resolve non-determinism in registerSegmentsOutputs
  core/partitioning/partitioning.cpp
Labels: component: core, component: partitioning, cla signed

#1294 docs: Update docgen task
  .github/workflows/docgen.yml
  core/compiler.cpp
  docsrc/Makefile
  docsrc/WORKSPACE.docs
  docsrc/cli/torchtrtc.rst
  docsrc/getting_started/getting_started_with_cpp_api.rst
  docsrc/getting_started/getting_started_with_python_api.rst
  docsrc/getting_started/installation.rst
  docsrc/index.rst
  docsrc/py_api/fx.rst
  docsrc/py_api/torch_tensorrt.rst
  docsrc/tutorials/getting_started_with_fx_path.rst
  docsrc/tutorials/notebooks.rst
  py/requirements.txt
  py/torch_tensorrt/fx/__init__.py
  tests/core/conversion/converters/test_select.cpp
Labels: documentation, component: tests, component: core, component: api [Python], cla signed, component: fx, fx

#1297 update fx notebook
  notebooks/getting_started_with_fx_path_lower_to_trt.ipynb
Labels: cla signed

#1299 [FX] Changes done internally at Facebook
  py/torch_tensorrt/fx/__init__.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
Labels: component: api [Python], cla signed, component: fx, fx

#1301 fix(tools): Fix linter to not depend on docker
  .github/workflows/linter.yml
Labels: cla signed

#1302 fix(tools): Fix linter to not depend on docker (#1301)
  .github/workflows/linter.yml
Labels: cla signed

#1309 Support multiple indices for aten::index.Tensor
  core/conversion/converters/impl/select.cpp
  core/conversion/evaluators/prim.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, component: evaluators, cla signed

#1310 chore: Adding CMake to the CI
  .circleci/config.yml
Labels: cla signed

#1315 feat: Upgrade Pytorch to 1.12.1 and TensorRT to 8.4.3.1
  .circleci/config.yml
  README.md
  WORKSPACE
  py/requirements.txt
Labels: component: build system, component: api [Python], cla signed

#1314 Fix bug: correct the output shape of `aten::index.Tensor`
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1313 feat (//core/conversion) : Add converter for torch.repeat_interleave (
  core/conversion/converters/impl/expand.cpp
  tests/core/conversion/converters/test_expand.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1311 chore: Adding NGC build path
  .circleci/config.yml
Labels: cla signed

#1324 Update lower.py
  py/torch_tensorrt/fx/lower.py
Labels: component: api [Python], cla signed, component: fx, fx
