Repository pytorch/TensorRT, pull requests merged in 2022-09, with the labels that each got.

#1330 fix!: Fixed Windows compilation failures
  core/partitioning/shape_analysis.cpp
  cpp/bin/torchtrtc/main.cpp
  cpp/include/torch_tensorrt/torch_tensorrt.h
Labels: component: core, component: api [C++], component: partitioning, channel: windows, cla signed

#1312 [feat] Add support for argmax and argmin
  core/conversion/converters/impl/max.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_max.cpp
  tests/core/conversion/converters/test_topk.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1337 chore: Adding a guideline to build on Windows platform
  docsrc/getting_started/getting_started_with_windows.rst
Labels: documentation, component: build system, channel: windows, cla signed

#1254 feat(//tools/perf): Refactor perf_run.py, add fx2trt backend support, usage via CLI arguments
  tools/perf/README.md
  tools/perf/benchmark.sh
  tools/perf/config/vgg16.yml
  tools/perf/custom_models.py
  tools/perf/hub.py
  tools/perf/perf_run.py
  tools/perf/utils.py
Labels: cla signed

#1329 refactor(//tests) : Refactor the test suite
  .circleci/config.yml
  .github/workflows/docgen.yml
  .github/workflows/linter.yml
  noxfile.py
  py/torch_tensorrt/ptq.py
  py/torch_tensorrt/ts/_compile_spec.py
  tests/core/lowering/test_module_fallback_passes.cpp
  tests/core/partitioning/test_fallback_graph_output.cpp
  tests/cpp/test_collections.cpp
  tests/cpp/test_compiled_modules.cpp
  tests/cpp/test_module_fallback.cpp
  tests/cpp/test_modules_as_engines.cpp
  tests/cpp/test_multi_gpu_serde.cpp
  tests/cpp/test_multiple_registered_engines.cpp
  tests/py/api/test_collections.py
  tests/py/api/test_e2e_behavior.py
  tests/py/api/test_embed_engines.py
  tests/py/api/test_module_fallback.py
  tests/py/api/test_operator_fallback.py
  tests/py/api/test_ts_backend.py
  tests/py/api/utils.py
  tests/py/hw/test_api_dla.py
  tests/py/hw/test_multi_gpu.py
  tests/py/hw/utils.py
  tests/py/integrations/test_to_backend_api.py
  tests/py/integrations/test_trt_intercompatibility.py
  tests/py/integrations/utils.py
  tests/py/models/custom_models.py
  tests/py/models/test_models.py
  tests/py/models/test_multiple_registered_engines.py
  tests/py/models/utils.py
  tests/py/ptq/test_ptq_dataloader_calibrator.py
  tests/py/utils.py
  tests/util/util.cpp
  tests/util/util.h
Labels: component: tests, component: api [Python], cla signed

#1308 [feat] add support for aten::reciprocal(int)
  core/conversion/converters/impl/unary.cpp
  tests/core/conversion/converters/test_unary.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1342 [FX] Update getting_started_with_fx_path.rst
  docsrc/tutorials/getting_started_with_fx_path.rst
Labels: documentation, cla signed

#1343 Update getting_started_with_fx_path.rst
  docsrc/tutorials/getting_started_with_fx_path.rst
Labels: documentation, cla signed

#1344 enable direct call to fx.compile()
  examples/fx/lower_example.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/fx/__init__.py
Labels: component: api [Python], cla signed, component: fx, fx

#1345 fix: add remove_exception pass from torch to fix uninitialized tensor…
  core/lowering/passes/exception_elimination.cpp
Labels: component: lowering, component: core, cla signed

#1347 chore: apply linting to docs
  docsrc/getting_started/getting_started_with_windows.rst
  docsrc/tutorials/getting_started_with_fx_path.rst
Labels: documentation, cla signed

#1285 fix: Fixing pybind error on nightly
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
Labels: component: api [Python], Upstreaming PR, cla signed

#1367 chore: Fix centralized partititoning
  BUILD
  core/partitioning/CMakeLists.txt
  core/partitioning/shape_analysis.cpp
  py/setup.py
  tests/core/conversion/converters/test_topk.cpp
  tests/util/util.cpp
Labels: component: tests, component: core, component: build system, component: api [Python], component: partitioning, cla signed
