Repository pytorch/TensorRT, pull requests merged in 2022-05, with the labels that each got.

#1012 fix: support dict type for input in shape analysis
  core/partitioning/shape_analysis.cpp
Labels: component: core, component: partitioning

#1003 feat: Added compute capability for Orin
  core/lowering/register_trt_placeholder_ops.cpp
  core/runtime/runtime.cpp
Labels: component: lowering, component: core, component: runtime

#994 Fixes for CI pipeline pre-cxx11 pipeline
  tests/py/test_ptq_dataloader_calibrator.py
  tests/py/test_ptq_to_backend.py
  tests/py/test_ptq_trt_calibrator.py
  tests/py/test_trt_intercompatibility.py
Labels: component: tests, component: api [Python]

#1024 fix: refactor the resegmentation in ResolveNonTensorInputs
  core/partitioning/partitioning.cpp
  core/partitioning/shape_analysis.cpp
Labels: component: core, component: partitioning

#1028 fix: Resolve issues in exception elimination pass
  core/lowering/passes/exception_elimination.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_exception_elimination_pass.cpp
Labels: component: lowering

#1004 fix(//core/runtime): Support more delimiter variants
  core/ir/ir.cpp
  core/runtime/TRTEngine.cpp
  core/runtime/runtime.h
  cpp/include/torch_tensorrt/torch_tensorrt.h
  py/torch_tensorrt/ts/_compiler.py
  tests/util/run_graph_engine.cpp
Labels: component: tests, component: core, component: api [Python], component: api [C++], component: runtime

#1033 Fixing some issues with the master branch
  core/conversion/evaluators/aten.cpp
  core/lowering/passes/exception_elimination.cpp
  core/lowering/register_trt_placeholder_ops.cpp
  core/partitioning/partitioning.cpp
  tests/accuracy/test_fp16_accuracy.cpp
  tests/core/lowering/test_exception_elimination_pass.cpp
Labels: component: tests, component: lowering, component: conversion, component: core, component: evaluators, component: partitioning

#1039 chore: Typo fix. Stray semicolon in core file
  core/lowering/passes/linear_to_addmm.cpp
Labels: component: lowering, component: core

#1042 chore: update the release system for python
  py/Dockerfile
  py/build_whl.sh
Labels: component: api [Python]

#1063 docs: Update the documentation theme to PyTorch
  .github/workflows/docgen.yml
  .github/workflows/linter.yml
  .gitignore
  docsrc/conf.py
  docsrc/requirements.txt
  py/setup.py
Labels: documentation, component: api [Python], cla signed

#1064 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla signed

#1022 feat: Optimize hub.py download
  .gitignore
  py/setup.py
  tests/core/lowering/test_module_fallback_passes.cpp
  tests/modules/custom_models.py
  tests/modules/hub.py
Labels: documentation, component: tests, component: lowering, component: core, component: api [Python], cla signed

#1078 Adding an action to automatically assign reviewers and assignees
  .github/actions/assigner/.gitattributes
  .github/actions/assigner/.gitignore
  .github/actions/assigner/action.yml
  .github/actions/assigner/dist/index.js
  .github/actions/assigner/package-lock.json
  .github/actions/assigner/package.json
  .github/actions/assigner/src/main.ts
  .github/actions/assigner/tsconfig.json
  .github/code-owners.yml
  .github/workflows/assigner.yml
  package-lock.json
Labels: cla signed

#1080 Add PR assigner support
  .github/actions/assigner/dist/index.js
  .github/actions/assigner/src/main.ts
Labels: cla signed

#991 (//core): Align with prim::Enter in module fallback
  core/lowering/passes/module_fallback.cpp
Labels: component: lowering, component: core, Upstreaming PR, cla signed

#992 (//core): Added a variant for aten::split
  core/conversion/converters/impl/select.cpp
Labels: component: conversion, component: core, component: converters, Upstreaming PR, cla signed

#1057 feat(nox): Replacing session with environment variable
  README.md
  noxfile.py
Labels: component: tests, cla signed
