Repository pytorch/TensorRT, pull requests merged in 2022-02, with the labels that each got.

#839 Fix arange
  core/conversion/evaluators/aten.cpp
  core/partitioning/SegmentedBlock.h
  core/partitioning/partitioning.cpp
Labels: component: conversion, component: core, component: evaluators, component: partitioning

#782 refactor: removing the strict_types and max_batch_size apis
  WORKSPACE
  core/conversion/conversionctx/ConversionCtx.cpp
  core/conversion/conversionctx/ConversionCtx.h
  cpp/bin/torchtrtc/README.md
  cpp/include/torch_tensorrt/torch_tensorrt.h
  cpp/src/compile_spec.cpp
  docsrc/tutorials/ptq.rst
  docsrc/tutorials/torchtrtc.rst
  docsrc/tutorials/use_from_pytorch.rst
  examples/int8/ptq/main.cpp
  examples/int8/qat/main.cpp
  py/torch_tensorrt/csrc/register_tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.h
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  py/torch_tensorrt/ts/_compile_spec.py
  py/torch_tensorrt/ts/_compiler.py
  tests/accuracy/test_dla_int8_accuracy.cpp
  tests/accuracy/test_int8_accuracy.cpp
  tests/cpp/test_runtime_thread_safety.cpp
  tests/py/test_to_backend_api.py
Labels: documentation, component: tests, component: conversion, component: core, component: build system, component: api [Python], component: api [C++]

#850 feat(aten::__range_length): Adding range length evaluator
  core/conversion/evaluators/aten.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: tests, component: conversion, component: core, component: evaluators

#759 fix: Fix when TRT prunes away an output
  core/conversion/conversion.cpp
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
Labels: component: conversion, component: core, component: converters

#871 fixed broken link in runtime tutorial
  docs/v1.0.0/tutorials/runtime.html
Labels: documentation

#778 Refactor the CLI
  cpp/bin/torchtrtc/BUILD
  cpp/bin/torchtrtc/README.md
  cpp/bin/torchtrtc/accuracy.cpp
  cpp/bin/torchtrtc/accuracy.h
  cpp/bin/torchtrtc/fileio.cpp
  cpp/bin/torchtrtc/fileio.h
  cpp/bin/torchtrtc/luts.h
  cpp/bin/torchtrtc/main.cpp
  cpp/bin/torchtrtc/parser_util.cpp
  cpp/bin/torchtrtc/parser_util.h
  docsrc/tutorials/torchtrtc.rst
Labels: documentation, component: api [C++]

#891 chore: Update CI container deps
  WORKSPACE
  docker/Dockerfile.docs
Labels: component: build system

#896 feat: Add converter files for reflection pad 1d and 2d
  core/conversion/converters/impl/reflection_pad.cpp
  tests/core/conversion/converters/test_reflection_pad.cpp
Labels: component: tests, component: conversion, component: core, component: converters

#892 Support aten extend
  core/conversion/evaluators/aten.cpp
  core/conversion/var/Var.cpp
  core/conversion/var/Var.h
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: tests, component: conversion, component: core, component: evaluators
