Repository pytorch/TensorRT, pull requests merged in 2022-12, with the labels that each got.

#1507 refactor: Split elementwise tests
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_add_sub_mul.cpp
  tests/core/conversion/converters/test_atan2.cpp
  tests/core/conversion/converters/test_clamp.cpp
  tests/core/conversion/converters/test_comparators.cpp
  tests/core/conversion/converters/test_div.cpp
  tests/core/conversion/converters/test_element_wise.cpp
  tests/util/BUILD
  tests/util/util.cpp
  tests/util/util.h
Labels: component: tests, cla signed

#1512 Support aten::sum with bool tensor input
  core/conversion/converters/impl/reduce.cpp
  tests/core/conversion/converters/test_reduce.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1513 [fix]Disambiguate cast layer names
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/cast.cpp
  tests/core/conversion/converters/test_cast.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1506 feat: Add functionality for easily benchmarking fx code on key models
  tools/perf/benchmark.sh
  tools/perf/hub.py
  tools/perf/perf_run.py
  tools/perf/utils.py
Labels: cla signed

#1517 [feat]Canonicalize aten::multiply to aten::mul
  core/lowering/passes/op_aliasing.cpp
  tests/core/lowering/test_operator_aliasing_pass.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1457 broadcast the two input shapes for transposed matmul
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/test/passes/test_fuse_permute_matmul_trt.py
Labels: component: api [Python], cla signed, component: fx, fx

#1470 make padding layer converter more efficient
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/test/passes/test_fuse_permute_matmul_trt.py
Labels: component: api [Python], cla signed, component: fx, fx

#1539 fix: Change equals-check from reference to value for BERT model not compiling in FX
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
Labels: component: api [Python], cla signed, component: fx, fx

#1540 Update README dependencies section for v1.3.0
  README.md
Labels: cla signed

#1533 fix: `aten::where` with differing-shape inputs bugfix
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1541 fix: Automatically send truncated long ints to cuda at shape analysis time
  core/lowering/lowering.h
  core/partitioning/partitioninginfo/PartitioningInfo.h
  core/partitioning/shape_analysis.cpp
  cpp/src/compile_spec.cpp
Labels: component: lowering, component: core, component: api [C++], component: partitioning, cla signed

#1529 feat: Add functionality to FX benchmarking + Improve documentation
  tools/perf/README.md
  tools/perf/hub.py
  tools/perf/perf_run.py
  tools/perf/utils.py
Labels: cla signed

#1554 [fix] Fix crash when calling unbind on evaluated tensor
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1559 Update test_flatten_aten and test_reshape_aten due to PT2.0 changed tracer behavior for these ops
  py/torch_tensorrt/fx/test/converters/aten_op/test_flatten_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_reshape_aten.py
Labels: component: api [Python], cla signed, component: fx, fx

#1561 fix: Bugfix for `align_corners=False`- FX interpolate
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_interpolate.py
Labels: component: api [Python], cla signed, component: fx, fx

#1549 fix: Properly cast intermediate Int8 tensors to TensorRT Engines in Fallback
  core/partitioning/partitioninginfo/PartitioningInfo.h
  core/partitioning/shape_analysis.cpp
  core/util/trt_util.cpp
  cpp/src/compile_spec.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  tests/core/partitioning/test_type_auto_conversion.cpp
Labels: component: tests, component: core, component: api [Python], component: api [C++], component: partitioning, cla signed
