Repository pytorch/TensorRT, pull requests merged in 2022-04, with the labels that each got.

#943 fix bug stack when dim -1
  core/conversion/converters/impl/stack.cpp
  tests/core/conversion/converters/test_stack.cpp
Labels: component: converters

#903 fix: Considering rtol and atol in threshold comparison for floating p…
  tests/util/util.cpp
  tests/util/util.h
Labels: component: tests

#932 Suppress code location errors by default and in debug mode, show the list of unsupported ops in debug mode for better readability.
  core/compiler.cpp
  core/conversion/conversion.cpp
Labels: component: conversion, component: core

#902 fix(//core): Take user setting in the case we can't determine the
  core/compiler.cpp
Labels: component: core

#965 feat: Upgrade TensorRT to 8.2.4.2
  README.md
  WORKSPACE
Labels: component: build system

#962 fix: Use user provided dtype when we can't infer it from the graph
  core/compiler.cpp
  core/ir/Input.cpp
  py/setup.py
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
Labels: component: core, component: api [Python], component: api [C++]

#933 feat: Enable prim::DictConstruct to fallback without conversion check
  core/conversion/conversion.cpp
Labels: component: conversion, component: core

#870 Adding limited support for aten::Int
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/passes.h
  core/lowering/passes/remove_set_attrs.cpp
  core/lowering/passes/remove_unnecessary_casts.cpp
  noxfile.py
  tests/core/lowering/BUILD
  tests/core/lowering/test_remove_unnecessary_casts.cpp
  tests/cpp/cpp_api_test.h
  tests/cpp/test_compiled_modules.cpp
  tests/cpp/test_default_input_types.cpp
  tests/cpp/test_example_tensors.cpp
  tests/cpp/test_modules_as_engines.cpp
  tests/cpp/test_multi_gpu_serde.cpp
  tests/cpp/test_serialization.cpp
  tests/modules/hub.py
  tests/modules/requirements.txt
Labels: component: tests, component: lowering, component: core

#845 fix: Implement a patch for gelu schema change in older NGC containers
  core/lowering/passes/reduce_gelu.cpp
  tests/core/lowering/test_reduce_gelu.cpp
Labels: component: tests, component: lowering, component: core, Upstreaming PR

#940 fix: truncate_long_and_double incur torchscript inference issues
  core/partitioning/shape_analysis.cpp
Labels: component: core, component: api [C++], component: partitioning

#967 feat: Update Pytorch version to 1.11
  README.md
  WORKSPACE
  core/conversion/evaluators/eval_util.cpp
  core/lowering/passes/linear_to_addmm.cpp
  core/partitioning/shape_analysis.cpp
  py/requirements.txt
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
  tests/cpp/test_modules_as_engines.cpp
  tests/modules/requirements.txt
  tests/py/requirements.txt
  tests/util/util.h
  third_party/libtorch/BUILD
Labels: component: tests, component: lowering, component: conversion, component: core, component: build system, component: api [Python], component: evaluators, component: partitioning

#958 fix: fix bugs in aten::to
  core/conversion/converters/impl/cast.cpp
  core/lowering/passes/reduce_to.cpp
Labels: component: lowering, component: conversion, component: core, component: converters

#971 Torch-TensorRT 1.1.0
  .bazelversion
  core/lowering/passes/linear_to_addmm.cpp
  core/lowering/passes/reduce_gelu.cpp
  core/partitioning/partitioning.cpp
  core/partitioning/shape_analysis.cpp
  docker/Dockerfile
  docker/Dockerfile.docs
  docker/WORKSPACE.docs
  docker/setup_nox.sh
  tests/util/util.h
Labels: component: tests, component: lowering, component: core, component: partitioning

#975 fix: update the test for aten::to for ngc branch
  tests/core/lowering/test_reduce_to_pass.cpp
Labels: component: tests

#974 test: update the test for aten::to after fixing
  tests/core/lowering/test_reduce_to_pass.cpp
Labels: component: tests

#980 Adding test case for Pr934
  core/conversion/converters/BUILD
  core/conversion/converters/impl/max.cpp
  tests/core/conversion/converters/test_topk.cpp
Labels: component: tests, component: conversion, component: core, component: converters

#976 If loop support
  core/conversion/conversion.cpp
  core/conversion/evaluators/eval_util.cpp
  core/conversion/evaluators/eval_util.h
  core/conversion/evaluators/prim.cpp
  noxfile.py
  py/requirements.txt
  tests/core/lowering/test_reduce_to_pass.cpp
Labels: component: tests, component: conversion, component: core, component: api [Python], component: evaluators

#966 Added Dynamic shapes example notebook
  docsrc/index.rst
  notebooks/dynamic-shapes.ipynb
Labels: documentation

#951 (//ci): Setup of CI workflow
  .github/workflows/blossom-ci.yml
  core/lowering/register_trt_placeholder_ops.cpp
  noxfile.py
Labels: component: lowering, component: core

#988 Added a tutorial notebook for optimizing a Hugging Face BERT transformer for masked language modeling
  docsrc/index.rst
  notebooks/Hugging-Face-BERT.ipynb
Labels: documentation
