Repository pytorch/TensorRT, pull requests merged in 2022-11, with the labels that each got.

#1435 chore: Update torch installation paths for NGC
  docker/WORKSPACE.ngc
Labels: cla signed

#1304 [feat] Add dependency awareness to torch-trt partitioning
  core/partitioning/partitioning.cpp
  core/partitioning/segmentedblock/SegmentedBlock.h
  docsrc/contributors/partitioning.rst
  tests/core/partitioning/test_conditionals.cpp
  tests/core/partitioning/test_resolve_nontensor_inputs.cpp
  tests/core/partitioning/test_segmentation.cpp
Labels: documentation, component: tests, component: core, component: partitioning, cla signed

#1427 docs: minor changes in Resnet50 example
  notebooks/Resnet50-example.ipynb
Labels: cla signed

#1430 fix: Ensure proper type inheritance in `aten::masked_fill`
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed, release: v1.3

#1438 chore: Nox file update from NGC 22.11 release
  noxfile.py
Labels: cla signed

#1439 fix: Add check to ensure einsum converter has no more than 2 tensor inputs
  core/conversion/converters/impl/einsum.cpp
Labels: component: conversion, component: core, component: converters, cla signed

#1426 [feat] Add partial converter support for aten::linalg_norm
  core/conversion/converters/impl/normalize.cpp
  tests/core/conversion/converters/test_normalize.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1443 chore: Lint `noxfile.py`
  noxfile.py
Labels: cla signed

#1424 fix: CUDA error 710 bugfix
  core/partitioning/shape_analysis.cpp
Labels: component: core, component: partitioning, cla signed, release: v1.3

#1448 scalar_to_tensor avoid scalar.to<float>()
  core/conversion/converters/impl/element_wise.cpp
Labels: component: conversion, component: core, component: converters, cla signed

#1298 feat: rewriting param to a Constant if it's a introduced input
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/CMakeLists.txt
  core/lowering/passes/passes.h
  core/lowering/passes/rewrite_inputs_with_params.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_rewrite_inputs_with_params.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1407 feat: support int64 <=> int32 auto conversion
  core/partitioning/partitioning.cpp
  core/partitioning/shape_analysis.cpp
  tests/core/partitioning/BUILD
  tests/core/partitioning/test_type_auto_conversion.cpp
Labels: component: tests, component: core, component: partitioning, cla signed, release: v1.3

#1416 fix: Device casting issues with certain `aten` operators
  core/conversion/conversionctx/BUILD
  core/conversion/conversionctx/ConversionCtx.h
  core/ir/ir.h
  core/lowering/BUILD
  core/lowering/CMakeLists.txt
  core/lowering/lowering.cpp
  core/lowering/lowering.h
  core/lowering/passes/BUILD
  core/lowering/passes/CMakeLists.txt
  core/lowering/passes/device_casting.cpp
  core/lowering/passes/passes.h
  core/runtime/execute_engine.cpp
  cpp/src/compile_spec.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_device_casting.cpp
Labels: component: tests, component: lowering, component: conversion, component: core, component: api [C++], component: runtime, cla signed, release: v1.3

#1414 feat(//core/partitioning) : Dynamic shapes + fallback
  core/compiler.cpp
  core/ir/ir.h
  core/partitioning/partitioning.cpp
  core/partitioning/partitioning.h
  core/partitioning/partitioningctx/PartitioningCtx.h
  core/partitioning/segmentedblock/SegmentedBlock.cpp
  core/partitioning/segmentedblock/SegmentedBlock.h
  core/partitioning/shape_analysis.cpp
  tests/core/partitioning/test_resolve_nontensor_inputs.cpp
  tests/core/partitioning/test_shape_analysis.cpp
  tests/cpp/BUILD
  tests/cpp/test_dynamic_fallback.cpp
Labels: component: tests, component: core, component: partitioning, cla signed, release: v1.3

#1454 [fix] unmangle_cls_name for variable length mangled tags
  core/lowering/passes/module_fallback.cpp
  core/lowering/passes/passes.h
  tests/core/lowering/test_module_fallback_passes.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1442 fix: Error with `aten::div` when using truncation with Int32 tensor inputs
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/converters/impl/unary.cpp
  tests/core/conversion/converters/test_element_wise.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed, release: v1.3

#1460 fix: fix failed test cases caused by partition API changes
  tests/core/partitioning/test_shape_analysis.cpp
  tests/core/partitioning/test_type_auto_conversion.cpp
Labels: component: tests, cla signed

#1451 feat: Add functionality to performance tooling
  tools/perf/benchmark.sh
  tools/perf/perf_run.py
Labels: component: tooling, cla signed

#1472 chore: remove debug statements from execute_engine
  core/runtime/execute_engine.cpp
Labels: cla signed

#1479 Fix build
  .circleci/config.yml
  WORKSPACE
  core/BUILD
  core/runtime/TRTEngine.cpp
  cpp/CMakeLists.txt
  py/requirements.txt
  py/setup.py
  py/torch_tensorrt/_TRTModuleNext.py
Labels: component: core, component: build system, component: api [Python], component: api [C++], component: runtime, cla signed

#1481 add circle CI signal in README page
  README.md
Labels: cla signed

#1480 fix eisum signature
  core/conversion/converters/impl/einsum.cpp
  tests/core/conversion/converters/test_einsum.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1483 Fix link to CircleCI in README.md
  README.md
Labels: cla signed

#1456 [FX] Changes done internally at Facebook
  docs/_sources/tutorials/ptq.rst.txt
  examples/fx/hugging_face_torchdynamo_example.py
  examples/fx/torchdynamo_example.py
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_cat.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_gelu.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_new_ones.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_to_dtype.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_unary_ops.py
  py/torch_tensorrt/fx/test/core/test_trt_module.py
  py/torch_tensorrt/fx/test/passes/test_setitem_trt.py
  py/torch_tensorrt/fx/test/tools/test_model_packager.py
  py/torch_tensorrt/fx/test/tracer/test_acc_tracer.py
  py/torch_tensorrt/fx/test/tracer/test_dispatch_tracer.py
  py/torch_tensorrt/fx/tools/common_fx2trt.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_tracer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_utils.py
Labels: documentation, component: api [Python], cla signed, component: fx, fx

#1485 Upgrade stack in release/1.3 branch
  .circleci/config.yml
  README.md
  WORKSPACE
  core/conversion/converters/impl/conv_deconv.cpp
  core/conversion/converters/impl/einsum.cpp
  core/runtime/TRTEngine.cpp
  core/runtime/execute_engine.cpp
  docker/WORKSPACE.docker
  py/requirements.txt
  py/torch_tensorrt/fx/converters/convolution.py
  py/torch_tensorrt/fx/test/converters/vanilla/test_convolution_vanilla.py
  py/torch_tensorrt/fx/test/passes/test_fuse_permute_linear_trt.py
  tests/core/conversion/converters/test_einsum.cpp
  tests/core/conversion/converters/test_stack.cpp
  tests/modules/requirements.txt
  tests/util/util.h
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
Labels: component: tests, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: runtime, cla signed, component: fx, fx

#1496 chore: Update URLS and sha for cudnn and TensorRT
  WORKSPACE
Labels: component: build system, cla signed

#1501 chore: update release build system
  py/Dockerfile
  py/build_whl.sh
  py/ci/Dockerfile.ci
  py/ci/build_whl.sh
  py/setup.py
Labels: component: api [Python], cla signed

#1502 cherry-pick newest change from master branch
  docs/_sources/tutorials/ptq.rst.txt
  examples/fx/hugging_face_torchdynamo_example.py
  examples/fx/torchdynamo_example.py
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_cat.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_gelu.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_new_ones.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_to_dtype.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_unary_ops.py
  py/torch_tensorrt/fx/test/core/test_trt_module.py
  py/torch_tensorrt/fx/test/passes/test_setitem_trt.py
  py/torch_tensorrt/fx/test/tools/test_model_packager.py
  py/torch_tensorrt/fx/test/tracer/test_acc_tracer.py
  py/torch_tensorrt/fx/test/tracer/test_dispatch_tracer.py
  py/torch_tensorrt/fx/tools/common_fx2trt.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_tracer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_utils.py
Labels: documentation, component: api [Python], cla signed, component: fx, fx

#1489 fix: Repair Citrinet-1024 compilation issues [Duplicate of PR #1488 for Release 1.3]
  core/conversion/converters/impl/element_wise.cpp
  core/conversion/converters/impl/reduce.cpp
  tests/core/conversion/converters/test_reduce.cpp
Labels: component: tests, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: runtime, cla signed, component: fx, release: v1.3
