Repository pytorch/TensorRT, pull requests merged in 2023-06, with the labels that each got.

#1695 Fixing aten::slice invalid schema and implementing aten::list evaluator
  core/conversion/evaluators/aten.cpp
  tests/core/conversion/evaluators/evaluator_test.bzl
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: tests, component: conversion, component: core, component: evaluators, component: partitioning, cla signed

#1970 fix: Rewrite constant_pad_nd to use a single slice layer for performance
  core/conversion/converters/impl/constant_pad.cpp
Labels: component: conversion, component: core, component: converters, cla signed

#1802 Adding converter aten::chunk in torchscript
  core/conversion/converters/BUILD
  core/conversion/converters/CMakeLists.txt
  core/conversion/converters/impl/chunk.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_chunk.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1998 fix: Repair index used to access tensor bindings
  core/runtime/TRTEngine.cpp
Labels: component: core, component: runtime, cla signed

#1903 Reorg for converters elu and selu (FX Converter Refactor [7/N]) <Target: converter_reorg_proto>
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/impl/activation.py
  py/torch_tensorrt/fx/converters/nn_ops_converters.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_elu_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_selu_aten.py
Labels: component: api [Python], cla signed, component: fx, fx, Story: ATen Op Support

#2017 fix: Repair input range on BERT inputs for CI
  tests/py/models/test_models.py
Labels: component: tests, cla signed

#2001 fix: Refactor assertions in E2E tests for Dynamo
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
Labels: component: api [Python], cla signed, component: dynamo

#2002 chore/fix: Update `TRTInterpreter` impl in Dynamo compile [1 / x]
  py/torch_tensorrt/dynamo/backend/__init__.py
  py/torch_tensorrt/dynamo/backend/_defaults.py
  py/torch_tensorrt/dynamo/backend/_settings.py
  py/torch_tensorrt/dynamo/backend/conversion.py
Labels: component: api [Python], cla signed, component: dynamo, Story: Export/Compile Unification, Story: Dynamo Compile Improvements

#2022 fix: Repair flaky TopK core test
  tests/core/conversion/converters/test_topk.cpp
Labels: component: tests, cla signed

#2005 feat: Add `options` kwargs for Torch compile [3 / x]
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/utils.py
Labels: component: api [Python], cla signed, component: dynamo

#2004 feat: Add support for output data types in `TRTInterpreter` [2 / x]
  py/torch_tensorrt/dynamo/backend/conversion.py
  py/torch_tensorrt/dynamo/fx_ts_compat/fx2trt.py
Labels: component: api [Python], cla signed

#1975 chore: Upgrade Torch nightly to `2.1.0.dev20230605` [4 / x]
  .bazelrc
  .circleci/config.yml
  CMakeLists.txt
  README.md
  WORKSPACE
  py/requirements.txt
  py/setup.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/conversion.py
  py/torch_tensorrt/dynamo/backend/utils.py
  py/torch_tensorrt/dynamo/fx_ts_compat/fx2trt.py
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
Labels: priority: high, component: build system, component: api [Python], cla signed

#2054 fix: Repair output binding indexing scheme in TRT
  core/runtime/execute_engine.cpp
Labels: component: core, component: runtime, cla signed

#2052 fix: Improve logging and kwarg passing in Dynamo
  py/torch_tensorrt/dynamo/backend/__init__.py
  py/torch_tensorrt/dynamo/backend/backends.py
Labels: component: api [Python], cla signed, component: dynamo, Story: Dynamo Compile Improvements

#1955 fix: Add support for fake tensors
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/test/test_specialized_models.py
  py/torch_tensorrt/dynamo/fx_ts_compat/fx2trt.py
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/converter_utils.py
  py/torch_tensorrt/fx/fx2trt.py
  py/torch_tensorrt/fx/trt_module.py
  py/torch_tensorrt/fx/utils.py
Labels: component: api [Python], cla signed, component: fx, fx, component: dynamo, Story: Dynamo Compile Improvements

#1997 fix: Repair argument passing in both Dynamo paths
  py/torch_tensorrt/dynamo/backend/__init__.py
  py/torch_tensorrt/dynamo/backend/conversion.py
  py/torch_tensorrt/dynamo/fx_ts_compat/fx2trt.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower_setting.py
Labels: component: api [Python], cla signed, component: dynamo

#2067 minor fix: Dynamo CI fix due to merge issue
  py/torch_tensorrt/dynamo/fx_ts_compat/fx2trt.py
Labels: component: api [Python], cla signed, component: dynamo, Story: Dynamo Compile Improvements

#1979 feat: Module-Acceleration in Dynamo [5 / x]
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/lowering/__init__.py
  py/torch_tensorrt/dynamo/backend/lowering/_partition.py
  py/torch_tensorrt/dynamo/backend/lowering/_pre_aot_lowering.py
  py/torch_tensorrt/dynamo/backend/lowering/substitutions/__init__.py
  py/torch_tensorrt/dynamo/backend/lowering/substitutions/einsum.py
  py/torch_tensorrt/dynamo/backend/lowering/substitutions/maxpool1d.py
  py/torch_tensorrt/dynamo/backend/test/test_pre_aot_lowering.py
  py/torch_tensorrt/dynamo/backend/test/utils.py
Labels: component: api [Python], cla signed, component: dynamo, Story: Dynamo Compile Improvements

#1972 fix/feat: Move convolution core to `impl` + add feature (FX converter refactor)
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
  py/torch_tensorrt/fx/converters/__init__.py
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/converter_utils.py
  py/torch_tensorrt/fx/converters/convolution.py
  py/torch_tensorrt/fx/converters/impl/convolution.py
  py/torch_tensorrt/fx/converters/nn_ops_converters.py
Labels: component: api [Python], cla signed, component: fx, fx, component: dynamo, Story: Dynamo Compile Improvements
