Repository pytorch/TensorRT, pull requests merged in 2023-07, with the labels that each got.

#2020 chore: Upgrade to CUDA 12.1
  .circleci/config.yml
  README.md
  WORKSPACE
  docker/Dockerfile
  py/ci/build_whl.sh
  py/requirements.txt
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/dynamo/backend/lowering/_decompositions.py
  py/torch_tensorrt/fx/README.md
  py/versions.py
  tests/modules/requirements.txt
  toolchains/ci_workspaces/WORKSPACE.x86_64
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
Labels: component: tests, component: build system, component: api [Python], cla signed, component: fx, fx

#2080 fix: Repair null bindings issue in TRT Engines
  py/torch_tensorrt/dynamo/backend/backends.py
Labels: component: api [Python], cla signed, component: dynamo, Story: Dynamo Compile Improvements

#2085 fix: Add python3 symlink in final container
  docker/Dockerfile
Labels: cla signed

#2003 feat: Add support for `TorchTensorRTModule` in Dynamo [1 / x]
  examples/fx/fx2trt_example_next.py
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/dynamo/_TorchTensorRTModule.py
  py/torch_tensorrt/dynamo/backend/__init__.py
  py/torch_tensorrt/dynamo/backend/_defaults.py
  py/torch_tensorrt/dynamo/backend/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/conversion.py
  py/torch_tensorrt/dynamo/backend/test/test_backend_compiler.py
  py/torch_tensorrt/dynamo/backend/utils.py
  py/torch_tensorrt/dynamo/common_utils/__init__.py
  py/torch_tensorrt/dynamo/common_utils/test_utils.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower_setting.py
  py/torch_tensorrt/dynamo/fx_ts_compat/tools/trt_minimizer.py
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/test/core/test_trt_module.py
  py/torch_tensorrt/fx/tools/trt_minimizer.py
  py/torch_tensorrt/fx/tools/trt_splitter.py
  tests/py/api/test_classes.py
Labels: component: tests, component: api [Python], cla signed, component: fx, fx, component: dynamo

#2091 fix: Repair import error for legacy TS testing
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
Labels: component: api [Python], cla signed, component: fx, component: dynamo

#2099 chore: Update Torch to Jul 3 Nightly
  .circleci/config.yml
  README.md
  WORKSPACE
  py/requirements.txt
  py/torch_tensorrt/dynamo/backend/lowering/_decompositions.py
  py/torch_tensorrt/fx/test/passes/test_fix_reshape_batch_dim.py
  py/torch_tensorrt/fx/test/passes/test_remove_duplicate_output_args.py
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
Labels: component: build system, component: api [Python], component: dependencies, cla signed, component: fx

#2111 fix: Repair graph naming for FX legacy suite
  py/torch_tensorrt/fx/test/passes/test_fix_reshape_batch_dim.py
  py/torch_tensorrt/fx/test/passes/test_remove_duplicate_output_args.py
Labels: component: api [Python], cla signed, component: fx, fx

#2109 DLFW changes
  examples/int8/training/vgg16/requirements.txt
  py/setup.py
  third_party/cuda/BUILD
Labels: component: api [Python], cla signed

#2116 fix: Update CI GPU Class
  .circleci/config.yml
Labels: cla signed

#1859 fix: Replace EliminateExceptions lowering pass
  core/lowering/lowering.cpp
  core/lowering/passes/exception_elimination.cpp
  core/lowering/passes/passes.h
  tests/core/lowering/test_exception_elimination_pass.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#2106 chore: Improve error propagation for torch compile
  py/torch_tensorrt/dynamo/backend/backends.py
Labels: component: api [Python], cla signed, component: dynamo, Story: Dynamo Compile Improvements

#2118 fix: Repair version checking system for Torch
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/_util.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/fx/test/passes/test_fix_reshape_batch_dim.py
  py/torch_tensorrt/fx/test/passes/test_remove_duplicate_output_args.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
  py/torch_tensorrt/fx/utils.py
Labels: component: api [Python], cla signed, component: fx, fx

#2029 feat: Set default ir to dynamo export
  cpp/include/torch_tensorrt/macros.h
  py/torch_tensorrt/_compile.py
  py/versions.py
Labels: component: api [Python], component: api [C++], cla signed

#2114 fix: TRTInterpreter output lacks return value
  py/torch_tensorrt/dynamo/conversion/trt_interpreter.py
Labels: component: api [Python], cla signed, component: dynamo, Story: Export/Compile Unification

#1944 fix/feat: Add Dynamo-only converter registry
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/trt_interpreter.py
  py/torch_tensorrt/dynamo/converter_registry.py
  py/torch_tensorrt/dynamo/lowering/_partition.py
  py/torch_tensorrt/fx/converter_registry.py
Labels: component: tests, component: api [Python], cla signed, component: fx, component: dynamo, Story: Export/Compile Unification

#1983 fix: Add support for `truncate_long_and_double` in Dynamo [8 / x]
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/compile.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/truncate_long_and_double.py
  tests/py/dynamo/backend/test_backend_compiler.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo, Story: Dynamo Compile Improvements

#2137 docs: Update readme to include TRT as a seperate install dep.
  README.md
Labels: cla signed
