Repository pytorch/TensorRT, pull requests merged in 2023-05, with the labels that each got.

#1857 fix: Upgrade to PyTorch 2.0.1 Release Candidate + Other improvements
  .circleci/config.yml
  README.md
  WORKSPACE
  docker/Dockerfile
  docker/README.md
  docker/WORKSPACE.docker
  docker/WORKSPACE.ngc
  docker/dist-build.sh
  py/requirements.txt
  py/setup.py
  py/torch_tensorrt/fx/README.md
  py/torch_tensorrt/fx/test/passes/test_fuse_permute_linear_trt.py
  py/versions.py
  pyproject.toml
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
Labels: component: tests, component: core, component: build system, component: api [Python], component: runtime, cla signed, component: fx

#1807 feat: Refactor FX APIs under dynamo namespace for parity with TS APIs
  .circleci/config.yml
  py/setup.py
  py/torch_tensorrt/_Device.py
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/fx_ts_compat/README.md
  py/torch_tensorrt/dynamo/fx_ts_compat/__init__.py
  py/torch_tensorrt/dynamo/fx_ts_compat/fx2trt.py
  py/torch_tensorrt/dynamo/fx_ts_compat/input_tensor_spec.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower_setting.py
  py/torch_tensorrt/dynamo/fx_ts_compat/passes/__init__.py
  py/torch_tensorrt/dynamo/fx_ts_compat/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/dynamo/fx_ts_compat/passes/pass_utils.py
  py/torch_tensorrt/dynamo/fx_ts_compat/test/core/test_input.py
  py/torch_tensorrt/dynamo/fx_ts_compat/test/core/test_input_tensor_spec.py
  py/torch_tensorrt/dynamo/fx_ts_compat/tools/__init__.py
  py/torch_tensorrt/dynamo/fx_ts_compat/tools/common_fx2trt.py
  py/torch_tensorrt/dynamo/fx_ts_compat/tools/trt_minimizer.py
  py/torch_tensorrt/dynamo/test/conftest.py
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
  py/torch_tensorrt/dynamo/test/utils.py
  py/torch_tensorrt/dynamo/torch_compile/__init__.py
  py/torch_tensorrt/dynamo/torch_compile/_defaults.py
  py/torch_tensorrt/dynamo/torch_compile/_settings.py
  py/torch_tensorrt/dynamo/torch_compile/backends.py
  py/torch_tensorrt/dynamo/torch_compile/conversion.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/__init__.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/_partition.py
  py/torch_tensorrt/dynamo/torch_compile/test/test_compiler_utils.py
  py/torch_tensorrt/dynamo/torch_compile/test/test_lowering.py
  py/torch_tensorrt/dynamo/torch_compile/test/test_partitioning.py
  py/torch_tensorrt/dynamo/torch_compile/test/utils.py
  py/torch_tensorrt/dynamo/torch_compile/utils.py
  py/torch_tensorrt/ts/__init__.py
  py/torch_tensorrt/ts/_compile_spec.py
  py/torch_tensorrt/ts/ts_input.py
  tests/py/api/test_classes.py
Labels: component: tests, component: api [Python], cla signed, release: v1.4

#1881 fix: Add version checking for `torch._dynamo` import in `__init__`
  py/torch_tensorrt/__init__.py
Labels: component: api [Python], cla signed

#1873 fix: Improve Docker build robustness, add validation
  README.md
  docker/Dockerfile
  docker/README.md
  docker/dist-build.sh
Labels: cla signed

#1759 feat: Upgrade Pytorch and TensorRT versions
  .circleci/config.yml
  README.md
  WORKSPACE
  core/runtime/TRTEngine.cpp
  docker/Dockerfile
  docker/README.md
  py/ci/build_whl.sh
  py/requirements.txt
  py/setup.py
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/fx/README.md
  py/torch_tensorrt/fx/passes/lower_basic_pass_aten.py
  py/torch_tensorrt/fx/test/passes/test_fuse_permute_linear_trt.py
  py/versions.py
  pyproject.toml
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_index.cpp
  tests/core/conversion/converters/test_masked_fill.cpp
  tests/core/conversion/converters/test_reduce.cpp
  tests/core/conversion/converters/test_roll.cpp
  tests/core/conversion/converters/test_scatter.cpp
  tests/core/conversion/converters/test_select.cpp
  tests/core/conversion/converters/test_slice.cpp
  tests/core/conversion/converters/test_split.cpp
  tests/core/conversion/converters/test_unbind.cpp
  tests/core/conversion/converters/test_unpack.cpp
  tests/core/conversion/converters/test_where.cpp
  third_party/tensorrt/archive/BUILD
  third_party/tensorrt/local/BUILD
  toolchains/ci_workspaces/WORKSPACE.x86_64
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
Labels: component: tests, component: core, component: build system, component: api [Python], component: runtime, cla signed, component: fx, release: v1.4

#1884 feat: Merge dynamo additions into `release/1.4`
  .circleci/config.yml
  py/setup.py
  py/torch_tensorrt/_Device.py
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/fx_ts_compat/README.md
  py/torch_tensorrt/dynamo/fx_ts_compat/__init__.py
  py/torch_tensorrt/dynamo/fx_ts_compat/fx2trt.py
  py/torch_tensorrt/dynamo/fx_ts_compat/input_tensor_spec.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower_setting.py
  py/torch_tensorrt/dynamo/fx_ts_compat/passes/__init__.py
  py/torch_tensorrt/dynamo/fx_ts_compat/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/dynamo/fx_ts_compat/passes/pass_utils.py
  py/torch_tensorrt/dynamo/fx_ts_compat/test/core/test_input.py
  py/torch_tensorrt/dynamo/fx_ts_compat/test/core/test_input_tensor_spec.py
  py/torch_tensorrt/dynamo/fx_ts_compat/tools/__init__.py
  py/torch_tensorrt/dynamo/fx_ts_compat/tools/common_fx2trt.py
  py/torch_tensorrt/dynamo/fx_ts_compat/tools/trt_minimizer.py
  py/torch_tensorrt/dynamo/test/conftest.py
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
  py/torch_tensorrt/dynamo/test/utils.py
  py/torch_tensorrt/dynamo/torch_compile/__init__.py
  py/torch_tensorrt/dynamo/torch_compile/_defaults.py
  py/torch_tensorrt/dynamo/torch_compile/_settings.py
  py/torch_tensorrt/dynamo/torch_compile/backends.py
  py/torch_tensorrt/dynamo/torch_compile/conversion.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/__init__.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/_partition.py
  py/torch_tensorrt/dynamo/torch_compile/test/test_compiler_utils.py
  py/torch_tensorrt/dynamo/torch_compile/test/test_lowering.py
  py/torch_tensorrt/dynamo/torch_compile/test/test_partitioning.py
  py/torch_tensorrt/dynamo/torch_compile/test/utils.py
  py/torch_tensorrt/dynamo/torch_compile/utils.py
  py/torch_tensorrt/ts/__init__.py
  py/torch_tensorrt/ts/_compile_spec.py
  py/torch_tensorrt/ts/ts_input.py
  tests/py/api/test_classes.py
Labels: component: tests, component: api [Python], cla signed

#1886 fix: Improve input weight handling to `acc_ops` convolution layers in FX
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
Labels: priority: high, component: api [Python], cla signed, component: fx, fx, release: v1.4, component: dynamo

#1852 fix: Upgrade `main` to TRT 8.6, CUDA 11.8, CuDNN 8.8, Torch Dev
  .circleci/config.yml
  README.md
  WORKSPACE
  core/runtime/TRTEngine.cpp
  cpp/include/torch_tensorrt/macros.h
  docker/Dockerfile
  docker/README.md
  py/ci/build_whl.sh
  py/requirements.txt
  py/setup.py
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/fx/README.md
  py/torch_tensorrt/fx/test/passes/test_fuse_permute_linear_trt.py
  py/versions.py
  pyproject.toml
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_index.cpp
  tests/core/conversion/converters/test_masked_fill.cpp
  tests/core/conversion/converters/test_reduce.cpp
  tests/core/conversion/converters/test_roll.cpp
  tests/core/conversion/converters/test_scatter.cpp
  tests/core/conversion/converters/test_select.cpp
  tests/core/conversion/converters/test_slice.cpp
  tests/core/conversion/converters/test_split.cpp
  tests/core/conversion/converters/test_unbind.cpp
  tests/core/conversion/converters/test_unpack.cpp
  tests/core/conversion/converters/test_where.cpp
  third_party/tensorrt/archive/BUILD
  third_party/tensorrt/local/BUILD
  toolchains/ci_workspaces/WORKSPACE.x86_64
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
  tools/cpp_benchmark/README.md
Labels: component: tests, component: core, component: build system, component: api [Python], component: api [C++], component: runtime, cla signed, component: fx

#1851 feat: Wrap dynamic size handling in a compilation flag
  core/conversion/conversionctx/ConversionCtx.h
  core/conversion/evaluators/aten.cpp
  core/conversion/evaluators/eval_util.cpp
  cpp/bin/torchtrtc/main.cpp
  cpp/include/torch_tensorrt/torch_tensorrt.h
  cpp/src/compile_spec.cpp
  py/torch_tensorrt/csrc/register_tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.h
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  py/torch_tensorrt/ts/_compile_spec.py
  py/torch_tensorrt/ts/_compiler.py
  tests/cpp/test_dynamic_size.cpp
  tests/util/run_graph_engine.cpp
  tests/util/util.h
Labels: component: tests, component: conversion, component: core, component: api [Python], component: api [C++], component: evaluators, cla signed, release: v1.4

#1918 fix: Add torchvision legacy CI parameter
  .circleci/config.yml
Labels: cla signed

#1910 fix: Cherry-pick `acc` convolution fix to `release/1.4`
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
Labels: component: api [Python], cla signed, component: fx, fx, release: v1.4

#1892 Sync fb internal change to OSS
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/diagnostics.py
  py/torch_tensorrt/fx/fx2trt.py
  py/torch_tensorrt/fx/input_tensor_spec.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/passes/lower_basic_pass.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_cat_aten.py
  py/torch_tensorrt/fx/test/converters/vanilla/test_convolution_vanilla.py
  py/torch_tensorrt/fx/test/core/test_input_tensor_spec.py
  py/torch_tensorrt/fx/test/passes/test_fuse_permute_linear_trt.py
  py/torch_tensorrt/fx/test/passes/test_pass_utils.py
  py/torch_tensorrt/fx/test/passes/test_setitem_trt.py
  py/torch_tensorrt/fx/test/tracer/test_acc_tracer.py
  py/torch_tensorrt/fx/test/tracer/test_dispatch_tracer.py
  py/torch_tensorrt/fx/test/trt_lower/trt_splitter_test.py
  py/torch_tensorrt/fx/tools/common_fx2trt.py
  py/torch_tensorrt/fx/tools/model_packager.py
  py/torch_tensorrt/fx/tools/trt_splitter.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_normalizer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_tracer.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_utils.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
  py/torch_tensorrt/fx/utils.py
Labels: component: api [Python], cla signed, component: fx, fx

#1879 fix: Improve partitioning + lowering systems in `torch.compile` path
  py/torch_tensorrt/dynamo/backend/__init__.py
  py/torch_tensorrt/dynamo/backend/_defaults.py
  py/torch_tensorrt/dynamo/backend/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/backend/lowering/_partition.py
  py/torch_tensorrt/dynamo/backend/test/test_lowering.py
  py/torch_tensorrt/dynamo/backend/test/test_partitioning.py
  py/torch_tensorrt/dynamo/backend/test/utils.py
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
Labels: component: api [Python], cla signed, component: dynamo

#1931 cherry-pick: Reorganize + Upgrade Dynamo (`release/1.4`)
  .circleci/config.yml
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/backend/__init__.py
  py/torch_tensorrt/dynamo/backend/_defaults.py
  py/torch_tensorrt/dynamo/backend/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/conversion.py
  py/torch_tensorrt/dynamo/backend/lowering/__init__.py
  py/torch_tensorrt/dynamo/backend/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/backend/lowering/_partition.py
  py/torch_tensorrt/dynamo/backend/test/test_compiler_utils.py
  py/torch_tensorrt/dynamo/backend/test/test_lowering.py
  py/torch_tensorrt/dynamo/backend/test/test_partitioning.py
  py/torch_tensorrt/dynamo/backend/test/utils.py
  py/torch_tensorrt/dynamo/backend/utils.py
  py/torch_tensorrt/dynamo/test/conftest.py
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/__init__.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/_partition.py
  py/torch_tensorrt/dynamo/torch_compile/test/test_lowering.py
  py/torch_tensorrt/dynamo/torch_compile/test/utils.py
Labels: component: api [Python], cla signed, release: v1.4

#1930 fix: Upgrade TRT to 8.6.1, parallelize FX tests in CI
  .circleci/config.yml
  README.md
  WORKSPACE
  py/requirements.txt
  py/torch_tensorrt/fx/README.md
Labels: component: build system, component: api [Python], cla signed, component: fx, fx

#1896 fix: Upgrade `release/1.4` to Torch 2.0.1 + TensorRT 8.6.1
  .circleci/config.yml
  README.md
  WORKSPACE
  docker/Dockerfile
  docker/README.md
  docker/dist-build.sh
  py/requirements.txt
  py/torch_tensorrt/fx/README.md
  py/versions.py
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
Labels: component: build system, component: api [Python], cla signed, component: fx, fx, release: v1.4

#1936 feat: Add issue template for Story
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/new-story.md
Labels: cla signed

#1911 feat: support type promotion in aten::cat converter
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/concat.cpp
  tests/core/conversion/converters/test_concat.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1867 Reorg for converters in (FX Converter Refactor [1/N])
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/activation.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/converter_utils.py
  py/torch_tensorrt/fx/converters/impl/__init__.py
  py/torch_tensorrt/fx/converters/impl/activation.py
  py/torch_tensorrt/fx/converters/nn_ops_converters.py
Labels: component: api [Python], cla signed, component: fx, fx, Story: ATen Op Support

#1863 fix: Add support for default dimension in `aten.cat`
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_cat_aten.py
Labels: component: api [Python], cla signed, component: fx, fx

#1950 Relaxing glob pattern for CUDA12
  third_party/cuda/BUILD
Labels: cla signed

#1868 refactor: Centralizing sigmoid implementation (FX Converter Refactor [2/N]) <Target: converter_reorg_proto>
  py/torch_tensorrt/fx/converters/__init__.py
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/activation.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/impl/activation.py
  py/torch_tensorrt/fx/converters/nn_ops_converters.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_sigmoid_aten.py
Labels: component: api [Python], cla signed, component: fx, fx, Story: ATen Op Support

#1949 fix: Address `.numpy()` issue on fake tensors
  py/torch_tensorrt/dynamo/backend/__init__.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/conversion.py
  py/torch_tensorrt/dynamo/backend/lowering/_partition.py
Labels: component: api [Python], cla signed, component: dynamo

#1952 feat: Add support for passing through build issues in Dynamo compile
  py/torch_tensorrt/dynamo/backend/__init__.py
  py/torch_tensorrt/dynamo/backend/_defaults.py
  py/torch_tensorrt/dynamo/backend/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/test/utils.py
  py/torch_tensorrt/dynamo/common_utils/__init__.py
  py/torch_tensorrt/dynamo/common_utils/test_utils.py
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
Labels: component: api [Python], cla signed

#1957 fix: int/int=float division
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_div.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1947 fix: Support dims < -1 in aten::stack converter
  core/conversion/converters/impl/stack.cpp
  tests/core/conversion/converters/test_stack.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1956 cherry-pick: Dynamo upgrades and bugfixes (`release/1.4`)
  py/torch_tensorrt/dynamo/backend/__init__.py
  py/torch_tensorrt/dynamo/backend/_defaults.py
  py/torch_tensorrt/dynamo/backend/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/backend/conversion.py
  py/torch_tensorrt/dynamo/backend/lowering/_partition.py
  py/torch_tensorrt/dynamo/backend/test/utils.py
  py/torch_tensorrt/dynamo/common_utils/__init__.py
  py/torch_tensorrt/dynamo/common_utils/test_utils.py
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_cat_aten.py
Labels: component: api [Python], cla signed, component: fx, fx, release: v1.4

#1883 fix: Resolve issue in isInputDynamic with mixed static/dynamic shapes
  core/partitioning/partitioning.cpp
  tests/core/partitioning/test_shape_analysis.cpp
Labels: component: tests, component: core, component: partitioning, cla signed

#1878 DLFW changes
  docker/WORKSPACE.ngc
  noxfile.py
Labels: cla signed

#1841 feat: Add converter for aten::isfinite
  core/conversion/converters/impl/unary.cpp
  tests/core/conversion/converters/test_unary.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1901 Reorg for converters in hardtanh(FX Converter Refactor [5/N]) <Target: converter_reorg_proto>
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/impl/activation.py
  py/torch_tensorrt/fx/converters/nn_ops_converters.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_hardtanh_aten.py
Labels: component: tests, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: partitioning, cla signed, component: fx, fx, Story: ATen Op Support

#1937 fix/feat: Add lowering pass to resolve most `aten::Int.Tensor` uses
  core/lowering/lowering.cpp
  core/lowering/passes/passes.h
  core/lowering/passes/remove_unnecessary_casts.cpp
  tests/core/lowering/test_remove_unnecessary_casts.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1905 Moving elementwise core to impl - rsqrt (FX Converter Refactor [9/N]) <Target: converter_reorg_elementwise>
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/impl/elementwise/ops.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_rsqrt_aten.py
Labels: component: api [Python], cla signed, component: fx, fx, Story: ATen Op Support

#1953 fix: Add decomposition for `aten.addmm`
  py/torch_tensorrt/dynamo/backend/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/backend/test/test_decompositions.py
  py/torch_tensorrt/dynamo/common_utils/test_utils.py
Labels: component: api [Python], cla signed, component: dynamo

#1900 Reorg for converters tanh (FX Converter Refactor [4/N]) <Target: converter_reorg_proto>
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/impl/activation.py
  py/torch_tensorrt/fx/converters/nn_ops_converters.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_tanh_aten.py
Labels: component: api [Python], cla signed, component: fx, fx, Story: ATen Op Support

#1902 Reorg for converters leaky_relu (FX Converter Refactor [6/N]) <Target: converter_reorg_proto>
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/impl/activation.py
  py/torch_tensorrt/fx/converters/nn_ops_converters.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_leaky_relu_aten.py
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: partitioning, cla signed, component: fx, fx, Story: ATen Op Support

#1935 Upstream 3 features to fx_ts_compat: MS, VC, Optimization Level
  py/torch_tensorrt/dynamo/fx_ts_compat/fx2trt.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower.py
  py/torch_tensorrt/dynamo/fx_ts_compat/lower_setting.py
  py/torch_tensorrt/dynamo/fx_ts_compat/passes/pass_utils.py
Labels: component: api [Python], cla signed

#1945 fix: Add lowering pass to remove output repacking in `convert_method_to_trt_engine` calls
  core/lowering/lowering.cpp
  core/lowering/lowering.h
  core/lowering/passes/passes.h
  core/lowering/passes/remove_unnecessary_casts.cpp
  cpp/src/compile_spec.cpp
  cpp/src/torch_tensorrt.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.h
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  tests/core/lowering/test_remove_unnecessary_casts.cpp
Labels: component: tests, component: lowering, component: core, component: api [Python], component: api [C++], cla signed
