Repository pytorch/TensorRT, pull requests merged in 2023-01, with the labels that each got.

#1528 feat: Update to Pytorch 2.0
  .circleci/config.yml
  WORKSPACE
  core/partitioning/partitioninginfo/PartitioningInfo.h
  core/partitioning/shape_analysis.cpp
  core/util/trt_util.cpp
  cpp/src/compile_spec.cpp
  py/requirements.txt
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_interpolate.py
  tests/core/partitioning/test_type_auto_conversion.cpp
  tests/modules/requirements.txt
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
  tools/perf/perf_run.py
Labels: documentation, component: tests, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], component: partitioning, cla signed, component: fx

#1574 feat: Support int inputs to aten::max/min and aten::argmax/argmin
  core/conversion/converters/impl/max.cpp
  tests/core/conversion/converters/test_max.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1584 fix: Add `aten::full_like` evaluator
  core/conversion/evaluators/aten.cpp
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
Labels: component: tests, component: conversion, component: core, component: evaluators, cla signed

#1604 tools: assign 1 person to a bug instead of all
  .github/actions/assigner/dist/index.js
  .github/actions/assigner/src/main.ts
  .github/code-owners.yml
Labels: cla signed

#1601 feat: Add support for aten::meshgrid
  core/conversion/converters/impl/expand.cpp
  tests/core/conversion/converters/test_expand.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1603 [FX] Changes done internally at Facebook
  .circleci/config.yml
  py/torch_tensorrt/fx/README.md
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/fx2trt.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/lower_setting.py
  py/torch_tensorrt/fx/passes/lower_basic_pass.py
  py/torch_tensorrt/fx/passes/lower_basic_pass_aten.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_binary_ops_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_cat_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_expand_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_flatten_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_linear_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_maxpool_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_reshape_aten.py
  py/torch_tensorrt/fx/test/core/test_trt_module.py
  py/torch_tensorrt/fx/test/passes/test_fix_clamp_numerical_limits_to_fp16.py
  py/torch_tensorrt/fx/test/quant/test_quant_trt.py
  py/torch_tensorrt/fx/test/tracer/test_acc_tracer.py
  py/torch_tensorrt/fx/test/tracer/test_dispatch_tracer.py
  py/torch_tensorrt/fx/tools/common_fx2trt.py
  py/torch_tensorrt/fx/tools/trt_minimizer.py
  py/torch_tensorrt/fx/tools/trt_profiler_sorted.py
  py/torch_tensorrt/fx/tools/trt_splitter.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_shape_prop.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_tracer.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
Labels: component: api [Python], cla signed, component: fx, fx

#1593 chore: Add FX core test
  .circleci/config.yml
Labels: cla signed

#1581 chore: Update dockerfile
  docker/Dockerfile
  docker/Dockerfile.ngc
  docker/README.md
  docker/dist-test.sh
  docker/mha.patch
  docker/qat.patch
  docker/setup_nox.sh
Labels: cla signed

#1589 fix: Replace `RemoveDropout` lowering pass implementation with modified JIT pass
  core/lowering/passes/remove_dropout.cpp
  tests/core/lowering/test_remove_dropout_pass.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1625 [FX] Changes done internally at Facebook
  .circleci/config.yml
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/convolution.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_maxpool_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_reshape_aten.py
  py/torch_tensorrt/fx/test/passes/test_fuse_permute_linear_trt.py
  py/torch_tensorrt/fx/test/tracer/test_acc_tracer.py
  py/torch_tensorrt/fx/test/tracer/test_dispatch_tracer.py
  py/torch_tensorrt/fx/test/tracer/test_resnet.py
  py/torch_tensorrt/fx/tools/common_fx2trt.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_ops.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
Labels: component: api [Python], cla signed, component: fx, fx
