Repository pytorch/TensorRT, pull requests merged in 2023-08, with the labels that each got.

#2158 chore: fix the docgen job
  .github/workflows/docgen.yml
  packaging/pre_build_script.sh
  toolchains/ci_workspaces/WORKSPACE.x86_64.cu121.release.rhel
Labels: cla signed

#1966 examples: Add example usage scripts for `torch_tensorrt.dynamo.compile` path [1.1 / x]
  .gitignore
  docsrc/Makefile
  docsrc/_static/css/custom.css
  docsrc/_static/css/pytorch_theme.css
  docsrc/conf.py
  docsrc/index.rst
  docsrc/requirements.txt
  docsrc/user_guide/creating_torchscript_module_in_python.rst
  docsrc/user_guide/getting_started_with_fx_path.rst
  docsrc/user_guide/ptq.rst
  docsrc/user_guide/runtime.rst
  docsrc/user_guide/use_from_pytorch.rst
  docsrc/user_guide/using_dla.rst
  examples/README.rst
  examples/dynamo/README.rst
  examples/dynamo/torch_compile_advanced_usage.py
  examples/dynamo/torch_compile_resnet_example.py
  examples/dynamo/torch_compile_transformers_example.py
Labels: documentation, component: build system, component: api [Python], cla signed, component: dynamo, Story: Dynamo Compile Improvements

#2115 [feat] TS: Add support for dynamic select and masked_fill
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_masked_fill.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#2097 feat: Added support for aten::unflatten converter
  core/conversion/converters/impl/shuffle.cpp
  tests/core/conversion/converters/test_shuffle.cpp
  tests/cpp/test_dynamic_size.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#2107 feat: Added a variant for aten::fake_quant_per_tensor
  core/conversion/converters/impl/quantization.cpp
  tests/core/conversion/converters/test_quantization.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#2129 ci: Add automatic GHA job to build + push Docker Container on `main`
  .github/workflows/docker_builder.yml
  docker/Dockerfile
Labels: component: api [Python], infrastructure, cla signed, channel: docker, Story: Infrastructure Upgrades

#2166 feat(torch_tensorrt.dynamo.tools): Tool to calculate coverage of PyTorch
  py/torch_tensorrt/dynamo/conversion/converter_registry.py
  py/torch_tensorrt/dynamo/tools/__init__.py
  py/torch_tensorrt/dynamo/tools/opset_coverage.py
  setup.py
Labels: component: conversion, component: build system, component: api [Python], cla signed, component: dynamo

#2165 chore: Add parallelism to Dynamo tests
  .circleci/config.yml
Labels: infrastructure, cla signed

#1847 feat: Add support for dynamic zeros_like and ones_like
  core/conversion/evaluators/aten.cpp
  core/conversion/evaluators/eval_util.cpp
  core/conversion/evaluators/eval_util.h
  tests/core/conversion/evaluators/test_aten_evaluators.cpp
  tests/core/partitioning/test_loop_fallback.cpp
Labels: component: tests, component: conversion, component: core, component: converters, component: evaluators, cla signed

#2105 feat: Added support for aten::tile converter
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/CMakeLists.txt
  core/lowering/passes/passes.h
  core/lowering/passes/tile_to_repeat.cpp
  docsrc/contributors/lowering.rst
  tests/core/conversion/converters/test_expand.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_tile_to_repeat_pass.cpp
Labels: documentation, component: tests, component: lowering, component: conversion, component: core, component: converters, cla signed

#2146 abandoned create_plugin() function
  core/conversion/converters/impl/interpolate.cpp
Labels: component: conversion, component: core, component: converters, cla signed

#2175 feat: Improve Dynamo partitioning System Performance on Large Models
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/compile.py
  py/torch_tensorrt/dynamo/conversion/converter_registry.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/partitioning/__init__.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  setup.py
  tests/py/dynamo/backend/test_backend_compiler.py
  tests/py/dynamo/backend/test_decompositions.py
  tests/py/dynamo/backend/test_partitioning.py
  tests/py/dynamo/backend/utils.py
Labels: component: tests, component: lowering, component: conversion, component: build system, component: api [Python], cla signed, component: dynamo, Story: Export/Compile Unification, Story: Dynamo Compile Improvements, component: torch_compile

#2194 feat: Improve Logging in Dynamo
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/aten_tracer.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/compile.py
Labels: component: api [Python], cla signed, component: dynamo, component: torch_compile

#2191 feat: Add ExportedProgram as an IR
  py/torch_tensorrt/_compile.py
Labels: component: api [Python], cla signed

#2162 feat: Improve layer naming
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#2182 fix: Update `aten.embedding` to reflect schema
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, Story: ATen Op Support, component: dynamo

#2161 feat: Add `_to_copy`, `operator.get` and `clone` ATen converters
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_registry.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/cast.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/conversion/op_evaluators.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/converters/harness.py
  tests/py/dynamo/converters/test_casts.py
  tests/py/dynamo/converters/test_evaluators.py
  tests/py/dynamo/models/test_models.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, Story: Export/Compile Unification

#2228 fix: Repair broadcasting utility for `aten.where`
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  tests/py/dynamo/converters/test_where_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2238 chore: Fix Logging in torch_compile path
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/compile.py
  py/torch_tensorrt/dynamo/utils.py
Labels: component: api [Python], cla signed, component: dynamo, component: torch_compile

#2173 feat: Add Selective ATen decompositions
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/compile.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo, Story: Export/Compile Unification, component: torch_compile

#2198 Type mismatch for dynamo aten::where converter
  py/torch_tensorrt/dynamo/conversion/impl/condition/ops.py
  tests/py/dynamo/converters/test_where_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2234 fix: Allow rank differences in `aten.expand`
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
  tests/py/dynamo/converters/test_expand_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, Story: ATen Op Support, component: dynamo

#2188 fix: Address runtimes with 0D inputs
  core/runtime/execute_engine.cpp
  py/torch_tensorrt/_Input.py
  tests/py/dynamo/backend/test_specialized_models.py
Labels: component: tests, component: core, component: api [Python], component: runtime, cla signed

#2246 feat: support many unary dynamo converters
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/converters/harness.py
  tests/py/dynamo/converters/test_abs_aten.py
  tests/py/dynamo/converters/test_acos_aten.py
  tests/py/dynamo/converters/test_acosh_aten.py
  tests/py/dynamo/converters/test_asin_aten.py
  tests/py/dynamo/converters/test_asinh_aten.py
  tests/py/dynamo/converters/test_atan_aten.py
  tests/py/dynamo/converters/test_atanh_aten.py
  tests/py/dynamo/converters/test_ceil_aten.py
  tests/py/dynamo/converters/test_cos_aten.py
  tests/py/dynamo/converters/test_cosh_aten.py
  tests/py/dynamo/converters/test_exp_aten.py
  tests/py/dynamo/converters/test_floor_aten.py
  tests/py/dynamo/converters/test_isinf_aten.py
  tests/py/dynamo/converters/test_log_aten.py
  tests/py/dynamo/converters/test_logical_not_aten.py
  tests/py/dynamo/converters/test_recip_aten.py
  tests/py/dynamo/converters/test_round_aten.py
  tests/py/dynamo/converters/test_sign_aten.py
  tests/py/dynamo/converters/test_sin_aten.py
  tests/py/dynamo/converters/test_sinh_aten.py
  tests/py/dynamo/converters/test_sqrt_aten.py
  tests/py/dynamo/converters/test_tan_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2257 fix: Decrease Docker container size by 20%
  docker/Dockerfile
Labels: cla signed, channel: docker

#2190 feat: Add support for device compilation setting
  py/torch_tensorrt/_Device.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/compile.py
  py/torch_tensorrt/dynamo/conversion/conversion.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/backend/test_compiler_utils.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2239 fix: Legacy CI `pip` installation
  .circleci/config.yml
  py/torch_tensorrt/_compile.py
  toolchains/ci_workspaces/WORKSPACE.x86_64.legacy
  toolchains/legacy/pyproject.toml
Labels: component: api [Python], cla signed

#2241 feat: support amax dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/reduce.py
  tests/py/dynamo/converters/test_amax_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2268 feat: Exempt default softmax from decomposition
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#2138 feat: Add support for `require_full_compilation` in Dynamo
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/compile.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/partitioning/test_fast_partitioning.py
  tests/py/dynamo/partitioning/test_global_partitioning.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo, Story: Export/Compile Unification, component: torch_compile

#2275 fix: Unify layers in Docker Container Cleanup
  docker/Dockerfile
Labels: cla signed, channel: docker

#2252 feat: support conv dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/squeeze.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: fx, component: dynamo

#2273 Enabling var_mean decomposition
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo
