Repository pytorch/TensorRT, pull requests merged in 2023-03, with the labels that each got.

#1693 fix: Bugfix in convNd_to_convolution lowering pass
  core/lowering/passes/convNd_to_convolution.cpp
  tests/core/lowering/test_conv1d_pass.cpp
  tests/core/partitioning/test_conditionals.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1707 [feat] Add converter for aten::any.dim
  core/conversion/converters/impl/reduce.cpp
  tests/core/conversion/converters/test_reduce.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1700 [fix] resolve issue for single non-batch index tensor in aten::index
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1712 fix: Handle nonetype pad value for Constant pad
  core/lowering/passes/replace_aten_pad.cpp
  tests/core/lowering/test_replace_aten_pad_pass.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1731 infra: Add Torch 1.13.1 testing to nightly CI
  .circleci/config.yml
  py/setup.py
  py/torch_tensorrt/fx/test/quant/test_quant_trt.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
Labels: component: api [Python], cla signed, component: fx, fx

#1599 fix: Allow full model compilation with collection outputs
  core/compiler.cpp
  core/lowering/lowering.cpp
  core/partitioning/partitioning.cpp
  core/partitioning/partitioning.h
  tests/py/api/test_e2e_behavior.py
  tests/py/api/utils.py
Labels: component: tests, component: lowering, component: core, component: partitioning, cla signed

#1691 fix: fix the prim::Loop fallback issue
  core/partitioning/partitioning.cpp
  core/partitioning/partitioningctx/PartitioningCtx.cpp
  core/partitioning/segmentedblock/SegmentedBlock.h
  tests/core/partitioning/test_resolve_nontensor_inputs.cpp
Labels: component: tests, component: core, component: partitioning, cla signed

#1747 minor fix: Update default minimum torch version for aten tracer
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
Labels: component: api [Python], cla signed, component: fx, fx

#1711 Get windows build working
  core/plugins/CMakeLists.txt
  core/runtime/CMakeLists.txt
  core/runtime/TRTEngine.h
  core/runtime/TRTEngineProfiler.cpp
Labels: component: core, component: runtime, cla signed

#1736 Update config.yml
  .circleci/config.yml
  py/requirements.txt
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
Labels: component: api [Python], cla signed, component: fx

#1765 fix: Bugfix in shape analysis for multi-GPU systems
  core/partitioning/partitioning.cpp
  core/partitioning/partitioning.h
  core/partitioning/shape_analysis.cpp
Labels: component: core, component: partitioning, cla signed

#1728 fix: Add schemas to convolution lowering pass
  core/lowering/lowering.cpp
  core/lowering/passes/convNd_to_convolution.cpp
  core/lowering/passes/passes.h
  tests/core/lowering/BUILD
  tests/core/lowering/test_conv1d_pass.cpp
  tests/core/lowering/test_conv_pass.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1732 fix: Update Docker build to automatically adapt Torch version
  docker/Dockerfile
  docker/README.md
  docker/WORKSPACE.docker
  py/requirements.txt
Labels: component: build system, cla signed

#1784 chore: Update Torch and Torch-TRT versions and docs on `main`
  README.md
  WORKSPACE
  py/requirements.txt
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
Labels: component: build system, component: api [Python], cla signed

#1786 fix: Repair invalid schema arising from lowering pass
  core/lowering/passes/remove_unnecessary_casts.cpp
  tests/core/lowering/test_remove_unnecessary_casts.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1656 fix: Allow full model compilation with collection inputs (`input_signature`)
  README.md
  core/compiler.cpp
  core/conversion/conversion.cpp
  core/conversion/conversion.h
  cpp/src/compile_spec.cpp
  docsrc/getting_started/getting_started_with_python_api.rst
  py/torch_tensorrt/ts/_compile_spec.py
  tests/cpp/test_collections.cpp
  tests/py/api/test_collections.py
Labels: documentation, component: tests, component: lowering, component: conversion, component: core, component: api [Python], component: api [C++], component: partitioning, cla signed
