Repository pytorch/TensorRT, pull requests merged in 2023-12, with the labels that each got.

#2504 feat: support aten.amin dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/reduce.py
  tests/py/dynamo/conversion/test_amin_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2513 cherry-pick: Perf + Bugfix PRs
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_cumsum_aten.py
  tools/perf/benchmark.sh
  tools/perf/perf_run.py
  tools/perf/requirements.txt
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2376 chore: Switch to new export apis
  .github/workflows/build-test.yml
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_exporter.py
  py/torch_tensorrt/dynamo/_tracer.py
  tests/py/dynamo/models/test_dyn_models.py
  tests/py/dynamo/models/test_export_serde.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo

#2505 feat: support aten.arange.start_step dynamo converter
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  tests/py/dynamo/conversion/test_arange_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2510 fix/feat: Add support for multiple TRT Build Args
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/runtime/test_compilation_settings.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2512 feat: Safety Mode for Runtime
  core/runtime/TRTEngine.cpp
  core/runtime/execute_engine.cpp
  core/runtime/register_jit_hooks.cpp
  core/runtime/runtime.cpp
  core/runtime/runtime.h
  docsrc/user_guide/runtime.rst
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/tools.py
  py/torch_tensorrt/runtime/__init__.py
  py/torch_tensorrt/runtime/multi_device_safe_mode.py
  setup.py
  tests/py/dynamo/runtime/test_safe_mode.py
Labels: documentation, component: tests, component: conversion, component: core, priority: high, component: build system, component: api [Python], component: runtime, cla signed, component: dynamo

#2488 feat: expose IResizeLayer in dynamo.conversion.impl
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/upsample.py
  tests/py/dynamo/conversion/test_upsample.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2514 feat: support aten.sort dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/topk.py
  tests/py/dynamo/conversion/test_sort_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2487 fix: aten.index converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#2397 DLFW changes
  examples/int8/training/vgg16/requirements.txt
  noxfile.py
Labels: cla signed

#2537 fix: output shape bug in deconv
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/deconv.py
  tests/py/dynamo/backend/test_specialized_models.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2546 fix: Torch nightly version constraint
  py/requirements.txt
  pyproject.toml
  tests/modules/custom_models.py
  tests/modules/requirements.txt
Labels: component: tests, component: build system, component: api [Python], cla signed

#2526 Fix memory leaks
  core/conversion/conversionctx/ConversionCtx.cpp
  core/runtime/register_jit_hooks.cpp
Labels: component: conversion, component: core, component: runtime, cla signed

#2547 fix: Docker builder with new Torch versions
  .github/workflows/docker_builder.yml
  py/requirements.txt
  pyproject.toml
Labels: component: build system, component: api [Python], cla signed

#2527 chore: fix deconv padding
  core/conversion/converters/impl/conv_deconv.cpp
Labels: component: conversion, component: core, component: converters, cla signed

#2450 Fix: aten::matmul converter behavior with 1d tensors
  core/conversion/converters/impl/matrix_multiply.cpp
  tests/core/conversion/converters/test_matrix_multiply.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#2528 fix: `release/2.1` CI Repair
  .github/scripts/install-torch-tensorrt.sh
  .github/workflows/build-test.yml
  .github/workflows/linux-test.yml
  py/requirements.txt
  requirements-dev.txt
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: build system, component: api [Python], cla signed

#2554 fix: Specify expecttest version to fix CI
  .github/workflows/build-test.yml
  requirements-dev.txt
Labels: cla signed

#2521 cherry-pick: Safe mode and Build Arguments PRs
  core/runtime/TRTEngine.cpp
  core/runtime/execute_engine.cpp
  core/runtime/register_jit_hooks.cpp
  core/runtime/runtime.cpp
  core/runtime/runtime.h
  docsrc/user_guide/runtime.rst
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/tools.py
  py/torch_tensorrt/runtime/__init__.py
  py/torch_tensorrt/runtime/multi_device_safe_mode.py
  setup.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/runtime/test_compilation_settings.py
  tests/py/dynamo/runtime/test_safe_mode.py
Labels: documentation, component: tests, component: conversion, component: core, component: build system, component: api [Python], component: runtime, cla signed, component: dynamo

#2451 feat: Add dryrun feature to Dynamo paths
  py/torch_tensorrt/dynamo/_DryRunTracker.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/backend/test_backend_compiler.py
  tests/py/dynamo/partitioning/test_fast_partitioning.py
  tests/py/dynamo/partitioning/test_global_partitioning.py
  tests/py/dynamo/testing_utilities.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo

#2445 feat: Add hardware compatibility option in Dynamo
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/execute_engine.cpp
  core/runtime/register_jit_hooks.cpp
  core/runtime/runtime.cpp
  core/runtime/runtime.h
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  tests/py/dynamo/runtime/test_hw_compat.py
  tests/py/ts/models/hw_compat.ts
Labels: component: tests, component: conversion, component: core, component: api [Python], component: runtime, cla signed, component: dynamo

#2522 feat: support aten.clamp.Tensor and update aten.clamp.default dynamo converters
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/activation/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  tests/py/dynamo/conversion/test_clamp_aten.py
  tests/py/dynamo/conversion/test_clip_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2543 feat: support aten.trunc dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_trunc_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo
