Repository pytorch/TensorRT, pull requests merged in 2023-02, with the labels that each got.

#1639 chore: Update Dockerfile to Ubuntu 20.04 + Crash Resolution
  docker/Dockerfile
Labels: cla signed

#1619 fix: Bugfix in Linear-to-AddMM Fusion Lowering Pass
  core/lowering/passes/linear_to_addmm.cpp
  tests/core/lowering/test_linear_to_addmm.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1623 fix: Resolve compilation bug for empty tensors in `aten::select`
  core/conversion/converters/impl/select.cpp
  core/util/trt_util.cpp
  core/util/trt_util.h
  tests/core/conversion/converters/test_select.cpp
  tests/util/util.cpp
  tests/util/util.h
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1646 fix: Bugfix in TRT Engine deserialization indexing
  core/runtime/TRTEngine.cpp
Labels: component: core, component: runtime, cla signed

#1649 fix: fix the inappropriate lowering pass of aten::to
  core/lowering/passes/reduce_to.cpp
  tests/core/lowering/test_reduce_to_pass.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1588 Lowering aten::pad to aten::constant_pad_nd/aten::reflection_padXd/aten::replication_padXd
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/CMakeLists.txt
  core/lowering/passes/passes.h
  core/lowering/passes/replace_aten_pad.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_replace_aten_pad_pass.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1630 [fix] Disambiguate element-wise cast layer names
  core/conversion/converters/converter_util.cpp
  tests/core/conversion/converters/test_add_sub_mul.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1537 feat: Add optional tensor domain argument to Input class
  core/ir/Input.cpp
  core/ir/ir.h
  core/partitioning/shape_analysis.cpp
  cpp/include/torch_tensorrt/torch_tensorrt.h
  cpp/src/types.cpp
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/csrc/register_tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.h
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  py/torch_tensorrt/ts/_compile_spec.py
  tests/cpp/test_collections.cpp
  tests/py/api/test_collections.py
  tests/py/api/test_operator_fallback.py
Labels: component: tests, component: core, component: api [Python], component: api [C++], component: partitioning, cla signed

#1450 Improve batch_norm fp16 accuracy
  core/conversion/converters/impl/batch_norm.cpp
  tests/core/conversion/converters/test_batch_norm.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1527 feat: build manylinux compatible builds
  .circleci/config.yml
  py/ci/build_manifest.txt
  py/ci/build_whl.sh
  py/ci/soname_excludes.params
  py/setup.py
  py/versions.py
  tests/modules/requirements.txt
Labels: component: tests, component: api [Python], cla signed

#1617 fix: Issue in non-Tensor Input Resolution
  core/partitioning/partitioning.cpp
  core/partitioning/segmentedblock/SegmentedBlock.h
  tests/core/partitioning/test_resolve_nontensor_inputs.cpp
Labels: component: tests, component: core, component: partitioning, cla signed

#1694 Corrected a typo, which was raising an error
  docsrc/tutorials/use_from_pytorch.rst
Labels: documentation, cla signed

#1677 Cherry-pick manylinux compatible builds into main
  .circleci/config.yml
  WORKSPACE
  package-lock.json
  py/ci/Dockerfile.ci
  py/ci/build_manifest.txt
  py/ci/build_whl.sh
  py/ci/soname_excludes.params
  py/requirements.txt
  py/setup.py
  py/versions.py
  tests/modules/requirements.txt
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
Labels: component: tests, component: build system, component: api [Python], cla signed

#1698 fix: Improve input handling for `input_signature`
  cpp/src/compile_spec.cpp
  py/torch_tensorrt/ts/_compile_spec.py
Labels: component: api [Python], component: api [C++], cla signed

#1624 Unsqueeze operator with dynamic inout
  core/conversion/converters/impl/unsqueeze.cpp
  tests/core/conversion/converters/test_unsqueeze.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1692 [feat] Add converter support for index_select
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1705 [feat] Add converter support for aten::logical_not
  core/conversion/converters/impl/unary.cpp
  tests/core/conversion/converters/test_unary.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed
