Repository pytorch/TensorRT, pull requests merged in 2023-04, with the labels that each got.

#1647 feat(//core/conversion): Add support for aten::size with dynamic shaped models for Torchscript backend.
  core/conversion/conversion.cpp
  core/conversion/converters/impl/shuffle.cpp
  core/conversion/evaluators/NodeEvaluatorRegistry.cpp
  core/conversion/evaluators/aten.cpp
  core/conversion/evaluators/eval_macros.h
  core/conversion/evaluators/eval_util.cpp
  core/conversion/evaluators/eval_util.h
  core/conversion/evaluators/evaluators.h
  core/conversion/evaluators/prim.cpp
  core/conversion/var/Var.cpp
  core/conversion/var/Var.h
  core/conversion/var/Var_inl.h
  tests/cpp/BUILD
  tests/cpp/test_dynamic_size.cpp
Labels: component: tests, component: conversion, component: core, component: converters, WIP, component: api [Python], component: evaluators, cla signed

#1806 feat: add support for aten::baddbmm
  core/conversion/converters/impl/matrix_multiply.cpp
  tests/core/conversion/converters/test_matrix_multiply.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1710 [feat] Add dynamic conversion path to aten::mul evaluator
  core/conversion/evaluators/aten.cpp
  core/conversion/var/Var.cpp
  tests/cpp/test_dynamic_size.cpp
Labels: component: tests, component: conversion, component: core, component: converters, component: evaluators, cla signed

#1804 [fix] aten::stack with dynamic inputs
  core/conversion/converters/impl/stack.cpp
  tests/core/conversion/converters/test_stack.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1783 fix undefined attr issue
  core/conversion/evaluators/eval_util.cpp
  core/ir/ir.cpp
Labels: component: conversion, component: core, component: evaluators, cla signed

#1820 fix: Out-Of-Bounds bug in Unsqueeze
  core/util/trt_util.cpp
Labels: component: core, cla signed

#1805 feat: Upgrade Docker build to use custom TRT + CUDNN
  docker/Dockerfile
  docker/README.md
  docker/WORKSPACE.docker
  docker/WORKSPACE.ngc
  docker/dist-build.sh
Labels: cla signed

#1751 feat: Add sample torch.compile backend for tensorrt aten path
  .circleci/config.yml
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/test/conftest.py
  py/torch_tensorrt/dynamo/test/test_dynamo_backend.py
  py/torch_tensorrt/dynamo/test/utils.py
  py/torch_tensorrt/dynamo/torch_compile/__init__.py
  py/torch_tensorrt/dynamo/torch_compile/_defaults.py
  py/torch_tensorrt/dynamo/torch_compile/_settings.py
  py/torch_tensorrt/dynamo/torch_compile/backends.py
  py/torch_tensorrt/dynamo/torch_compile/conversion.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/__init__.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/torch_compile/lowering/_partition.py
  py/torch_tensorrt/dynamo/torch_compile/utils.py
Labels: component: tests, component: api [Python], cla signed, component: fx, fx

#1785 fix: include str ivalue type conversion
  core/partitioning/shape_analysis.cpp
Labels: component: core, component: partitioning, cla signed

#1833 fix: dependency order of inserted long input casts
  core/lowering/lowering.cpp
  tests/core/lowering/BUILD
  tests/core/lowering/test_autocast_long_inputs.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#1840 feat: Add ts converter support for aten::all.dim
  core/conversion/converters/impl/reduce.cpp
  tests/core/conversion/converters/test_reduce.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1837 fix: Remove references to `_native_batch_norm_legit_no_training` for PyTorch 2.0 Stable
  py/torch_tensorrt/fx/passes/lower_basic_pass_aten.py
Labels: component: core, component: build system, component: api [Python], component: runtime, cla signed, component: fx, fx

#1846 fix: Error caused by invalid binding name in `TRTEngine.to_str()` method
  core/runtime/TRTEngine.cpp
Labels: component: core, component: runtime, cla signed

#1814 fx2trt converters transformer encoder
  core/conversion/converters/impl/reduce.cpp
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/operator.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_squeeze.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_layer_norm_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_rsqrt_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_rsub_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_softmax_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_squeeze_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_where_aten.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/tensorrt_dynamo_backend.py
  tests/core/conversion/converters/test_reduce.cpp
Labels: component: tests, component: conversion, component: core, component: converters, component: api [Python], cla signed, component: fx, fx

#1810 fix: Implement `aten.mean.default` and `aten.mean.dim` converters
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_mean_aten.py
Labels: priority: high, component: api [Python], cla signed, component: fx, fx

#1770 fx2trt converters aten::slice,aten::select and aten::matmul
  core/conversion/converters/impl/reduce.cpp
  py/torch_tensorrt/fx/converters/acc_ops_converters.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/converters/converter_utils.py
  py/torch_tensorrt/fx/converters/operator.py
  py/torch_tensorrt/fx/passes/lower_basic_pass_aten.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_squeeze.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_layer_norm_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_matmul_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_rsqrt_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_rsub_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_select_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_slice_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_softmax_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_squeeze_aten.py
  py/torch_tensorrt/fx/test/converters/aten_op/test_where_aten.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/aten_tracer.py
  py/torch_tensorrt/fx/tracer/dispatch_tracer/tensorrt_dynamo_backend.py
  tests/core/conversion/converters/test_reduce.cpp
Labels: component: tests, component: conversion, component: core, component: converters, component: api [Python], cla signed, component: fx, fx

#1866 feat: Add converter for aten::log2
  core/conversion/converters/impl/unary.cpp
  tests/core/conversion/converters/test_unary.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1855 feat: Add support for aten::where with scalar other
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_select.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#1856 feat: Add converter support for logical_and
  core/conversion/converters/impl/element_wise.cpp
  tests/core/conversion/converters/test_comparators.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed
