Repository pytorch/TensorRT, pull requests merged in 2023-09, with the labels that each got.

#2279 fix: add an arg in matmul
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/matmul.py
  tests/py/dynamo/conversion/test_matmul_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2278 feat: support torch.ops.aten.sum.(default and dim_IntList) dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/reduce.py
  tests/py/dynamo/conversion/test_sum_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2292 tools(opset_coverage): Map default ops to unoverloaded ops
  py/torch_tensorrt/dynamo/tools/opset_coverage.py
Labels: component: api [Python], cla signed, component: dynamo

#2147 add initial support for torch.ops.aten.neg.default converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/converters/test_neg_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2298 fix: Torch Upgrade to 2.2.0.dev
  README.md
  cpp/include/torch_tensorrt/macros.h
  dev_dep_versions.yml
  py/requirements.txt
  pyproject.toml
  version.txt
Labels: component: build system, component: api [Python], component: api [C++], cla signed

#2283 chore: enabling TS FE testing
  .github/workflows/build-test.yml
Labels: cla signed

#2293 Update _Input.py
  py/torch_tensorrt/_Input.py
Labels: component: api [Python], cla signed

#2263 feat: support many elementwise dynamo converters
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  tests/py/dynamo/conversion/test_add_aten.py
  tests/py/dynamo/conversion/test_div_aten.py
  tests/py/dynamo/conversion/test_equal_aten.py
  tests/py/dynamo/conversion/test_floor_div_aten.py
  tests/py/dynamo/conversion/test_greater_aten.py
  tests/py/dynamo/conversion/test_less_aten.py
  tests/py/dynamo/conversion/test_logical_and_aten.py
  tests/py/dynamo/conversion/test_logical_or_aten.py
  tests/py/dynamo/conversion/test_logical_xor_aten.py
  tests/py/dynamo/conversion/test_max_aten.py
  tests/py/dynamo/conversion/test_min_aten.py
  tests/py/dynamo/conversion/test_mul_aten.py
  tests/py/dynamo/conversion/test_pow_aten.py
  tests/py/dynamo/conversion/test_sub_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2253 feat: support linear (fully connected layer) dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/linear.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2305 WAR: Disabling ViT tests until exporting with py311 is fixed
  tests/cpp/test_compiled_modules.cpp
  tests/cpp/test_modules_as_engines.cpp
  tests/modules/hub.py
Labels: component: tests, cla signed

#2307 neg converter correction
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2128 feat: Add preliminary support for freezing tensors in Dynamo
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/condition/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
  py/torch_tensorrt/dynamo/conversion/impl/linear.py
  py/torch_tensorrt/dynamo/conversion/impl/matmul.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
  py/torch_tensorrt/dynamo/lowering/_pre_aot_lowering.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  tests/py/dynamo/backend/test_specialized_models.py
  tests/py/dynamo/lowering/test_decompositions.py
  tests/py/dynamo/testing_utilities.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: fx, component: dynamo, Story: Export/Compile Unification, component: torch_compile

#2310 fix: Move aten.neg test case
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_neg_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2315 small fix: Packaging version switch
  py/torch_tensorrt/dynamo/backend/backends.py
Labels: component: api [Python], cla signed, component: dynamo, component: torch_compile

#2311 fix: Register tensorrt backend name
  py/torch_tensorrt/dynamo/backend/backends.py
  tests/py/dynamo/backend/test_backend_compiler.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2195 feat: Transition export workflows to use torch._export APIs
  py/torch_tensorrt/dynamo/aten_tracer.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/compile.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: fx, component: dynamo, component: torch_compile

#2265 fix: Add special cases for `clone` and `to_copy` where input of graph is output
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/cast.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  tests/py/dynamo/conversion/test_casts.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2039 FX converter documentation
  docsrc/contributors/fx_converters.rst
Labels: documentation, cla signed

#2232 aten::split converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/split.py
  tests/py/dynamo/conversion/test_split_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2281 DLFW changes
  docker/WORKSPACE.ngc
  examples/int8/training/vgg16/requirements.txt
  noxfile.py
  py/torch_tensorrt/__init__.py
Labels: component: api [Python], cla signed

#2280 feat: Add ATen lowering pass system
  docsrc/contributors/writing_dynamo_aten_lowering_passes.rst
  docsrc/index.rst
  py/torch_tensorrt/dynamo/aten_tracer.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/lowering/passes/__init__.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_manager.py
  py/torch_tensorrt/dynamo/lowering/passes/repair_input_as_output.py
  setup.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/testing_utilities.py
Labels: documentation, component: tests, component: lowering, component: build system, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2321 fix: Support non -1 end idx and <0 start idx in aten::flatten converter
  core/conversion/converters/impl/shuffle.cpp
  tests/core/conversion/converters/test_shuffle.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#2164 Dynamo converter support for torch.ops.aten.erf.default op
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_erf_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2339 fix: Update Torchvision version to address dependency resolution issue
  py/requirements.txt
  pyproject.toml
Labels: component: build system, component: api [Python], cla signed

#2276 fix: Remove input aliasing of builtin ops
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/lowering/_repair_input_aliasing.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_utils.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_input_alias_fixing_clones.py
  py/torch_tensorrt/dynamo/lowering/passes/repair_input_as_output.py
  tests/py/dynamo/backend/test_specialized_models.py
  tests/py/dynamo/testing_utilities.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2282 fix: Allow low rank inputs in Python Runtime
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  tests/py/dynamo/runtime/test_python_runtime.py
Labels: component: tests, component: api [Python], component: runtime, cla signed, component: dynamo

#2325 fix: Address multi-GPU issue in engine deserialize
  core/runtime/execute_engine.cpp
  core/runtime/runtime.cpp
  core/runtime/runtime.h
Labels: component: core, component: runtime, cla signed

#2337 feat: support deconv (1d, 2d, and Nd) dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/deconv.py
  tests/py/dynamo/conversion/test_deconvolution_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2193 Update usage of PyTorch's custom op API
  py/torch_tensorrt/dynamo/lowering/substitutions/einsum.py
  py/torch_tensorrt/dynamo/lowering/substitutions/maxpool1d.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#2248 feat: support bmm converter in dynamo
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_bmm.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2347 fix: Add support for negative dimensions in reduce
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/permutation.py
  py/torch_tensorrt/dynamo/conversion/impl/reduce.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/squeeze.py
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
  tests/py/dynamo/conversion/test_amax_aten.py
  tests/py/dynamo/conversion/test_sum_aten.py
Labels: component: tests, component: conversion, priority: high, component: converters, component: api [Python], cla signed, component: dynamo

#2324 feat: Add tensor type enforcement for converters
  py/torch_tensorrt/dynamo/conversion/_ConversionContext.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/conversion.py
  py/torch_tensorrt/dynamo/conversion/converter_registry.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/activation/base.py
  py/torch_tensorrt/dynamo/conversion/impl/activation/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/cast.py
  py/torch_tensorrt/dynamo/conversion/impl/condition/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/deconv.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
  py/torch_tensorrt/dynamo/conversion/impl/linear.py
  py/torch_tensorrt/dynamo/conversion/impl/matmul.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/permutation.py
  py/torch_tensorrt/dynamo/conversion/impl/pool.py
  py/torch_tensorrt/dynamo/conversion/impl/reduce.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  py/torch_tensorrt/dynamo/conversion/impl/shape.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/base.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/split.py
  py/torch_tensorrt/dynamo/conversion/impl/squeeze.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/base.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
  py/torch_tensorrt/dynamo/conversion/op_evaluators.py
  py/torch_tensorrt/dynamo/lowering/substitutions/maxpool1d.py
  tests/py/dynamo/backend/test_specialized_models.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_converter_utils.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2336 fix: Issue in TS dimension-squeeze utility
  core/util/trt_util.cpp
  tests/py/ts/models/test_models.py
Labels: component: tests, component: core, cla signed

#2351 perf: Add lowering passes to improve TRT runtime on SD
  docsrc/contributors/writing_dynamo_aten_lowering_passes.rst
  py/torch_tensorrt/dynamo/aten_tracer.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/attention.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  py/torch_tensorrt/dynamo/lowering/passes/fuse_prims_broadcast.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_efficient_attention.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_manager.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_input_alias_fixing_clones.py
  py/torch_tensorrt/dynamo/lowering/passes/repair_input_as_output.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/lowering/test_decompositions.py
  tests/py/dynamo/testing_utilities.py
Labels: documentation, component: tests, component: lowering, component: conversion, priority: high, component: converters, component: api [Python], cla signed, component: dynamo, component: torch_compile
