Repository pytorch/TensorRT, pull requests merged in 2023-10, with the labels that each got.

#2271 feat: Implement Dynamic shapes + fallback support for export path
  .github/workflows/build-test.yml
  cpp/include/torch_tensorrt/torch_tensorrt.h
  cpp/src/types.cpp
  docsrc/index.rst
  docsrc/user_guide/dynamic_shapes.rst
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/csrc/tensorrt_classes.cpp
  py/torch_tensorrt/csrc/tensorrt_classes.h
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  py/torch_tensorrt/dynamo/aten_tracer.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/compile.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/conversion.py
  py/torch_tensorrt/dynamo/conversion/truncate_long_and_double.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/models/test_dyn_models.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/runtime/test_compiler_utils.py
Labels: documentation, component: tests, component: lowering, component: conversion, component: api [Python], component: api [C++], cla signed, component: fx, fx, component: dynamo, component: torch_compile

#2358 feat: Add maxpool lowering passes and experimental folder in Dynamo
  .pre-commit-config.yaml
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/lowering/_pre_aot_lowering.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/replace_max_pool_with_indices.py
  py/torch_tensorrt/dynamo/lowering/substitutions/__init__.py
  py/torch_tensorrt/dynamo/lowering/substitutions/einsum.py
  py/torch_tensorrt/dynamo/lowering/substitutions/maxpool1d.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  setup.py
  tests/py/dynamo/backend/test_pre_aot_lowering.py
  tests/py/dynamo/lowering/test_decompositions.py
  tests/py/dynamo/testing_utilities.py
Labels: component: tests, component: lowering, priority: high, component: build system, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2277 Aten::Index converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  tests/py/dynamo/conversion/test_index_aten.py
Labels: component: tests, component: conversion, priority: high, component: converters, component: api [Python], cla signed, component: dynamo

#2353 fix/feat: Add and repair multiple converters for SD + other models
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/condition/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/reduce.py
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  py/torch_tensorrt/dynamo/conversion/prims_ops_converters.py
  tests/py/dynamo/conversion/test_div_aten.py
  tests/py/dynamo/conversion/test_sum_aten.py
  tests/py/dynamo/conversion/test_unsqueeze_aten.py
  tests/py/dynamo/conversion/test_where_aten.py
Labels: component: tests, component: conversion, priority: high, component: converters, component: api [Python], cla signed, component: dynamo

#2354 feat: support flatten and reshape via shuffle_layer
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  tests/py/dynamo/conversion/test_converter_utils.py
  tests/py/dynamo/conversion/test_reshape_aten.py
Labels: component: tests, component: conversion, priority: high, component: converters, component: api [Python], cla signed, component: dynamo

#2369 minor fix: Update `get_ir` prefixes
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#2343 Dynamo converter cat
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/cat.py
Labels: component: conversion, priority: high, component: converters, component: api [Python], cla signed, component: dynamo

#2375 fix: Repair issue in Torch Constant Folder
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
Labels: component: lowering, priority: high, component: api [Python], cla signed, component: dynamo

#2330 feat: support group_norm, batch_norm, and layer_norm
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  tests/py/dynamo/conversion/test_batch_norm_aten.py
  tests/py/dynamo/conversion/test_batchnorm_aten.py
  tests/py/dynamo/conversion/test_group_norm_aten.py
  tests/py/dynamo/conversion/test_layer_norm_aten.py
Labels: component: tests, component: lowering, component: conversion, priority: high, component: converters, WIP, component: api [Python], cla signed, component: dynamo

#2291 support argmax converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/argmax.py
  tests/py/dynamo/conversion/test_argmax_aten.py
Labels: component: tests, component: conversion, priority: high, component: converters, component: api [Python], cla signed, component: dynamo

#2386 feat: Decomposition for `_unsafe_index`
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
Labels: component: lowering, priority: high, component: api [Python], cla signed, component: dynamo

#2363 docs: Add documentation of `torch.compile` backend usage
  docsrc/index.rst
  docsrc/user_guide/dynamic_shapes.rst
  docsrc/user_guide/torch_compile.rst
  py/torch_tensorrt/dynamo/_settings.py
Labels: documentation, priority: high, component: api [Python], cla signed, component: dynamo

#2390 fix: Remove supported ops from decompositions
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
Labels: component: lowering, priority: high, component: api [Python], component: dynamo

#2404 fix: Converter, inputs, and utils bugfixes for Transformer XL
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/conversion.py
  py/torch_tensorrt/dynamo/conversion/impl/reduce.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/test_slice_aten.py
  tests/py/dynamo/conversion/test_sum_aten.py
Labels: component: tests, component: conversion, priority: high, component: converters, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2395 feat: support embedding_bag converter (1D input)
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2401 feat: support chunk dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_chunk_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2388 feat: Wrap ExportedPrograms transformations with an API, allow dynamo.compile to accept graphmodules.
  docsrc/user_guide/saving_models.rst
  py/requirements.txt
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/compile.py
  py/torch_tensorrt/dynamo/export.py
  tests/py/dynamo/models/test_export_serde.py
Labels: documentation, component: tests, component: api [Python], cla signed, component: dynamo

#2389 chore: Add documentation for dynamo.compile backend
  docsrc/index.rst
  docsrc/user_guide/dynamo_export.rst
  docsrc/user_guide/saving_models.rst
Labels: documentation, cla signed, cherry-pick

#2366 Support new FX Legacy Registry in opset coverage tool
  py/torch_tensorrt/dynamo/tools/opset_coverage.py
Labels: component: api [Python], cla signed, component: dynamo

#2416 Cherry-pick : Add documentation for dynamo.compile backend (#2389)
  docsrc/index.rst
  docsrc/user_guide/dynamo_export.rst
  docsrc/user_guide/saving_models.rst
Labels: documentation, cla signed

#2418 fix: type error in embedding_bag
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2403 feat: support cumsum dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_cumsum_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2420 2.0 docs overhaul
  docsrc/conf.py
  docsrc/contributors/dynamo_converters.rst
  docsrc/contributors/fx_converters.rst
  docsrc/contributors/ts_converters.rst
  docsrc/dynamo/dynamo_export.rst
  docsrc/dynamo/torch_compile.rst
  docsrc/fx/getting_started_with_fx_path.rst
  docsrc/getting_started/installation.rst
  docsrc/index.rst
  docsrc/py_api/dynamo.rst
  docsrc/py_api/torch_tensorrt.rst
  docsrc/ts/creating_torchscript_module_in_python.rst
  docsrc/ts/getting_started_with_cpp_api.rst
  docsrc/ts/getting_started_with_python_api.rst
  docsrc/ts/torchscript_frontend_from_pytorch.rst
  docsrc/user_guide/dynamic_shapes.rst
  docsrc/user_guide/saving_models.rst
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_exporter.py
  py/torch_tensorrt/dynamo/_tracer.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/cast.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  py/torch_tensorrt/dynamo/conversion/prims_ops_converters.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  py/torch_tensorrt/dynamo/tools/opset_coverage.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/models/test_export_serde.py
Labels: documentation, component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, fx, component: dynamo, component: torch_compile
