Repository pytorch/TensorRT, pull requests merged in 2024-10, with the labels that each got.

#3197 docs: A tutorial on how to overload converters in Torch-TensorRT
  docsrc/index.rst
  examples/dynamo/README.rst
  examples/dynamo/converter_overloading.py
Labels: documentation, cla signed

#3181 Adjust cpp torch trt logging level with compiler option
  py/torch_tensorrt/dynamo/utils.py
Labels: component: api [Python], cla signed, component: dynamo

#3203 extend the timeout-minutes in build/test from 60 min to 120 min
  .github/workflows/linux-test.yml
  .github/workflows/nightlies.yml
  .github/workflows/windows-test.yml
Labels: cla signed

#3208 cherry pick 3203 from main to release/2.5
  .github/workflows/linux-test.yml
  .github/workflows/nightlies.yml
  .github/workflows/windows-test.yml
Labels: cla signed

#3207 cherry pick to release/2.5 fix: Fix static arange export 3194
  py/torch_tensorrt/dynamo/_exporter.py
  tests/py/dynamo/models/test_export_serde.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo

#3218 extend windows build from 60 min to 120 min
  .github/workflows/build-test-windows.yml
Labels: cla signed

#3219 cherry pick #3218: extend windows build timeout from 60 min to 120 min
  .github/workflows/build-test-windows.yml
Labels: cla signed

#3209 cherry pick fix global partitioner bug #3195 from main to release/2.5 branch
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  tests/py/dynamo/partitioning/test_global_partitioning.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo

#3195 fix the global partitioner bug
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  tests/py/dynamo/partitioning/test_global_partitioning.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo

#3213 cherry pick #3193: add req_full_compilation_arg from main to release/2.5
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/backend/backends.py
Labels: component: api [Python], cla signed, component: dynamo, component: torch_compile

#3110 feat: Implement FP32 accumulation for matmul
  docsrc/index.rst
  docsrc/user_guide/mixed_precision.rst
  examples/dynamo/README.rst
  examples/dynamo/requirements.txt
  examples/dynamo/torch_export_gpt2.py
  examples/dynamo/torch_export_llama2.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/impl/activation/base.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/accumulate_fp32_matmul.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/testing_utilities.py
  uv.lock
Labels: documentation, component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3225 chore: Make substitute-runner in Windows CI work again
  .github/workflows/build-test-windows.yml
  .github/workflows/release-windows.yml
Labels: cla signed

#3164 Run test_base_fp8 for compute capability 8.9 or later
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, cla signed

#3170 Fixed batchnorm bug
  examples/dynamo/refit_engine_example.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/models/test_model_refit.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3228 cherry pick #3225 change from main to release/2.5 branch
  .github/workflows/build-test-windows.yml
  .github/workflows/release-windows.yml
Labels: cla signed

#3191 Fix for warning as default stream was used in enqueueV3
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/execute_engine.cpp
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
Labels: component: core, component: api [Python], component: runtime, cla signed, component: dynamo

#3236 cherry pick refit error 3170 from main to release/2.5 branch
  examples/dynamo/refit_engine_example.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/models/test_model_refit.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3237 cherry pick #3191 from main to release/2.5
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/execute_engine.cpp
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
Labels: component: core, component: api [Python], component: runtime, cla signed, component: dynamo

#3238 chore: doc updates
  docsrc/index.rst
  docsrc/tutorials/notebooks.rst
  examples/README.rst
  examples/dynamo/README.rst
  examples/dynamo/torch_compile_resnet_example.py
  examples/dynamo/torch_compile_stable_diffusion.py
  examples/dynamo/torch_compile_transformers_example.py
  examples/dynamo/torch_export_gpt2.py
  examples/dynamo/torch_export_llama2.py
Labels: documentation, cla signed

#3243 chore: Additional Doc fixes
  docsrc/index.rst
Labels: documentation, cla signed

#3137 feat: log_softmax decomposition
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/attention.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/conversion/test_softmax_aten.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3240 cherry pick doc fix #3238 from main to release2.5
  docsrc/index.rst
  docsrc/tutorials/notebooks.rst
  examples/README.rst
  examples/dynamo/README.rst
  examples/dynamo/torch_compile_resnet_example.py
  examples/dynamo/torch_compile_stable_diffusion.py
  examples/dynamo/torch_compile_transformers_example.py
  examples/dynamo/torch_export_gpt2.py
  examples/dynamo/torch_export_llama2.py
Labels: documentation, cla signed

#3223 fix: change floordiv to divmod for `//tests/core/lowering:test_remove_unnecessary_casts`
  core/lowering/passes/remove_unnecessary_casts.cpp
Labels: component: lowering, component: core, cla signed

#3211 Add support for JetPack 6.1 build
  docsrc/getting_started/jetpack.rst
  docsrc/index.rst
  setup.py
  toolchains/BUILD
  toolchains/jetpack/BUILD
  toolchains/jp_workspaces/MODULE.bazel.tmpl
  toolchains/jp_workspaces/requirements.txt
  toolchains/jp_workspaces/test_requirements.txt
Labels: documentation, component: build system, cla signed

#3253 Fix code example in README.md
  README.md
Labels: cla signed

#3245 chore: Access user settings within the lowering system
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/lowering/passes/__init__.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/accumulate_fp32_matmul.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  py/torch_tensorrt/dynamo/lowering/passes/fuse_prims_broadcast.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_linear.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_manager.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_assert_scalar.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_detach.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_input_alias_fixing_clones.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_sym_nodes.py
  py/torch_tensorrt/dynamo/lowering/passes/repair_input_aliasing.py
  py/torch_tensorrt/dynamo/lowering/passes/repair_input_as_output.py
  py/torch_tensorrt/dynamo/lowering/passes/replace_full_like_with_full.py
  py/torch_tensorrt/dynamo/lowering/passes/replace_max_pool_with_indices.py
  py/torch_tensorrt/dynamo/lowering/passes/view_to_reshape.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/testing_utilities.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3251 fix: expand dim for scalar numpy when freezing tensors to IConstantLayers
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#3227 chore: Adapt CIA ops decomposition handling in upsample converters to torch 2.6
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/upsample.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/conversion/test_upsample_aten.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3111 feat: Support weight streaming
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/register_jit_hooks.cpp
  docsrc/index.rst
  examples/dynamo/weight_streaming_example.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/impl/cat.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/matmul.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/runtime/__init__.py
  py/torch_tensorrt/runtime/_weight_streaming.py
  tests/py/dynamo/runtime/test_004_weight_streaming.py
Labels: documentation, component: tests, component: conversion, component: core, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo

#3260 fix issue 3259
  py/torch_tensorrt/_compile.py
  tests/py/ts/api/test_classes.py
Labels: component: tests, component: api [Python], cla signed

#3264 Remove numpy version constraint in test requirements
  tests/py/requirements.txt
Labels: component: tests, cla signed
