Repository pytorch/TensorRT, pull requests merged in 2024-05, with the labels that each got.

#2580 Rand converter - evaluator
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_rand_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#2802 2.3 cherry pick feat: Adding support for native int64 (#2789)
  .pre-commit-config.yaml
  core/runtime/register_jit_hooks.cpp
  core/util/trt_util.cpp
  core/util/trt_util.h
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
  py/torch_tensorrt/dynamo/conversion/truncate_double.py
  py/torch_tensorrt/logging.py
  tests/py/dynamo/backend/test_backend_compiler.py
  tests/py/dynamo/backend/test_specialized_models.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_casts.py
  tests/py/dynamo/lowering/test_decompositions.py
  tests/py/dynamo/models/conftest.py
  tests/py/dynamo/models/test_dtype_support.py
  tests/py/dynamo/models/test_dyn_models.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/runtime/test_compilation_settings.py
Labels: component: tests, component: conversion, component: core, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo

#2776 cherry-pick: Python Runtime Windows Builds on TRT 10 (#2764)
  .bazelrc
  .github/scripts/install-torch-tensorrt-windows.sh
  .github/workflows/build-test-windows.yml
  .github/workflows/windows-test.yml
  BUILD.bazel
  core/conversion/BUILD
  core/conversion/conversionctx/BUILD
  core/conversion/converters/impl/activation.cpp
  core/ir/BUILD
  core/lowering/passes/BUILD
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/util/BUILD
  core/util/logging/BUILD
  cpp/lib/BUILD
  packaging/driver_upgrade.bat
  packaging/pre_build_script_windows.sh
  packaging/smoke_test_windows.py
  py/BUILD.bazel
  py/requirements.txt
  py/torch_tensorrt/__init__.py
  setup.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/runtime/test_hw_compat.py
  third_party/cudnn/local/BUILD
  third_party/libtorch/BUILD
  third_party/tensorrt/local/BUILD
  toolchains/ci_workspaces/WORKSPACE.win.release.tmpl
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], component: runtime, cla signed

#2677 feat: support 1d ITensor offsets for embedding_bag converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  tests/py/dynamo/conversion/test_embedding_aten.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2788 chore: Updates for 2.3
  .github/scripts/install-torch-tensorrt.sh
  .github/workflows/build-test.yml
  dev_dep_versions.yml
  docker/Dockerfile
  docker/README.md
  packaging/pre_build_script.sh
  py/requirements.txt
  tests/py/dynamo/runtime/hw_compat.ts
  tests/py/dynamo/runtime/test_hw_compat.py
  tests/py/ts/models/hw_compat.ts
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: tests, component: api [Python], cla signed

#2809 fix: a bug in func run_test_compare_tensor_attributes_only
  tests/py/dynamo/conversion/harness.py
Labels: component: tests, cla signed

#2814 Fix ModuleNotFoundError in ptq
  py/torch_tensorrt/ts/ptq.py
Labels: component: api [Python], cla signed

#2812 docs: Example on how to use custom kernels in Torch-TensorRT
  docsrc/conf.py
  docsrc/index.rst
  docsrc/requirements.txt
  docsrc/sg_execution_times.rst
  docsrc/tutorials/images/circ_pad_example.png
  examples/dynamo/README.rst
  examples/dynamo/custom_kernel_plugins.py
  examples/dynamo/requirements.txt
Labels: documentation, cla signed

#2807 chore: Cherry pick embedding_bag converter for release 2.3
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  tests/py/dynamo/conversion/test_embedding_aten.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2804 chore: Remove CUDNN dependencies
  .github/workflows/docker_builder.yml
  README.md
  cmake/Modules/FindcuDNN.cmake
  cmake/dependencies.cmake
  core/plugins/CMakeLists.txt
  dev_dep_versions.yml
  docker/Dockerfile
  docker/README.md
  docker/WORKSPACE.docker
  docker/WORKSPACE.ngc
  docsrc/getting_started/getting_started_with_windows.rst
  docsrc/getting_started/installation.rst
  examples/int8/ptq/README.md
  examples/int8/qat/README.md
  examples/torchtrt_runtime_example/Makefile
  examples/torchtrt_runtime_example/README.md
  notebooks/Resnet50-CPP.ipynb
  notebooks/WORKSPACE.notebook
  py/ci/build_whl.sh
  py/ci/soname_excludes.params
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
  setup.py
  toolchains/ci_workspaces/WORKSPACE.sbsa
  toolchains/ci_workspaces/WORKSPACE.win.release.tmpl
  toolchains/ci_workspaces/WORKSPACE.x86_64
  toolchains/ci_workspaces/WORKSPACE.x86_64.cu118.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.cu121.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.legacy
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
  toolchains/jp_workspaces/WORKSPACE.jp50
  versions.py
Labels: documentation, component: conversion, component: core, component: converters, component: build system, component: api [Python], cla signed, component: dynamo

#2819 fix: bug in elementwise base for static inputs
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  tests/py/dynamo/conversion/test_binary_ops_aten.py
  tests/py/dynamo/conversion/test_bitwise_and_aten.py
  tests/py/dynamo/conversion/test_bitwise_or_aten.py
  tests/py/dynamo/conversion/test_bitwise_xor_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2826 Use environment for docgen
  .github/workflows/docgen.yml
Labels: cla signed

#2831 tool: Opset coverage notebook
  .gitignore
  py/torch_tensorrt/dynamo/tools/opset_coverage.py
  tools/opset_coverage.ipynb
Labels: component: api [Python], cla signed, component: dynamo

#2821 ci: Add release flag for nightly build tag
  packaging/pre_build_script_windows.sh
Labels: cla signed, needs-release-cherrypick

#2834 [doc] Update options documentation for torch.compile
  docsrc/dynamo/torch_compile.rst
Labels: documentation, cla signed

#2833 feat(//py/torch_tensorrt/dynamo): Support for BF16
  core/util/trt_util.cpp
  core/util/trt_util.h
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  tests/py/dynamo/models/test_dtype_support.py
Labels: component: tests, component: conversion, component: core, component: api [Python], cla signed, component: dynamo

#2796 feat: Add validators for dynamic shapes in converter registration
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  tests/py/dynamo/partitioning/test_dynamic_partitioning.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2805 feat: data parallel inference examples
  docsrc/index.rst
  examples/distributed_inference/README.md
  examples/distributed_inference/data_parallel_gpt2.py
  examples/distributed_inference/data_parallel_stable_diffusion.py
  examples/distributed_inference/requirement.txt
Labels: documentation, cla signed

#2832 fix: bugs in TRT 10 upgrade
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
Labels: component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo

#2726 feat: support aten._cdist_forward converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/conversion/test_cdist_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2851 chore: cherry pick of #2805
  docsrc/index.rst
Labels: documentation, cla signed

#2823 feat: support aten.log1p converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_log1p.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2735 feat: support aten.as_strided converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_as_strided_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#2775 chore: enable DS support for converters
  .github/workflows/build-test-windows.yml
  .github/workflows/build-test.yml
  core/runtime/execute_engine.cpp
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/dynamo/_tracer.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/cat.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  py/torch_tensorrt/dynamo/lowering/passes/fuse_prims_broadcast.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/utils.py
  tests/modules/requirements.txt
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_arange_aten.py
  tests/py/dynamo/conversion/test_bitwise_and_aten.py
  tests/py/dynamo/conversion/test_bitwise_not_aten.py
  tests/py/dynamo/conversion/test_bitwise_or_aten.py
  tests/py/dynamo/conversion/test_bitwise_xor_aten.py
  tests/py/dynamo/conversion/test_convolution_aten.py
  tests/py/dynamo/conversion/test_deconvolution_aten.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/runtime/test_convert_module_to_trt_engine.py
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo, component: torch_compile

#2664 Aten scatter converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_scatter_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#2845 feat(//py/torch_tensorrt/dynamo): Support for BF16 (#2833)
  core/util/trt_util.cpp
  core/util/trt_util.h
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  tests/py/dynamo/models/test_dtype_support.py
Labels: component: tests, component: conversion, component: core, component: api [Python], cla signed, component: dynamo

#2854 fix user_guide and tutorial docs
  docsrc/tutorials/notebooks.rst
  docsrc/tutorials/serving_torch_tensorrt_with_triton.rst
  docsrc/user_guide/dynamic_shapes.rst
  docsrc/user_guide/ptq.rst
  docsrc/user_guide/runtime.rst
  docsrc/user_guide/using_dla.rst
Labels: documentation, cla signed

#2858 chore: Make from and to methods use the same TRT API
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  py/torch_tensorrt/_enums.py
  tests/py/requirements.txt
Labels: component: tests, component: api [Python], cla signed

#2861 chore: cherry-pick of https://github.com/pytorch/TensorRT/pull/2858
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  py/torch_tensorrt/_enums.py
  tests/py/requirements.txt
Labels: component: tests, component: api [Python], cla signed

#2841 add aten.topk implementation
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/topk.py
  tests/py/dynamo/conversion/test_sort_aten.py
  tests/py/dynamo/conversion/test_topk_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2829 feat: support aten.atan2.out converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_atan2_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2866 chore: Minor fix 2.3
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, fx, component: dynamo

#2852 chore: cherry pick of #2832
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
Labels: component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo

#2849 feat: Cherry pick of Add validators for dynamic shapes in converter registration
  .github/scripts/install-torch-tensorrt-windows.sh
  .github/scripts/install-torch-tensorrt.sh
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/partitioning/test_dynamic_partitioning.py
  tests/py/requirements.txt
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2856 feat: support aten.diagonal converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_diagonal_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2763 feat: Implement FP8 functionality
  .github/scripts/install-torch-tensorrt-windows.sh
  .github/scripts/install-torch-tensorrt.sh
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  dev_dep_versions.yml
  docsrc/index.rst
  examples/dynamo/README.rst
  examples/dynamo/vgg16_fp8_ptq.py
  examples/int8/training/vgg16/requirements.txt
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/quantize.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/lowering/_remove_sym_nodes.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_detach.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/testing_utilities.py
  tests/py/requirements.txt
  versions.py
Labels: documentation, component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2681 Remove ops from decompositions where converters exist
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#2519 slice_scatter decomposition
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#2870 chore: cherry pick cudnn dependency removal commit
  .github/workflows/docker_builder.yml
  README.md
  cmake/Modules/FindcuDNN.cmake
  cmake/dependencies.cmake
  core/plugins/CMakeLists.txt
  dev_dep_versions.yml
  docker/README.md
  docker/WORKSPACE.docker
  docker/WORKSPACE.ngc
  docsrc/getting_started/getting_started_with_windows.rst
  docsrc/getting_started/installation.rst
  examples/int8/ptq/README.md
  examples/int8/qat/README.md
  examples/torchtrt_runtime_example/Makefile
  examples/torchtrt_runtime_example/README.md
  notebooks/Resnet50-CPP.ipynb
  notebooks/WORKSPACE.notebook
  py/ci/build_whl.sh
  py/ci/soname_excludes.params
  setup.py
  toolchains/ci_workspaces/WORKSPACE.sbsa
  toolchains/ci_workspaces/WORKSPACE.win.release.tmpl
  toolchains/ci_workspaces/WORKSPACE.x86_64
  toolchains/ci_workspaces/WORKSPACE.x86_64.cu118.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.cu121.release.rhel
  toolchains/ci_workspaces/WORKSPACE.x86_64.legacy
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
  toolchains/jp_workspaces/WORKSPACE.jp50
  versions.py
Labels: documentation, component: core, component: build system, component: api [Python], cla signed

#2515 select_scatter decomp
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#2868 manylinux wheel file build update for TensorRT-10.0.1
  README.md
  py/ci/Dockerfile.ci
  py/ci/build_whl.sh
  py/ci/soname_excludes.params
Labels: component: api [Python], cla signed
