Repository pytorch/TensorRT, pull requests merged in 2024-06, with the labels that each got.

#2879 replace itemset due to numpy version 2.0 removed itemset api
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2882 cherry pick pull/2879 to release/2.3 branch
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2835 cherry-pick: Add release flag for nightly build tag (#2821)
  packaging/pre_build_script_windows.sh
  tests/py/requirements.txt
Labels: component: tests, cla signed, ciflow/binaries/all

#2884 fix: Missing nvinfer.dll in CI for Windows [`release/2.3`]
  .github/scripts/install-torch-tensorrt-windows.sh
  packaging/pre_build_script_windows.sh
  tests/py/requirements.txt
Labels: component: tests, cla signed, ciflow/binaries/all

#2885 Bump transformers version from 4.39 to 4.40
  tests/py/requirements.txt
Labels: component: tests, cla signed, ciflow/binaries/all

#2857 chore: cherry-pick of DS feature
  core/runtime/execute_engine.cpp
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/dynamo/_tracer.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/cat.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  py/torch_tensorrt/dynamo/lowering/passes/fuse_prims_broadcast.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/utils.py
  tests/modules/requirements.txt
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_arange_aten.py
  tests/py/dynamo/conversion/test_bitwise_and_aten.py
  tests/py/dynamo/conversion/test_bitwise_not_aten.py
  tests/py/dynamo/conversion/test_bitwise_or_aten.py
  tests/py/dynamo/conversion/test_bitwise_xor_aten.py
  tests/py/dynamo/conversion/test_convolution_aten.py
  tests/py/dynamo/conversion/test_deconvolution_aten.py
  tests/py/dynamo/conversion/test_diagonal_aten.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
  tests/py/dynamo/conversion/test_sort_aten.py
  tests/py/dynamo/models/test_export_serde.py
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo, component: torch_compile

#2875 chore: Update torch to 2.3.1
  .github/scripts/install-torch-tensorrt-windows.sh
  .github/scripts/install-torch-tensorrt.sh
  README.md
  WORKSPACE
  py/requirements.txt
  pyproject.toml
  tests/py/requirements.txt
  toolchains/ci_workspaces/WORKSPACE.win.release.tmpl
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: tests, component: build system, component: api [Python], cla signed, ciflow/binaries/all

#2891 fix: Repair integer inputs in dynamic shape cases
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  tests/py/dynamo/models/test_hf_generate_dynamic.py
Labels: component: tests, component: api [Python], component: runtime, cla signed, component: dynamo

#2722 feat: TS Add converter support for aten::flip
  core/conversion/converters/impl/select.cpp
  tests/core/conversion/converters/test_slice.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#2860 ptq test error correction
  tests/py/ts/ptq/test_ptq_dataloader_calibrator.py
  tests/py/ts/ptq/test_ptq_to_backend.py
Labels: component: tests, cla signed

#2871 Dynamic support for split
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_convolution_aten.py
  tests/py/dynamo/conversion/test_split_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2888 feat: Add dynamic shape support for sub
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_sub_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2889 feat: dynamic shapes support for sqrt and copy
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_copy_aten.py
  tests/py/dynamo/conversion/test_sqrt_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2883 add dynamic shape support for aten.ops.gt and aten.ops.ge
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_ge_aten.py
  tests/py/dynamo/conversion/test_gt_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2892 chore: cherry-pick FP8
  .github/workflows/build-test-linux.yml
  dev_dep_versions.yml
  docsrc/index.rst
  examples/dynamo/README.rst
  examples/dynamo/vgg16_fp8_ptq.py
  examples/int8/training/vgg16/requirements.txt
  packaging/pre_build_script.sh
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/quantize.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/lowering/_remove_sym_nodes.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_detach.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/testing_utilities.py
  versions.py
Labels: documentation, component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2897 suport a range of versions for torch and tensorrt
  pyproject.toml
Labels: component: build system, cla signed

#2887 add dynamic shape support for sin/cos/cat
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_cat_aten.py
  tests/py/dynamo/conversion/test_cos_aten.py
  tests/py/dynamo/conversion/test_sin_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2903 Cancel in-progress ci build when a new commit is pushed
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/docgen.yml
  .github/workflows/linux-test.yml
  .github/workflows/windows-test.yml
Labels: cla signed

#2864 readme
  CONTRIBUTING.md
  README.md
Labels: cla signed

#2909 Only trigger doc gen if it is not a pytorchbot commit
  .github/workflows/docgen.yml
Labels: cla signed

#2914 chore: Dynamic support for split (#2871) into main
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_split_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2806 feat: C++ runtime on Windows
  .github/scripts/install-torch-tensorrt-windows.sh
  .github/scripts/install-torch-tensorrt.sh
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/windows-test.yml
  packaging/pre_build_script_windows.sh
  packaging/vc_env_helper.bat
  py/torch_tensorrt/_features.py
  pyproject.toml
  setup.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/partitioning/test_dynamic_partitioning.py
  tests/py/requirements.txt
  third_party/tensorrt/local/BUILD
  toolchains/ci_workspaces/WORKSPACE.win.release.tmpl
Labels: component: tests, component: build system, component: api [Python], cla signed, ciflow/binaries/all

#2850 chore: cherry pick of #2709
  core/runtime/execute_engine.cpp
Labels: component: core, component: runtime, cla signed

#2908 Add dynamic shape support for layer_norm/native_group_norm/group_norm
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/conversion/test_group_norm_aten.py
  tests/py/dynamo/conversion/test_layer_norm_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2878 feat: dynamic shapes support for neg ops
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_neg_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2859 empty_stride decomposition
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#2745 empty_memory_format evaluator
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  tests/py/dynamo/conversion/test_empty_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2905 gather converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  tests/py/dynamo/conversion/test_gather_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2907 feat: Win/Linux Dual Compatible `WORKSPACE` + Upgrade CUDA + Upgrade PyT
  .bazelrc
  .bazelversion
  .github/workflows/docgen.yml
  README.md
  WORKSPACE
  core/BUILD
  core/conversion/BUILD
  core/conversion/conversionctx/BUILD
  core/conversion/converters/BUILD
  core/conversion/evaluators/BUILD
  core/conversion/tensorcontainer/BUILD
  core/conversion/var/BUILD
  core/ir/BUILD
  core/lowering/BUILD
  core/lowering/passes/BUILD
  core/partitioning/BUILD
  core/partitioning/partitioningctx/BUILD
  core/partitioning/partitioninginfo/BUILD
  core/partitioning/segmentedblock/BUILD
  core/plugins/BUILD
  core/runtime/BUILD
  core/util/BUILD
  core/util/logging/BUILD
  cpp/bin/torchtrtc/BUILD
  dev_dep_versions.yml
  docker/Dockerfile
  docker/dist-build.sh
  docsrc/getting_started/getting_started_with_windows.rst
  docsrc/getting_started/installation.rst
  examples/int8/ptq/BUILD
  examples/int8/qat/BUILD
  examples/torchtrt_runtime_example/BUILD
  py/ci/Dockerfile.ci
  py/ci/build_whl.sh
  py/requirements.txt
  py/torch_tensorrt/_C.cp310-win_amd64.pyd
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  pyproject.toml
  setup.py
  tests/core/BUILD
  tests/core/conversion/converters/converter_test.bzl
  tests/core/conversion/evaluators/evaluator_test.bzl
  tests/core/lowering/BUILD
  tests/core/lowering/lowering_test.bzl
  tests/core/partitioning/BUILD
  tests/core/partitioning/partitioning_test.bzl
  tests/core/runtime/runtime_test.bzl
  tests/cpp/BUILD
  tests/util/BUILD
  third_party/tensorrt/archive/BUILD
  third_party/tensorrt/local/BUILD
  toolchains/ci_workspaces/WORKSPACE.win.release.tmpl
  toolchains/ci_workspaces/WORKSPACE.x86_64
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.ubuntu
  version.txt
Labels: documentation, component: tests, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], component: evaluators, component: runtime, component: partitioning, cla signed, component: dynamo

#2904 chore: add dynamic shapes section in the resnet tutorial
  docsrc/user_guide/dynamic_shapes.rst
  examples/dynamo/torch_compile_resnet_example.py
  examples/dynamo/vgg16_fp8_ptq.py
Labels: documentation, cla signed

#2924 fix: Remove build artifact
  py/torch_tensorrt/_C.cp310-win_amd64.pyd
Labels: component: api [Python], cla signed

#2898 feat: Use a global timing cache and add a save option
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#2918 chore: fix ValueRanges computation in symbolic nodes
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  tests/py/dynamo/models/test_dyn_models.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2925 scatter CI failures
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#2509 chore: Update layer_norm converter to use INormalizationLayer
  core/conversion/converters/impl/layer_norm.cpp
  tests/core/conversion/converters/test_layer_norm.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#2927 Add dynamic shape support for leaky_relu/elu/hard_sigmoid/softplus
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_elu_aten.py
  tests/py/dynamo/conversion/test_hard_sigmoid_aten.py
  tests/py/dynamo/conversion/test_leaky_relu_aten.py
  tests/py/dynamo/conversion/test_softplus_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2405 feat: Improve logging throughout the Dynamo path
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/truncate_double.py
  py/torch_tensorrt/dynamo/lowering/passes/replace_max_pool_with_indices.py
  py/torch_tensorrt/dynamo/utils.py
Labels: component: lowering, component: conversion, component: api [Python], cla signed, component: dynamo

#2933 fix unsqueeze cannot work on more than 1 dynamic_shape dimensions
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
  tests/py/dynamo/conversion/test_unsqueeze_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2931 feat: support `native_dropout` dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_dropout_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2880 feat: support aten index_put converter for accumulate=False
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  tests/py/dynamo/conversion/test_index_put_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2874 feat: support aten.resize_ converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_resize_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2942 fix the docker build failure on main
  docker/Dockerfile
Labels: cla signed

#2935 feat: Add Branches to Docker Build File
  .github/workflows/docker_builder.yml
Labels: cla signed

#2943 add dynamic shape support for amax/amin/max/min/prod/sum
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_amax_aten.py
  tests/py/dynamo/conversion/test_amin_aten.py
  tests/py/dynamo/conversion/test_max_aten.py
  tests/py/dynamo/conversion/test_min_aten.py
  tests/py/dynamo/conversion/test_prod_aten.py
  tests/py/dynamo/conversion/test_sum_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2950 fix: bug in vgg16_fp8_ptq example
  examples/dynamo/vgg16_fp8_ptq.py
Labels: cla signed

#2936 Fixed layernorm when weight and bias is None in Stable Diffusion 3
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_layer_norm_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2929 chore: dynamic shape support for rsqrt/erf ops
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  tests/py/dynamo/conversion/test_erf_aten.py
  tests/py/dynamo/conversion/test_rsqrt_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2941 feat: dynamic shape support for tan, sinh, cosh, asin and acos
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_acos_aten.py
  tests/py/dynamo/conversion/test_asin_aten.py
  tests/py/dynamo/conversion/test_cosh_aten.py
  tests/py/dynamo/conversion/test_sinh_aten.py
  tests/py/dynamo/conversion/test_tan_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2876 fix: Repair integer inputs in dynamic shape cases
  .github/workflows/build-test-linux.yml
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  tests/py/dynamo/models/test_dyn_models.py
  tests/py/requirements.txt
Labels: component: tests, component: api [Python], component: runtime, cla signed, component: dynamo, needs-release-cherrypick

#2953 Update PYTORCH to 2.4
  .github/workflows/build-test-linux.yml
  WORKSPACE
  docker/dist-build.sh
  py/requirements.txt
  pyproject.toml
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
  version.txt
Labels: component: build system, component: api [Python], cla signed

#2956 Template linux test Workspace in CI
  .github/workflows/build-test-linux.yml
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: cla signed

#2954 chore: remove aten.full decomposition
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  tests/py/dynamo/conversion/test_expand_aten.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2948 empty tensor moving to default device
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#2966 fix: Add missing select in Bazel BUILD
  tests/core/conversion/converters/BUILD
  tests/core/conversion/evaluators/BUILD
  tests/core/runtime/BUILD
Labels: component: tests, cla signed
