Repository pytorch/TensorRT, pull requests merged in 2024-01, with the labels that each got.

#2550 feat: support aten.copy dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_copy_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2562 fix: Repair usage of `torch_executed_ops`
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  tests/py/dynamo/models/test_dyn_models.py
  tests/py/dynamo/models/test_export_serde.py
Labels: component: tests, component: conversion, priority: high, component: api [Python], cla signed, component: dynamo

#2563 fix: Switch all copies to force cast
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_casts.py
Labels: component: tests, component: conversion, priority: high, component: api [Python], cla signed, component: dynamo

#2490 Exposing select layer
  py/torch_tensorrt/dynamo/conversion/impl/condition/ops.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2566 feat: support aten.remainder.Scalar and aten.remainder.Tensor
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  tests/py/dynamo/conversion/test_remainder_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2585 chore: Update torch to 2.3dev
  README.md
  cpp/include/torch_tensorrt/macros.h
  dev_dep_versions.yml
  version.txt
Labels: component: api [C++], cla signed

#2560 feat: Add support for flash attention converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/attention.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_efficient_attention.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2549 [feat] Support conversion of scaled_dot_product_attention
  core/conversion/converters/BUILD
  core/conversion/converters/impl/internal_ops.cpp
  core/conversion/converters/impl/unary.cpp
  core/lowering/lowering.cpp
  core/lowering/passes/BUILD
  core/lowering/passes/passes.h
  core/lowering/passes/unpack_scaled_dot_product_attention.cpp
  core/lowering/register_trt_placeholder_ops.cpp
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/test_scaled_dot_product_attention.cpp
  tests/core/conversion/converters/test_unary.cpp
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, cla signed

#2591 Grant write permission to token
  .github/workflows/assigner.yml
  .github/workflows/label.yml
Labels: cla signed

#2589 Clean up AWS credentials
  .github/workflows/build-test.yml
Labels: cla signed

#2570 feat: support _pdist_forward dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/conversion/test_pdist_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2467 feat: add `convert_method_to_trt_engine()` for dynamo
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  tests/py/dynamo/runtime/test_convert_method_to_trt_engine.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2538 version: TRT upgrade to 9.2 on Linux Testing
  .github/scripts/install-torch-tensorrt.sh
  README.md
  WORKSPACE
  dev_dep_versions.yml
  docker/README.md
  packaging/pre_build_script.sh
  py/ci/soname_excludes.params
  py/requirements.txt
  pyproject.toml
  tests/py/ts/models/hw_compat.ts
  third_party/cudnn/local/BUILD
  third_party/tensorrt/local/BUILD
  toolchains/legacy/pyproject.toml
Labels: component: tests, component: build system, component: api [Python], cla signed

#2592 Clean up AWS credentials
  .github/workflows/build-test.yml
  .github/workflows/linux-test.yml
Labels: cla signed

#2608 chore: clean up AWS credentials PR changes
  .github/workflows/assigner.yml
  .github/workflows/build-test.yml
  .github/workflows/label.yml
  .github/workflows/linux-test.yml
Labels: cla signed

#2578 feat: support aten.any related converters in dynamo
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/reduce.py
  tests/py/dynamo/conversion/test_any.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2595 feat: support aten.scalar_tensor dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_scalar_tensor_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2600 fix: Update release branch for Docker build GHA
  .github/workflows/docker_builder.yml
Labels: cla signed

#2619 fix: Add write permissions to Docker GHA
  .github/workflows/docker_builder.yml
Labels: cla signed

#2596 feat: support aten.pixel_shuffle dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  tests/py/dynamo/conversion/test_pixel_shuffle_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2552 DLFW changes
  examples/int8/training/vgg16/main.py
  notebooks/EfficientNet-example.ipynb
Labels: cla signed

#2607 chore: Set return type of compilation to ExportedProgram [release/2.2]
  docsrc/user_guide/saving_models.rst
  examples/int8/training/vgg16/vgg16.py
  py/torch_tensorrt/_Device.py
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_exporter.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_efficient_attention.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_linear.py
  py/torch_tensorrt/dynamo/lowering/passes/view_to_reshape.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/fx2trt.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/passes/lower_basic_pass.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_split.py
  py/torch_tensorrt/fx/tools/common_fx2trt.py
  py/torch_tensorrt/fx/trt_module.py
  py/torch_tensorrt/ts/_compile_spec.py
  pyproject.toml
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/models/test_output_format.py
Labels: documentation, component: tests, component: lowering, component: conversion, component: build system, component: api [Python], component: runtime, cla signed, component: fx, component: dynamo

#2628 cherry-pick: Docker fixes `release/2.2`
  .github/workflows/docker_builder.yml
Labels: cla signed

#2629 chore: patch 24.02 failing tests
  tests/core/conversion/converters/BUILD
Labels: component: tests, component: build system, cla signed
