Repository pytorch/TensorRT, pull requests merged in 2024-07, with the labels that each got.

#2965 chore: fix use_cache flag
  py/torch_tensorrt/ts/ptq.py
Labels: component: api [Python], cla signed

#2963 add dynamic support for floor/logical_not/sign/round/isinf/isnan
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_floor_aten.py
  tests/py/dynamo/conversion/test_isinf_aten.py
  tests/py/dynamo/conversion/test_isnan_aten.py
  tests/py/dynamo/conversion/test_logical_not_aten.py
  tests/py/dynamo/conversion/test_round_aten.py
  tests/py/dynamo/conversion/test_sign_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2886 Implemented basic pipeline for Refitting
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/register_jit_hooks.cpp
  core/runtime/runtime.h
  docsrc/py_api/dynamo.rst
  examples/dynamo/README.rst
  examples/dynamo/refit_engine_example.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/models/test_model_refit.py
Labels: documentation, component: tests, component: conversion, component: core, component: api [Python], component: runtime, cla signed, component: dynamo

#2973 Add dynamic shape support for bitwise_and/or/xor/not, exp/expm1/recip/log/log2/log10
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_bitwise_and_aten.py
  tests/py/dynamo/conversion/test_bitwise_not_aten.py
  tests/py/dynamo/conversion/test_bitwise_or_aten.py
  tests/py/dynamo/conversion/test_bitwise_xor_aten.py
  tests/py/dynamo/conversion/test_exp_aten.py
  tests/py/dynamo/conversion/test_expm1_aten.py
  tests/py/dynamo/conversion/test_log10.py
  tests/py/dynamo/conversion/test_log2.py
  tests/py/dynamo/conversion/test_log_aten.py
  tests/py/dynamo/conversion/test_recip_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2959 feat: dynamic shape support for atan/asinh/acosh/atanh/atan2/ceil
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  tests/py/dynamo/conversion/test_acosh_aten.py
  tests/py/dynamo/conversion/test_asinh_aten.py
  tests/py/dynamo/conversion/test_atan2_aten.py
  tests/py/dynamo/conversion/test_atan_aten.py
  tests/py/dynamo/conversion/test_atanh_aten.py
  tests/py/dynamo/conversion/test_ceil_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2985 Doc build pipeline issue fix
  .github/workflows/docgen.yml
Labels: cla signed

#2984 chore: fix bert example description in doc
  docsrc/tutorials/notebooks.rst
Labels: documentation, cla signed

#2972 Add support for prelu dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/prelu.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  tests/py/dynamo/conversion/test_prelu_aten.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2881 feat: Cudagraphs integration for Torch-TRT + Non-default Stream Utilization
  WORKSPACE
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/execute_engine.cpp
  core/runtime/register_jit_hooks.cpp
  core/runtime/runtime.cpp
  core/runtime/runtime.h
  docsrc/index.rst
  docsrc/user_guide/runtime.rst
  examples/dynamo/README.rst
  examples/dynamo/torch_export_cudagraphs.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/runtime/__init__.py
  py/torch_tensorrt/runtime/cudagraphs.py
  tests/py/dynamo/backend/test_backend_compiler.py
  tests/py/dynamo/runtime/test_cudagraphs.py
Labels: documentation, component: tests, component: core, component: build system, component: api [Python], component: runtime, cla signed, component: dynamo

#2982 feat: dynamic shape support for pow/mod/eq operator
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_eq_aten.py
  tests/py/dynamo/conversion/test_pow_aten.py
  tests/py/dynamo/conversion/test_remainder_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2977 chore: dynamic shape support for clamp/min/max/floor_div/logical_and
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_clamp_aten.py
  tests/py/dynamo/conversion/test_floor_div_aten.py
  tests/py/dynamo/conversion/test_logical_and_aten.py
  tests/py/dynamo/conversion/test_maximum_aten.py
  tests/py/dynamo/conversion/test_minimum_aten.py
  tests/py/dynamo/partitioning/test_dynamic_partitioning.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2988 Automate release artifacts build: usage pytorch cxx11 builder base image
  .github/scripts/generate-release-matrix.py
  .github/workflows/release-linux.yml
  .github/workflows/release-wheel-linux.yml
  .github/workflows/release-wheel-windows.yml
  .github/workflows/release-windows.yml
Labels: cla signed, ciflow/binaries/all, build-release-artifacts

#2901 dynamic shape for slice converter
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_slice_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2975 add dynamic shape support for scaled_dot_product_attention, logical_or/xor
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/arange.py
  py/torch_tensorrt/dynamo/conversion/impl/attention.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  tests/py/dynamo/conversion/test_attention.py
  tests/py/dynamo/conversion/test_logical_or_aten.py
  tests/py/dynamo/conversion/test_logical_xor_aten.py
  tests/py/dynamo/conversion/test_matmul_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2994 feat: dynamic shape support for squeeze ops
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/squeeze.py
  tests/py/dynamo/conversion/test_squeeze_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2992 Lluo/auto release cherry pick main
  .github/scripts/generate-release-matrix.py
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/release-linux.yml
  .github/workflows/release-wheel-linux.yml
  .github/workflows/release-wheel-windows.yml
  .github/workflows/release-windows.yml
Labels: cla signed, ciflow/binaries/all, build-release-artifacts

#3013 add the sym_not / full operator to support dynamic shape
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/full.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_full_aten.py
  tests/py/dynamo/conversion/test_sym_not_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3007 fix: fix exported_program import error
  py/torch_tensorrt/_compile.py
Labels: component: api [Python], cla signed

#3010 feat: support dynamic shapes for avg poolNd
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/pool.py
  tests/py/dynamo/conversion/test_pool_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2855 [WIP] upgrade to public TRT 10.1.0.27
  README.md
  WORKSPACE
  core/ir/Input.cpp
  dev_dep_versions.yml
  docker/README.md
  examples/dynamo/requirements.txt
  packaging/pre_build_script_windows.sh
  packaging/smoke_test_script.sh
  py/ci/Dockerfile.ci
  py/requirements.txt
  pyproject.toml
  tests/py/requirements.txt
  toolchains/ci_workspaces/WORKSPACE.win.release.tmpl
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: tests, component: core, component: build system, WIP, component: api [Python], cla signed

#3027 chore: cherrypick of #2855
  README.md
  WORKSPACE
  dev_dep_versions.yml
  docker/README.md
  examples/dynamo/requirements.txt
  packaging/pre_build_script_windows.sh
  packaging/smoke_test_script.sh
  py/ci/Dockerfile.ci
  py/requirements.txt
  pyproject.toml
  tests/py/requirements.txt
  toolchains/ci_workspaces/WORKSPACE.win.release.tmpl
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: tests, component: build system, component: api [Python], cla signed

#3011 feat: support dynamic shape for aten.linear
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_linear_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2740 scatter_add_decomposition
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#3033 cherry pick 2740 to release2.4 branch.
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#3023 Add dynamic support to roll/scaler_tensor
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/permutation.py
  tests/py/dynamo/conversion/test_roll_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3032 add dynamic support for embedding_bag/index_select
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
  tests/py/dynamo/conversion/test_index_select_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#3035 cherry pick from 3008 to release/2.4
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3036 chore: doc fix
  docsrc/user_guide/dynamic_shapes.rst
Labels: documentation, cla signed

#3038 assertEquals is deprecated in TestCase in Python 3.12
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, cla signed

#3014 Group norm bug fix
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/conversion/test_group_norm_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3041 fix the artifacts name issue
  .github/workflows/release-wheel-linux.yml
Labels: cla signed, ciflow/binaries/all, build-release-artifacts

#3042 Fix the build name issue: cherry pick from 3041 back to main
  .github/workflows/release-wheel-linux.yml
Labels: cla signed

#3012 refactor: Upgrade bazel and move to MODULE.bazel
  .bazelrc
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  cpp/include/torch_tensorrt/macros.h
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
  py/torch_tensorrt/dynamo/_compiler.py
  setup.py
  toolchains/ci_workspaces/MODULE.bazel.tmpl
  toolchains/legacy/WORKSPACE.sbsa
  toolchains/legacy/WORKSPACE.win.release.tmpl
  toolchains/legacy/WORKSPACE.x86_64
  toolchains/legacy/WORKSPACE.x86_64.cu118.release.rhel
  toolchains/legacy/WORKSPACE.x86_64.cu121.release.rhel
  toolchains/legacy/WORKSPACE.x86_64.legacy
  toolchains/legacy/WORKSPACE.x86_64.release.rhel.tmpl
  toolchains/legacy/WORKSPACE.x86_64.release.ubuntu
  tools/linter/utils.py
Labels: component: build system, component: api [Python], component: api [C++], cla signed, component: dynamo

#2790 Overhaul upsample dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/upsample.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  tests/py/dynamo/conversion/test_upsample.py
  tests/py/dynamo/conversion/test_upsample_aten.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3046 chore: dynamic shape support for flip ops
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_flip_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3021 feat: dynamic shape support for adaptive_avg_poolNd (partially)
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/pool.py
  tests/py/dynamo/conversion/test_adaptive_avgpool_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2990 feat: dynamic shape support for aten.select.int
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  tests/py/dynamo/conversion/test_select_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3019 chore: bug fixes for full and expand
  core/runtime/execute_engine.cpp
  py/torch_tensorrt/dynamo/conversion/impl/full.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_expand_aten.py
  tests/py/dynamo/conversion/test_full_aten.py
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo

#2968 chore: re-enable serde tests
  tests/py/dynamo/models/test_export_serde.py
Labels: component: tests, cla signed

#3026 chore: dynamic shape support for any/sort/trunc ops
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/topk.py
  tests/py/dynamo/conversion/test_any.py
  tests/py/dynamo/conversion/test_sort_aten.py
  tests/py/dynamo/conversion/test_trunc_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo
