Repository pytorch/TensorRT, pull requests merged in 2024-09, with the labels that each got.

#3123 fix: get_padded_shape_tensors can now handle dynamic pads
  py/torch_tensorrt/dynamo/conversion/impl/pad.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3122 bugfix: allow empty tuple for `inputs` or `arg_inputs`
  py/torch_tensorrt/dynamo/_compiler.py
  tests/py/dynamo/models/test_export_kwargs_serde.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo

#3141 docs: Adding words to the refit and engine caching tutorials
  core/runtime/Platform.cpp
  docsrc/conf.py
  docsrc/index.rst
  examples/dynamo/README.rst
  examples/dynamo/engine_caching_bert_example.py
  examples/dynamo/engine_caching_example.py
  examples/dynamo/refit_engine_example.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_engine_cache.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/utils.py
  setup.py
  tests/py/dynamo/models/test_engine_cache.py
Labels: documentation, component: tests, component: conversion, component: core, component: build system, component: api [Python], component: runtime, cla signed, component: dynamo

#3130 Fix doc index
  docsrc/index.rst
Labels: documentation, cla signed

#3120 chunk converter validator
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_chunk_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3147 fix: remove global logging setup
  py/torch_tensorrt/fx/__init__.py
Labels: component: api [Python], cla signed, component: fx, fx

#3150 register_jit_hooks: Remove confusing error message
  core/runtime/register_jit_hooks.cpp
Labels: component: core, component: runtime, cla signed

#3149 _refit: Properly compare device type
  py/torch_tensorrt/dynamo/_refit.py
Labels: component: api [Python], cla signed, component: dynamo

#3008 scatter reduce decomposition
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3152 chore: make engine caching opt-in feature
  py/torch_tensorrt/dynamo/_defaults.py
Labels: component: api [Python], cla signed, component: dynamo

#3155 fix: distingush engines based on compilation settings in addition to …
  examples/dynamo/engine_caching_bert_example.py
  examples/dynamo/engine_caching_example.py
  examples/dynamo/mutable_torchtrt_module_example.py
  examples/dynamo/refit_engine_example.py
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_engine_cache.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/models/test_engine_cache.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/runtime/test_002_lazy_engine_init.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
  tests/py/requirements.txt
Labels: component: tests, component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo, needs-release-cherrypick

#3161 release 2.5 branch cut
  docker/dist-build.sh
  py/requirements.txt
  pyproject.toml
  tests/py/dynamo/models/test_models_export.py
  tests/py/requirements.txt
Labels: component: tests, component: build system, component: api [Python], cla signed

#3162 Lluo/fix merge issue
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, cla signed

#3160 upgrade modelopt
  pyproject.toml
  tests/py/dynamo/models/test_models_export.py
  tests/py/requirements.txt
Labels: component: tests, component: build system, cla signed

#3159 feat: exclude refit sensitive ops from TRT compilation
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  py/torch_tensorrt/dynamo/conversion/prims_ops_converters.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_cumsum_aten.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
  tests/py/dynamo/models/test_model_refit.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#3166 feat: cherry pick of Refit fixes
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  py/torch_tensorrt/dynamo/conversion/prims_ops_converters.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_cumsum_aten.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
  tests/py/dynamo/models/test_model_refit.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#3125 tool: Adding support for the uv system
  .pre-commit-config.yaml
  docsrc/getting_started/installation.rst
  pyproject.toml
  uv.lock
Labels: documentation, component: build system, cla signed

#3165 upgrade torch from 2.5.0.dev to 2.6.0.dev in main branch
  cpp/include/torch_tensorrt/macros.h
  py/requirements.txt
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  pyproject.toml
  version.txt
Labels: component: lowering, component: build system, component: api [Python], component: api [C++], cla signed, component: dynamo

#3194 fix: Fix static arange export
  py/torch_tensorrt/dynamo/_exporter.py
  tests/py/dynamo/models/test_export_serde.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo
