Repository pytorch/TensorRT, pull requests merged in 2024-02, with the labels that each got.

#2569 feat: support aten.roll dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/permutation.py
  tests/py/dynamo/conversion/test_roll_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2636 fix: Linter + config fix
  .pre-commit-config.yaml
  examples/int8/training/vgg16/vgg16.py
  py/torch_tensorrt/_Device.py
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_linear.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  py/torch_tensorrt/dynamo/lowering/passes/view_to_reshape.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  py/torch_tensorrt/fx/fx2trt.py
  py/torch_tensorrt/fx/lower.py
  py/torch_tensorrt/fx/passes/lower_basic_pass.py
  py/torch_tensorrt/fx/passes/lower_pass_manager_builder.py
  py/torch_tensorrt/fx/passes/pass_utils.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_split.py
  py/torch_tensorrt/fx/tools/common_fx2trt.py
  py/torch_tensorrt/fx/trt_module.py
  py/torch_tensorrt/ts/_compile_spec.py
  pyproject.toml
Labels: component: lowering, component: conversion, component: build system, component: api [Python], component: runtime, cla signed, component: fx, fx, component: dynamo

#2630 fix: Upgrade versions for Docker build rel 2.2
  .github/workflows/linux-test.yml
  WORKSPACE
  docker/dist-build.sh
  py/requirements.txt
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: build system, component: api [Python], cla signed

#2639 fix: Remove keyserver fetch from Dockerfile
  docker/Dockerfile
Labels: cla signed

#2640 cherry-pick: Remove keyserver fetch from Dockerfile (#2639)
  docker/Dockerfile
Labels: cla signed

#2638 cherry-pick: Remove extraneous argument in `compile` (#2635)
  py/torch_tensorrt/dynamo/_compiler.py
Labels: component: api [Python], cla signed, component: dynamo

#2641 cherry-pick: Attention converter and linting fixes
  .pre-commit-config.yaml
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/attention.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_efficient_attention.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2642 small fix: Index validator enable int64
  examples/dynamo/torch_compile_advanced_usage.py
  examples/dynamo/torch_compile_transformers_example.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_index_aten.py
Labels: component: tests, component: conversion, priority: high, component: api [Python], cla signed, component: dynamo

#2643 small fix: Index validator enable int64 (#2642)
  examples/dynamo/torch_compile_advanced_usage.py
  examples/dynamo/torch_compile_transformers_example.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  tests/py/dynamo/conversion/test_index_aten.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#2613 fix: update tests of pooling converters
  tests/py/dynamo/conversion/test_pool_aten.py
Labels: component: tests, cla signed

#2542 feat: Fixed conv1d converter when weights are Tensor
  core/conversion/converters/impl/conv_deconv.cpp
  tests/core/conversion/converters/test_conv_deconv.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed
