Repository pytorch/TensorRT, pull requests merged in 2024-11, with the labels that each got.

#3268 Lluo/cherry pick 3260
  py/torch_tensorrt/_compile.py
  tests/py/ts/api/test_classes.py
Labels: component: tests, component: api [Python], cla signed

#3279 fix issue#3269: unwrap tensor shape without opt val
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/utils.py
Labels: component: api [Python], cla signed, component: dynamo

#3271 disable python 3.13 for linux
  .github/scripts/filter-matrix.py
  .github/workflows/build-test-linux.yml
Labels: cla signed, ciflow/binaries/all

#3261 switch from fx.symbolic_trace to dynamo_trace for converter test part-1
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_acos_aten.py
  tests/py/dynamo/conversion/test_acosh_aten.py
  tests/py/dynamo/conversion/test_any.py
  tests/py/dynamo/conversion/test_arange_aten.py
  tests/py/dynamo/conversion/test_asin_aten.py
  tests/py/dynamo/conversion/test_asinh_aten.py
  tests/py/dynamo/conversion/test_atan2_aten.py
  tests/py/dynamo/conversion/test_atan_aten.py
  tests/py/dynamo/conversion/test_atanh_aten.py
  tests/py/dynamo/conversion/test_attention.py
  tests/py/dynamo/conversion/test_composite_aten_op.py
  tests/py/dynamo/conversion/test_convolution_aten.py
  tests/py/dynamo/conversion/test_deconvolution_aten.py
  tests/py/dynamo/conversion/test_pool_aten.py
Labels: component: tests, cla signed

#3220 cross compile for windows
  examples/dynamo/cross_runtime_compilation_for_windows.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_exporter.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/runtime/_utils.py
  tests/py/dynamo/runtime/test_003_cross_compile_for_windows.py
Labels: component: tests, component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo

#3284 chore: add source_ir in slice layer name
  py/torch_tensorrt/dynamo/conversion/impl/slice/base.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3281 fix MutableTorchTensorRTModule load issue
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
Labels: component: api [Python], component: runtime, cla signed, component: dynamo

#3244 don't initialize cuda at import time
  py/torch_tensorrt/ts/_compile_spec.py
Labels: component: api [Python], cla signed

#3262 feat: Support exporting Torch-TRT compiled Graphmodules
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/register_jit_hooks.cpp
  core/runtime/runtime.h
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/runtime/__init__.py
  py/torch_tensorrt/dynamo/runtime/register_fake_class.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/models/test_reexport.py
Labels: component: tests, component: lowering, component: core, WIP, component: api [Python], component: runtime, cla signed, component: dynamo

#3266 Add tensorrt test workflow
  .github/scripts/generate-tensorrt-test-matrix.py
  .github/workflows/build-tensorrt-linux.yml
  .github/workflows/build-test-tensorrt-linux.yml
  .github/workflows/linux-test.yml
  packaging/pre_build_script.sh
  toolchains/ci_workspaces/MODULE_tensorrt.bazel.tmpl
Labels: cla signed

#3293 fix: get_hash function for engine caching
  py/torch_tensorrt/dynamo/_engine_cache.py
  tests/py/dynamo/models/test_engine_cache.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo

#3288 feat: InstanceNorm decomposition
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#3156 MODULE.bazel file for NGC docker container
  docker/MODULE.bazel.ngc
Labels: cla signed
