Repository pytorch/TensorRT, pull requests merged in 2024-12, with the labels that each got.

#3272 Fix LayerNorm fp16 precision
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/conversion/test_layer_norm_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3297 Get decompositions only for CIA ops
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#3258 fix: cumsum add_constant bug fix (add dtype for np zeros)
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/utils.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3312 fix: change docker img from manylinux to manylinux2_28 for all CUDA versions
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-tensorrt-linux.yml
  .github/workflows/build-test-tensorrt-windows.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/generate_binary_build_matrix.yml
  .github/workflows/release-linux.yml
  .github/workflows/release-windows.yml
Labels: cla signed

#3319 fix: export USE_CXX11_ABI=1 for cuda12.6
  packaging/env_vars.txt
Labels: cla signed

#3167 feat: Support weight-stripped engine and REFIT_IDENTICAL flag
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-tensorrt-linux.yml
  .github/workflows/build-test-tensorrt-windows.yml
  .github/workflows/build-test-windows.yml
  examples/dynamo/engine_caching_bert_example.py
  examples/dynamo/engine_caching_example.py
  examples/dynamo/mutable_torchtrt_module_example.py
  examples/dynamo/refit_engine_example.py
  py/ci/Dockerfile.ci
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_chunk_aten.py
  tests/py/dynamo/conversion/test_cumsum_aten.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
  tests/py/dynamo/conversion/test_group_norm_aten.py
  tests/py/dynamo/models/test_engine_cache.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/models/test_weight_stripped_engine.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
Labels: component: tests, component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo, component: torch_compile

#3302 fix: Fix additional mem copy of the model during re-export
  py/torch_tensorrt/dynamo/runtime/register_fake_class.py
  tests/py/dynamo/models/test_reexport.py
Labels: component: tests, component: api [Python], component: runtime, cla signed, component: dynamo

#3320 fix: Fix copying metadata during lowering
  py/torch_tensorrt/dynamo/lowering/passes/view_to_reshape.py
  py/torch_tensorrt/dynamo/utils.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#3286 upgrade tensorrt dependency to >=10.3.0,<=10.6.0
  .github/workflows/docker_builder.yml
  MODULE.bazel
  README.md
  dev_dep_versions.yml
  docker/README.md
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
  pyproject.toml
  toolchains/ci_workspaces/MODULE.bazel.tmpl
  uv.lock
Labels: component: build system, cla signed, build-release-artifacts

#3273 Use INormalizationLayer for GroupNorm
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/conversion/test_group_norm_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3299 Torch TRT ngc container changes
  core/util/Exception.cpp
  noxfile.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
Labels: component: tests, component: core, cla signed

#3318 feat: Add SAM2 to our model zoo
  docsrc/index.rst
  docsrc/tutorials/_rendered_examples/dynamo/sam_mask1.png
  docsrc/tutorials/_rendered_examples/dynamo/sam_mask2.png
  docsrc/tutorials/_rendered_examples/dynamo/sam_mask3.png
  docsrc/tutorials/_rendered_examples/dynamo/truck.jpg
  examples/dynamo/README.rst
  examples/dynamo/requirements.txt
  examples/dynamo/torch_export_sam2.py
Labels: documentation, cla signed

#3321 feat: Automatically generating converters for QDP plugins
  .pre-commit-config.yaml
  MODULE.bazel
  docsrc/index.rst
  examples/dynamo/auto_generate_converters.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/plugins/__init__.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin_converter.py
  pyproject.toml
  setup.py
  uv.lock
Labels: documentation, component: conversion, component: build system, component: api [Python], cla signed, component: dynamo

#3315 Fix failed TestNativeLayerNormConverter
  tests/py/dynamo/conversion/test_layer_norm_aten.py
Labels: component: tests, cla signed

#3310 fix: Correct mutex scope in execute_engine()
  core/runtime/execute_engine.cpp
Labels: component: core, component: runtime, cla signed

#3296 Replace scaled_dot_product_attention lowering pass with decomposition
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/attention.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3176 chore: example fixes
  docsrc/index.rst
  examples/dynamo/README.rst
  examples/dynamo/torch_compile_gpt2.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_sym_nodes.py
Labels: documentation, component: lowering, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3323 Remove linear lowering pass and converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/linear.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_linear.py
  tests/py/dynamo/conversion/test_linear_aten.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3322 fix: Fix meta kernel ops import issue for Python only builds
  py/torch_tensorrt/dynamo/runtime/__init__.py
  py/torch_tensorrt/dynamo/runtime/meta_ops/register_meta_ops.py
  setup.py
Labels: component: build system, component: api [Python], component: runtime, cla signed, component: dynamo

#3327 Add test case for ITensor weight in convolution and fix related bug
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  tests/py/dynamo/conversion/test_convolution_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3276 feat: Runtime output buffer optimization
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/execute_engine.cpp
  core/runtime/register_jit_hooks.cpp
  docsrc/index.rst
  examples/dynamo/pre_allocated_output_example.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/runtime/__init__.py
  py/torch_tensorrt/runtime/_pre_allocated_outputs.py
  tests/py/dynamo/runtime/test_002_cudagraphs_cpp.py
  tests/py/dynamo/runtime/test_002_cudagraphs_py.py
  tests/py/dynamo/runtime/test_pre_allocated_outputs.py
Labels: documentation, component: tests, component: core, component: api [Python], component: runtime, cla signed, component: dynamo

#3289 full_like to full decomposition moving to decomposition.py for dynami…
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/replace_full_like_with_full.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#3328 fix: update bazelisk to fix build errors
  docker/Dockerfile
Labels: cla signed

#3199 chore: adding additional logging to the converter registry system
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3332 chore: revert attention decomposition due to flux bug
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/attention.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3334 fix: Fix null inputs case
  py/torch_tensorrt/dynamo/_compiler.py
Labels: component: api [Python], cla signed, component: dynamo

#3309 fix: Record cudagraphs when weight streaming budget has changed
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/execute_engine.cpp
  py/torch_tensorrt/dynamo/runtime/_CudaGraphsTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/runtime/_weight_streaming.py
  tests/py/dynamo/runtime/test_004_weight_streaming.py
Labels: component: tests, component: core, component: api [Python], component: runtime, cla signed, component: dynamo
