Repository pytorch/TensorRT, pull requests merged in 2024-03, with the labels that each got.

#2621 feat: support converter for torch.log10
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_log10.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2620 [feat] support converter for torch.log2
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_log2.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2679 fix: Update index in installer for CI failures
  .github/scripts/install-torch-tensorrt.sh
Labels: infrastructure, cla signed

#2697 chore: update pytorch to 2.3
  .github/workflows/linux-test.yml
  WORKSPACE
  docker/dist-build.sh
  py/requirements.txt
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: build system, component: api [Python], cla signed

#2669 fix: FakeTensors appearing in `get_attr` calls
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
Labels: component: lowering, component: conversion, component: api [Python], cla signed, component: dynamo

#2614 feat: support adaptive_avg_pool1d dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/pool.py
  tests/py/dynamo/conversion/test_adaptive_avgpool_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2672 fix: Add cmake missing source file ref for core_lowering.passes
  core/lowering/passes/CMakeLists.txt
Labels: component: lowering, component: core, cla signed

#2704 ci: Torch nightly version upgrade to `2.4.0`
  README.md
  py/requirements.txt
  pyproject.toml
Labels: component: build system, component: api [Python], cla signed

#2691 feat: Add save API for torch-trt compiled models
  core/runtime/TRTEngine.cpp
  docsrc/user_guide/saving_models.rst
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_exporter.py
  py/torch_tensorrt/dynamo/_settings.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/models/test_output_format.py
Labels: documentation, component: tests, component: core, component: api [Python], component: runtime, cla signed, component: dynamo
