Repository pytorch/TensorRT, pull requests merged in 2024-04, with the labels that each got.

#2696 Add support for `aten.pixel_unshuffle` dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  tests/py/dynamo/conversion/test_pixel_unshuffle_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2732 chore: Update versions
  dev_dep_versions.yml
  pyproject.toml
Labels: component: build system, cla signed

#2473 feat: Implement symbolic shape propagation, sym_size converter
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/grid.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  py/torch_tensorrt/dynamo/conversion/impl/shape.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/upsample.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_utils.py
  py/torch_tensorrt/dynamo/lowering/passes/view_to_reshape.py
  py/torch_tensorrt/dynamo/partitioning/__init__.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/test_sym_size.py
  tests/py/dynamo/models/test_dyn_models.py
  versions.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2689 feat: support aten.atan2 converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  tests/py/dynamo/conversion/test_atan2_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2710 feat: support aten.index_select converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  tests/py/dynamo/conversion/test_index_select_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2711 feat: support aten.isnan converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_isnan_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2632 feat: support adaptive avg pool 2d and 3d dynamo converters
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/pool.py
  tests/py/dynamo/conversion/test_adaptive_avgpool_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2714 feat: support aten.expm1 converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  tests/py/dynamo/conversion/test_expm1_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2746 fix: Add dependencies to Docker container for `apt` versioning TRT
  docker/Dockerfile
Labels: cla signed

#2627 feat: Add dynamic shapes support for torch.compile workflow
  .github/workflows/build-test.yml
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/impl/shape.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/lowering/_fusers.py
  py/torch_tensorrt/dynamo/lowering/_remove_sym_nodes.py
  tests/py/dynamo/models/test_dyn_models.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2733 fix: param bug in `test_binary_ops_aten`
  tests/py/dynamo/conversion/test_binary_ops_aten.py
Labels: bug, component: tests, cla signed

#2654 aten::empty_like
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#2686 Removing grid lowering
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  tests/py/dynamo/conversion/test_grid_aten.py
Labels: component: tests, component: lowering, component: conversion, component: api [Python], cla signed, component: dynamo

#2683 Fix upsample converter not properly registered
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#2717 feat: TS Add converter support for aten::grid_sampler
  core/conversion/converters/impl/interpolate.cpp
  tests/core/conversion/converters/test_interpolate.cpp
Labels: component: tests, component: conversion, component: core, component: converters, cla signed

#2770 fix: Bump `torchvision` version
  py/requirements.txt
Labels: component: api [Python], cla signed

#2773 fix: Remove references to implicit batch for TRT 10
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  py/torch_tensorrt/dynamo/conversion/impl/squeeze.py
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#2728 fix: convert_module_to_trt_engine
  docsrc/py_api/dynamo.rst
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/_compiler.py
  tests/py/dynamo/runtime/test_convert_module_to_trt_engine.py
Labels: bug, documentation, component: tests, component: api [Python], cla signed, component: dynamo

#2719 chore: cherry pick of save API
  core/runtime/TRTEngine.cpp
  docsrc/user_guide/saving_models.rst
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_exporter.py
  py/torch_tensorrt/dynamo/_settings.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/models/test_output_format.py
Labels: documentation, component: tests, component: core, component: api [Python], component: runtime, cla signed, component: dynamo

#2764 feat: Python Runtime Windows Builds on TRT 10
  .bazelrc
  .github/scripts/install-torch-tensorrt-windows.sh
  .github/workflows/build-test-windows.yml
  .github/workflows/windows-test.yml
  BUILD.bazel
  core/conversion/BUILD
  core/conversion/conversionctx/BUILD
  core/conversion/converters/impl/activation.cpp
  core/ir/BUILD
  core/lowering/passes/BUILD
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/util/BUILD
  core/util/logging/BUILD
  cpp/lib/BUILD
  packaging/driver_upgrade.bat
  packaging/pre_build_script_windows.sh
  packaging/smoke_test_windows.py
  py/BUILD.bazel
  py/requirements.txt
  py/torch_tensorrt/__init__.py
  setup.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/runtime/test_hw_compat.py
  third_party/cudnn/local/BUILD
  third_party/libtorch/BUILD
  third_party/tensorrt/local/BUILD
  toolchains/ci_workspaces/WORKSPACE.win.release.tmpl
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], component: runtime, cla signed

#2779 Fix minor grammatical corrections
  README.md
Labels: cla signed

#2751 feat: cherry-pick of Implement symbolic shape propagation, sym_size converter
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/grid.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_utils.py
  py/torch_tensorrt/dynamo/lowering/passes/view_to_reshape.py
  py/torch_tensorrt/dynamo/partitioning/__init__.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/test_sym_size.py
  tests/py/dynamo/models/test_dyn_models.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2750 feat: cherry-pick of torch.compile dynamic shapes
  .github/workflows/build-test.yml
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/impl/shape.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
  py/torch_tensorrt/dynamo/lowering/_fusers.py
  py/torch_tensorrt/dynamo/lowering/_remove_sym_nodes.py
  tests/py/dynamo/models/test_dyn_models.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, component: torch_compile

#2778 TRT-10 GA Support for release/2.3 branch
  .github/scripts/install-torch-tensorrt.sh
  .github/workflows/build-test.yml
  README.md
  WORKSPACE
  dev_dep_versions.yml
  packaging/pre_build_script.sh
  py/requirements.txt
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: build system, component: api [Python], cla signed

#2786 chore: bump deps for default workspace file
  WORKSPACE
  docsrc/getting_started/installation.rst
Labels: documentation, component: build system, cla signed

#2785 fix: Point infra branch to main
  .github/workflows/build-test.yml
Labels: cla signed

#2784 "empty_like" decomposition test correction
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, cla signed

#2787 chore: Bump versions
  cpp/include/torch_tensorrt/macros.h
  dev_dep_versions.yml
  pyproject.toml
  version.txt
Labels: component: build system, component: api [C++], cla signed

#2755 fix: refactor layer norm converter with INormalization Layer
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/conversion/test_layer_norm_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2769 chore: cherry pick commits from main into release/2.3
  README.md
  core/conversion/converters/impl/interpolate.cpp
  core/lowering/passes/CMakeLists.txt
  docker/Dockerfile
  docsrc/py_api/dynamo.rst
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/pool.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  tests/core/conversion/converters/test_interpolate.cpp
  tests/py/dynamo/conversion/test_adaptive_avgpool_aten.py
  tests/py/dynamo/conversion/test_atan2_aten.py
  tests/py/dynamo/conversion/test_binary_ops_aten.py
  tests/py/dynamo/conversion/test_expm1_aten.py
  tests/py/dynamo/conversion/test_grid_aten.py
  tests/py/dynamo/conversion/test_index_select_aten.py
  tests/py/dynamo/conversion/test_isnan_aten.py
  tests/py/dynamo/conversion/test_pixel_unshuffle_aten.py
  tests/py/dynamo/lowering/test_decompositions.py
  tests/py/dynamo/runtime/test_convert_module_to_trt_engine.py
  tools/perf/requirements.txt
Labels: documentation, component: tests, component: lowering, component: conversion, component: core, component: converters, component: api [Python], cla signed, component: dynamo

#2781 TRT-10 GA Support for main branch
  .github/scripts/install-torch-tensorrt.sh
  .github/workflows/build-test.yml
  README.md
  WORKSPACE
  dev_dep_versions.yml
  packaging/pre_build_script.sh
  py/requirements.txt
  py/torch_tensorrt/csrc/torch_tensorrt_py.cpp
  pyproject.toml
  tests/py/dynamo/models/test_dyn_models.py
  toolchains/ci_workspaces/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: tests, component: build system, component: api [Python], cla signed

#2800 chore(//tests): Update tests to use assertEqual
  tests/py/dynamo/backend/test_backend_compiler.py
  tests/py/dynamo/backend/test_specialized_models.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/lowering/test_decompositions.py
  tests/py/dynamo/partitioning/test_fast_partitioning.py
  tests/py/dynamo/partitioning/test_global_partitioning.py
Labels: component: tests, cla signed

#2780 feat: Add support for `is_causal` argument in attention
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/attention.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  tests/py/dynamo/conversion/test_attention.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#2789 feat: Adding support for native int64
  .pre-commit-config.yaml
  core/runtime/register_jit_hooks.cpp
  core/util/trt_util.cpp
  core/util/trt_util.h
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/embedding.py
  py/torch_tensorrt/dynamo/conversion/truncate_double.py
  py/torch_tensorrt/logging.py
  tests/py/dynamo/backend/test_backend_compiler.py
  tests/py/dynamo/backend/test_specialized_models.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_casts.py
  tests/py/dynamo/lowering/test_decompositions.py
  tests/py/dynamo/models/conftest.py
  tests/py/dynamo/models/test_dtype_support.py
  tests/py/dynamo/models/test_dyn_models.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/runtime/test_compilation_settings.py
Labels: component: tests, component: conversion, component: core, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo

#2803 chore: small mypy issue
  py/torch_tensorrt/dynamo/_settings.py
Labels: cla signed
