Repository pytorch/TensorRT, pull requests merged in 2024-08, with the labels that each got.

#3054 chore: bug fix in runtime
  core/runtime/execute_engine.cpp
Labels: component: core, component: runtime, cla signed

#3051 Add dynamic shape support for cumsum/grid
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_cumsum_aten.py
  tests/py/dynamo/conversion/test_grid_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3055 chore: fix attn test
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#2997 feat: Lazy engine initialization
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/models/test_dtype_support.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/runtime/conftest.py
  tests/py/dynamo/runtime/test_convert_module_to_trt_engine.py
  tests/py/dynamo/runtime/test_lazy_engine_init.py
  tests/py/ts/api/test_collections.py
Labels: component: tests, component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo

#2970 Added kwarg support for dynamo.compile
  docsrc/py_api/dynamo.rst
  examples/dynamo/refit_engine_example.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_exporter.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/_tracer.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  py/torch_tensorrt/dynamo/lowering/passes/fuse_prims_broadcast.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_linear.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_manager.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_detach.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_input_alias_fixing_clones.py
  py/torch_tensorrt/dynamo/lowering/passes/repair_input_as_output.py
  py/torch_tensorrt/dynamo/lowering/passes/replace_max_pool_with_indices.py
  py/torch_tensorrt/dynamo/lowering/passes/view_to_reshape.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/models/test_export_kwargs_serde.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/testing_utilities.py
Labels: documentation, component: tests, component: lowering, component: conversion, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3066 Renamed convert_exported_program_to_serialized_trt_engine
  tests/py/dynamo/models/test_export_kwargs_serde.py
Labels: component: tests, cla signed

#3044 feat: dynamic support for pixel_suffle and pixel_unshuffle
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/shuffle.py
  tests/py/dynamo/conversion/test_pixel_shuffle_aten.py
  tests/py/dynamo/conversion/test_pixel_unshuffle_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3068 chore: dynamic shape support for pdist ops
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/conversion/test_pdist_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3043 feat: Support `aten.dot` dynamo converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/matmul.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  tests/py/dynamo/conversion/test_matmul_aten.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3009 dynamic shape argmax and argmin
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/topk.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_argmax_aten.py
  tests/py/dynamo/conversion/test_argmin_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3045 feat: dynamic shape support for pad ops
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/pad.py
  tests/py/dynamo/conversion/test_pad_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3078 Run all model tests
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
Labels: cla signed

#2983 Added refitting acceleration
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  tests/py/dynamo/models/test_model_refit.py
Labels: component: tests, component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo

#3083 fix converter test error
  tests/py/dynamo/conversion/test_argmin_aten.py
Labels: component: tests, cla signed

#3067 fix: Fix the CUDAGraphs C++ runtime implementation
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  core/conversion/var/Var.cpp
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/execute_engine.cpp
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/__init__.py
  py/torch_tensorrt/dynamo/types.py
  py/torch_tensorrt/runtime/__init__.py
  py/torch_tensorrt/runtime/_cudagraphs.py
  py/torch_tensorrt/runtime/_multi_device_safe_mode.py
  py/torch_tensorrt/runtime/_utils.py
  requirements-dev.txt
  tests/py/dynamo/runtime/test_000_compilation_settings.py
  tests/py/dynamo/runtime/test_000_compiler_utils.py
  tests/py/dynamo/runtime/test_000_convert_module_to_trt_engine.py
  tests/py/dynamo/runtime/test_000_python_runtime.py
  tests/py/dynamo/runtime/test_001_streams.py
  tests/py/dynamo/runtime/test_002_cudagraphs_cpp.py
  tests/py/dynamo/runtime/test_002_cudagraphs_py.py
  tests/py/dynamo/runtime/test_002_lazy_engine_init.py
  tests/py/dynamo/runtime/test_003_safe_mode.py
  tests/py/dynamo/runtime/test_cudagraphs.py
Labels: component: tests, component: conversion, component: core, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo

#3062 Fix: Layer norm Torchscript converter
  core/conversion/converters/converter_util.cpp
  core/conversion/converters/converter_util.h
  core/conversion/converters/impl/expand.cpp
  core/conversion/converters/impl/layer_norm.cpp
  core/lowering/lowering.cpp
  core/lowering/passes/remove_unnecessary_casts.cpp
  tests/cpp/test_compiled_modules.cpp
  tests/modules/hub.py
  tests/py/ts/models/custom_models.py
  tests/py/ts/models/test_models.py
  tests/py/ts/models/test_multiple_registered_engines.py
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, cla signed

#3034 chore: Update perf tooling with support for HF models
  py/requirements.txt
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/utils.py
  tools/perf/hf_models/benchmark_gpt2.sh
  tools/perf/hf_models/benchmark_llama2.sh
  tools/perf/hf_models/benchmark_llama3.1_instruct.sh
  tools/perf/hf_models/benchmark_llama3.sh
  tools/perf/hf_models/benchmark_mistral7b.sh
  tools/perf/perf_run.py
  tools/perf/requirements.txt
  tools/perf/run_hf_model.sh
  tools/perf/stage1.sh
  tools/perf/stage2.sh
  tools/perf/utils.py
Labels: component: lowering, component: conversion, component: api [Python], cla signed, component: dynamo

#2981 Implemented basic Mutable torch tensorrt module pipeline
  docsrc/py_api/torch_tensorrt.rst
  examples/dynamo/README.rst
  examples/dynamo/mutable_torchtrt_module_example.py
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
  tests/py/dynamo/models/test_export_kwargs_serde.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
Labels: documentation, component: tests, component: api [Python], component: runtime, cla signed, component: dynamo

#3088 fix: Adjust reflection pad test cases to prevent runtime errors
  py/torch_tensorrt/dynamo/conversion/impl/pad.py
  tests/py/dynamo/conversion/test_pad_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3070 Fix docker build issue
  docker/Dockerfile
  docker/MODULE.bazel.docker
  docker/WORKSPACE.docker
  docker/dist-build.sh
  py/requirements.txt
  pyproject.toml
Labels: component: build system, component: api [Python], cla signed

#3086 fix the libtorch version mismatch issue
  .github/scripts/install-torch-tensorrt.sh
  .github/workflows/release-wheel-linux.yml
  .gitignore
  MODULE.bazel.lock
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  toolchains/ci_workspaces/MODULE.bazel.tmpl
Labels: component: conversion, component: api [Python], cla signed, component: dynamo, ciflow/binaries/all, build-release-artifacts

#3094 Fix TypeError in MutableTorchTensorRTModule on Python 3.9
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
Labels: component: api [Python], component: runtime, cla signed, component: dynamo

#3077 feat: lowering replace aten.full_like with aten.full
  core/runtime/execute_engine.cpp
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/full.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/replace_full_like_with_full.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo

#3048 Notebook failure
  notebooks/EfficientNet-example.ipynb
Labels: cla signed

#3096 Fix tests-py-dynamo-cudagraphs in Windows test
  .github/workflows/build-test-windows.yml
Labels: cla signed

#3087 feat: Adding live progress monitoring to the engine building phase
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  py/torch_tensorrt/dynamo/conversion/_TRTBuilderMonitor.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  pyproject.toml
Labels: component: conversion, component: build system, component: api [Python], cla signed, component: dynamo

#3091 chore: fix group_norm test
  tests/py/dynamo/conversion/test_group_norm_aten.py
Labels: component: tests, cla signed

#3099 feat: Add handling for ITensor mean and var in batch_norm
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/conversion/test_batch_norm_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3105 fix tensorrt dependencies issue
  examples/dynamo/requirements.txt
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
  py/requirements.txt
  pyproject.toml
  tests/py/requirements.txt
Labels: component: tests, component: build system, component: api [Python], cla signed, ciflow/binaries/all

#3112 Fix assertEquals AttributeError on Python 3.12
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, cla signed

#3117 fix: TS test_scaled_dot_product_attention
  core/lowering/passes/unpack_scaled_dot_product_attention.cpp
  tests/core/conversion/converters/test_scaled_dot_product_attention.cpp
Labels: component: tests, component: lowering, component: core, cla signed

#3047 Added tensor_parallelism examples
  examples/distributed_inference/README.md
  examples/distributed_inference/llama3_model.py
  examples/distributed_inference/tensor_parallel_llama3.py
  examples/distributed_inference/tensor_parallel_simple_example.py
Labels: cla signed

#3071 chore: Bump TRT version to 10.3.0.26
  MODULE.bazel
  README.md
  core/conversion/converters/impl/batch_norm.cpp
  dev_dep_versions.yml
  docker/README.md
  packaging/pre_build_script_windows.sh
  packaging/smoke_test_script.sh
  py/ci/Dockerfile.ci
  pyproject.toml
  tests/core/conversion/converters/test_instance_norm.cpp
  tests/py/ts/api/test_classes.py
  toolchains/ci_workspaces/MODULE.bazel.tmpl
  toolchains/legacy/WORKSPACE.win.release.tmpl
  toolchains/legacy/WORKSPACE.x86_64.release.rhel.tmpl
Labels: component: tests, component: conversion, component: core, component: converters, component: build system, component: api [Python], cla signed

#3106 feat: Save target platform as part of TRTEngine Metadata
  core/runtime/BUILD
  core/runtime/CMakeLists.txt
  core/runtime/Platform.cpp
  core/runtime/Platform.h
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/execute_engine.cpp
  core/runtime/register_jit_hooks.cpp
  core/runtime/runtime.h
  py/torch_tensorrt/_Device.py
  py/torch_tensorrt/__init__.py
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/_features.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/runtime/_utils.py
  tests/py/core/test_classes.py
Labels: component: tests, component: core, component: api [Python], component: runtime, cla signed, component: dynamo

#3121 Docs mutable
  docsrc/index.rst
Labels: cla signed

#3097 Refit bug fix
  examples/dynamo/mutable_torchtrt_module_example.py
  examples/dynamo/refit_engine_example.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_bitwise_and_aten.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
  tests/py/dynamo/conversion/test_index_select_aten.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
Labels: component: tests, component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo

#3058 add int8 quantization support
  examples/dynamo/vgg16_ptq.py
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/quantize.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/requirements.txt
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3002 chore: Fixes required for LLM models
  examples/dynamo/torch_export_gpt2.py
  examples/dynamo/torch_export_llama2.py
  examples/dynamo/utils.py
  py/torch_tensorrt/dynamo/_DryRunTracker.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/cast.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/full.py
  py/torch_tensorrt/dynamo/conversion/impl/matmul.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_assert_scalar.py
  py/torch_tensorrt/dynamo/lowering/passes/replace_max_pool_with_indices.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_full_aten.py
  tests/py/dynamo/models/test_dyn_models.py
  tools/perf/perf_run.py
  tools/perf/requirements.txt
  tools/perf/run_hf_model.sh
  tools/perf/stage1.sh
  tools/perf/stage2.sh
  tools/perf/utils.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3128 Fix typo in _compile.py
  py/torch_tensorrt/_compile.py
Labels: component: api [Python], cla signed

#3085 tile dynamic dim
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  tests/py/dynamo/conversion/test_tile_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3093 Fixing slice scatter and select scatter decomposition
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#2995 feat: engine caching
  examples/dynamo/engine_caching_bert_example.py
  examples/dynamo/engine_caching_example.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_engine_caching.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/conversion/test_bitwise_and_aten.py
  tests/py/dynamo/conversion/test_embedding_bag_aten.py
  tests/py/dynamo/conversion/test_index_select_aten.py
  tests/py/dynamo/models/test_dtype_support.py
  tests/py/dynamo/models/test_dyn_models.py
  tests/py/dynamo/models/test_engine_cache.py
  tests/py/dynamo/models/test_export_kwargs_serde.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/runtime/test_001_streams.py
  tests/py/dynamo/runtime/test_002_lazy_engine_init.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3039 Dynamic shape index
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  tests/py/dynamo/conversion/test_index_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo
