Repository pytorch/TensorRT, pull requests merged in 2025-09, with the labels that each got.

#3807 change llm model test from gemma3 to qwen to skip auth
  tests/py/dynamo/models/test_llm_models.py
  tools/llm/torchtrt_ext/sdpa_converter.py
Labels: component: tests, cla signed

#3810 cherry pick 25.09 skip test to main
  noxfile.py
  tests/core/conversion/converters/test_cumsum.cpp
  tests/py/dynamo/conversion/test_arange_aten.py
  tests/py/dynamo/conversion/test_cumsum_aten.py
  tests/py/dynamo/conversion/test_nonzero_aten.py
  tests/py/dynamo/runtime/test_004_weight_streaming.py
  tests/py/dynamo/runtime/test_output_allocator.py
Labels: component: tests, cla signed

#3813 cherry pick is_thor from ngc/release/25.09 branch to main
  py/torch_tensorrt/dynamo/utils.py
Labels: component: api [Python], cla signed, component: dynamo

#3814 dlfw related changes
  setup.py
  tests/modules/hub.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, component: build system, cla signed

#3815 fix guard_fn issue
  tests/py/dynamo/conversion/harness.py
Labels: component: tests, cla signed

#3816 update 25.10 pytorch base commit
  setup.py
Labels: component: build system, cla signed

#3824 add --dlfw in the build
  setup.py
Labels: cla signed

#3822 Same changes as #3812 chore: Add more models for benchmark and polish codes
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tools/perf/README.md
  tools/perf/benchmark.sh
  tools/perf/custom_models.py
  tools/perf/perf_run.py
  tools/perf/utils.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3698 integrated vlm code for benchmark for Eagle2
  docsrc/tutorials/compile_hf_models.rst
  py/torch_tensorrt/dynamo/conversion/impl/matmul.py
  tests/py/dynamo/models/test_llm_models.py
  tools/llm/README.md
  tools/llm/run_llm.py
  tools/llm/run_vlm.py
  tools/llm/static_cache_v1.py
  tools/llm/test_qwen2.5_components.py
  tools/llm/torchtrt_ext/register_sdpa.py
  tools/llm/utils.py
Labels: documentation, component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3808 enable cu130
  .github/scripts/filter-matrix.py
  .github/scripts/generate-release-matrix.py
  .github/scripts/generate-tensorrt-test-matrix.py
  .github/workflows/build_windows.yml
  .github/workflows/docgen.yml
  MODULE.bazel
  README.md
  docker/Dockerfile
  docker/dist-build.sh
  docsrc/getting_started/installation.rst
  py/requirements.txt
  pyproject.toml
  tests/py/requirements.txt
  tools/perf/Flux/create_env.sh
  uv.lock
Labels: documentation, component: tests, component: build system, component: api [Python], cla signed

#3834 cherry pick 3833 fix ci issue: from main to release/2.9 branch
  .github/scripts/filter-matrix.py
  .github/scripts/install-cuda-aarch64.sh
  .github/scripts/install-cuda-dss.sh
  .github/workflows/build_linux.yml
  MODULE.bazel
  packaging/pre_build_script.sh
  setup.py
  toolchains/ci_workspaces/MODULE.bazel.tmpl
Labels: component: build system, cla signed

#3833 fix a few ci issues
  .github/scripts/filter-matrix.py
  .github/scripts/install-cuda-aarch64.sh
  .github/scripts/install-cuda-dss.sh
  .github/workflows/build_linux.yml
  MODULE.bazel
  packaging/pre_build_script.sh
  setup.py
  tests/py/dynamo/partitioning/test_hierarchical_partitioning.py
  toolchains/ci_workspaces/MODULE.bazel.tmpl
Labels: component: tests, component: build system, cla signed

#3836 debug windows issue in release 2.9
  .github/workflows/build-test-linux-x86_64.yml
  .github/workflows/build-test-linux-x86_64_rtx.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/build-test-windows_rtx.yml
  .github/workflows/build_windows.yml
  MODULE.bazel
  dev_dep_versions.yml
  packaging/driver_upgrade.bat
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
  tests/py/dynamo/llm/test_llm_models.py
  tests/py/dynamo/models/test_models.py
  toolchains/ci_workspaces/MODULE.bazel.tmpl
Labels: component: tests, WIP, cla signed

#3843 fix thor tensorrt dependency issue
  setup.py
Labels: component: build system, cla signed

#3832 remove nox
  .github/workflows/build-test-linux-aarch64-jetpack.yml
  .github/workflows/build-test-linux-aarch64.yml
  .github/workflows/build-test-linux-x86_64.yml
  .github/workflows/build-test-linux-x86_64_rtx.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/build-test-windows_rtx.yml
  setup.py
  tests/py/dynamo/conversion/test_reshape_aten.py
  tests/py/dynamo/models/test_dtype_support.py
  tests/py/dynamo/models/test_dyn_models.py
  tests/py/dynamo/models/test_export_kwargs_serde.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/models/test_reexport.py
Labels: component: tests, component: build system, WIP, cla signed
