Repository pytorch/TensorRT, pull requests merged in 2025-08, with the labels that each got.

#3734 Cherrypick #3719 for release/2.8
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3737 fix conv1d/deconv1d bug with stride more than 1
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/deconv.py
  tests/py/dynamo/conversion/test_convolution_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3739 add test cases for strong typing
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/models/test_dtype_support.py
  tests/py/dynamo/models/test_dyn_models.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3650 Upgrade perf_run script to support TRT 10 and fix some issues
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  tools/perf/README.md
  tools/perf/custom_models.py
  tools/perf/perf_run.py
  tools/perf/requirements.txt
  tools/perf/utils.py
Labels: component: api [Python], component: runtime, cla signed, component: dynamo

#3700 Fixed SDPA slow down and linear slow down
  examples/apps/flux_demo.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/accumulate_fp32_matmul.py
  tools/perf/Flux/benchmark.sh
  tools/perf/Flux/flux_perf.py
Labels: component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3750 remove breakpoint()
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, cla signed

#3743 add typing_extensions as test dependencies which is required by modelopt
  py/requirements.txt
  tests/py/requirements.txt
Labels: component: tests, component: api [Python], cla signed

#3757 broadcast_remove - cherry pick 3700
  examples/apps/flux_demo.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/accumulate_fp32_matmul.py
  tools/perf/Flux/benchmark.sh
  tools/perf/Flux/flux_perf.py
Labels: component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3761 fix typing-extensions issue
  .github/scripts/install-torch-tensorrt.sh
  tests/py/requirements.txt
Labels: component: tests, cla signed

#3764 Fix Jetson FP4 gate issue
  py/torch_tensorrt/dynamo/conversion/impl/dynamic_block_quantize.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3768 fix build cancellation issue
  .github/workflows/build-test-linux-aarch64-jetpack.yml
  .github/workflows/build-test-linux-aarch64.yml
  .github/workflows/build_wheels_linux_aarch64.yml
Labels: cla signed

#3769 add nvshmem in aarch64
  .github/scripts/install-cuda-aarch64.sh
Labels: cla signed

#3773 fix the typo
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#3772 upgrade torchvision from 0.23.0 to 0.24.0
  tests/py/requirements.txt
Labels: component: tests, cla signed, ciflow/binaries/all

#3787 disable python 3.14 in CI
  .github/scripts/filter-matrix.py
Labels: cla signed

#3717 fix: prelu perf gap on Unet
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#3758 fix: batch norm issue encountered in RAFT
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
Labels: component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3736 feat: Add support for Groot N1.5 model
  docsrc/user_guide/mixed_precision.rst
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/matmul.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/accumulate_fp32_matmul.py
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
Labels: documentation, component: tests, component: lowering, component: conversion, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo

#3795 add fx deprecation notice + jetpack doc update
  .github/scripts/filter-matrix.py
  docsrc/getting_started/jetpack.rst
  py/torch_tensorrt/_compile.py
  tests/py/dynamo/automatic_plugin/test_automatic_plugin.py
  tests/py/dynamo/automatic_plugin/test_automatic_plugin_with_attrs.py
  tests/py/dynamo/automatic_plugin/test_flashinfer_rmsnorm.py
Labels: documentation, component: tests, component: api [Python], cla signed

#3801 fix pybind issue in windows
  setup.py
Labels: component: build system, cla signed
