Repository pytorch/TensorRT, pull requests merged in 2025-07, with the labels that each got.

#3642 Fix dynamo core test failure on Windows
  .github/workflows/build-test-tensorrt-windows.yml
  .github/workflows/build-test-windows.yml
Labels: cla signed

#3629 Closed the perf gap of resnet and enabled refit
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/models/test_model_refit.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3656 Lluo/cherry pick 3629
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/normalization/ops.py
  tests/py/dynamo/models/test_model_refit.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3643 feat: Add bf16 support to cast converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_casts.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3563 fix: replace add_identity by add_cast for type cast
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/slice/ops.py
  py/torch_tensorrt/fx/converters/converter_utils.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: fx, fx, component: dynamo

#3620 Refit debug patch
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/backend/backends.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/models/test_models.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3658 Lluo/cherry pick 3620
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/backend/backends.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/models/test_models.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3513 slice scatter support for dynamic cases
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#3663 fix the int8 quantization failure error
  py/torch_tensorrt/dynamo/conversion/impl/quantize.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3685 disable jetpack build for now
  .github/workflows/build-test-linux-aarch64-jetpack.yml
  pyproject.toml
  uv.lock
Labels: component: build system, cla signed

#3688 cherry pick 3685: disable jetson build in ci
  .github/workflows/build-test-linux-aarch64-jetpack.yml
  pyproject.toml
  uv.lock
Labels: component: tests, component: lowering, component: conversion, component: converters, component: build system, component: api [Python], component: runtime, cla signed, component: dynamo, component: torch_compile

#3687 cherry pick 3680: fix refit test bug
  py/torch_tensorrt/dynamo/_refit.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo

#3684 fix windows build failure: add /utf-8
  .bazelrc
  setup.py
Labels: component: build system, cla signed

#3686 upgrade tensorrt from 10.11 to 10.12
  .github/scripts/generate-tensorrt-test-matrix.py
  MODULE.bazel
  dev_dep_versions.yml
  docker/README.md
  pyproject.toml
  toolchains/ci_workspaces/MODULE.bazel.tmpl
Labels: component: build system, cla signed

#3703 feat: revert linear converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/linear.py
  py/torch_tensorrt/dynamo/lowering/_decomposition_groups.py
  tests/py/dynamo/conversion/test_linear_aten.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, ci-no-td

#3662 Cherrypick of PR 3570
  examples/distributed_inference/rotary_embedding.py
  examples/distributed_inference/tensor_parallel_initialize_dist.py
  examples/distributed_inference/tensor_parallel_rotary_embedding.py
  examples/distributed_inference/tensor_parallel_simple_example.py
  py/torch_tensorrt/dynamo/conversion/ops_evaluators.py
  py/torch_tensorrt/dynamo/lowering/passes/__init__.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/complex_graph_rewrite.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/testing_utilities.py
Labels: component: tests, component: lowering, component: conversion, component: api [Python], cla signed, component: dynamo

#3666 chore: cherry pick of bf16 cast PR (3643)
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/ops.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_casts.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3729 Some fixes for the dynamic memory setting
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/register_jit_hooks.cpp
  examples/dynamo/dynamic_memory_allocation.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/runtime/_ResourceAllocator.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/__init__.py
  uv.lock
Labels: component: core, component: api [Python], component: runtime, cla signed, component: dynamo
