Repository pytorch/TensorRT, pull requests merged in 2025-05, with the labels that each got.

#3487 disabling dla args for hope igx platform
  tests/py/dynamo/runtime/test_000_compilation_settings.py
Labels: component: tests, cla signed

#3503 chore: remove pre-cxx11 abi references in doc
  docsrc/RELEASE_CHECKLIST.md
  docsrc/getting_started/installation.rst
  docsrc/user_guide/runtime.rst
Labels: documentation, cla signed

#3505 Fix Windows CI for Release 2.7
  .github/scripts/install-torch-tensorrt.sh
  packaging/driver_upgrade.bat
Labels: cla signed

#3507 add python version dependency for modelopt
  tests/py/requirements.txt
Labels: component: tests, cla signed

#3511 upgrade modelopt
  pyproject.toml
  tests/py/requirements.txt
Labels: component: tests, component: build system, cla signed

#3488 chore: miscellaneous fixes for handling graph breaks
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/conversion/truncate_double.py
  py/torch_tensorrt/dynamo/utils.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#3514 add nspect ignore file
  .nspect-allowlist.toml
Labels: cla signed

#3519 Update mutable_torchtrt_module_example.py
  examples/dynamo/mutable_torchtrt_module_example.py
Labels: cla signed

#3526 fix docker build failure: add allow_empty to true
  docker/MODULE.bazel.docker
  third_party/tensorrt/archive/BUILD
  third_party/tensorrt/local/BUILD
Labels: cla signed

#3452 Added CPU offloading
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/models/test_export_serde.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/runtime/test_000_python_runtime.py
  tests/py/dynamo/runtime/test_002_cudagraphs_cpp.py
  tests/py/dynamo/runtime/test_002_cudagraphs_py.py
  tests/py/dynamo/runtime/test_002_lazy_engine_init.py
  tests/py/dynamo/runtime/test_003_cross_compile_for_windows.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#3518 add feature gate for tensorrt plugin
  py/torch_tensorrt/_features.py
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin_converter.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3531 Minor fix - check for DTensor on igpu platform
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/_ConversionContext.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3534 feat: Implement SDPA op converter / lowering pass as extensions
  examples/dynamo/register_sdpa.py
  examples/dynamo/sdpa_converter.py
  examples/dynamo/torch_export_flux_dev.py
  py/torch_tensorrt/dynamo/lowering/__init__.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#3540 remove breakpoint
  py/torch_tensorrt/dynamo/conversion/custom_ops_converters.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#3542 fix the build issue for patch2.6.1
  core/util/Exception.h
Labels: documentation, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], cla signed, component: fx, fx, component: dynamo, component: torch_compile
