Repository pytorch/TensorRT, pull requests merged in 2025-04, with the labels that each got.

#3445 fix: Change the translational layer from numpy to torch during conversion to handle additional data types
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/deconv.py
  py/torch_tensorrt/dynamo/conversion/impl/quantize.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3340 Fix grid_sample
  py/torch_tensorrt/dynamo/conversion/impl/grid.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3461 fix: Destory cuda graphs before setting weight streaming
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/register_jit_hooks.cpp
  py/torch_tensorrt/dynamo/runtime/_CudaGraphsTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/meta_ops/register_meta_ops.py
  py/torch_tensorrt/runtime/_cudagraphs.py
  py/torch_tensorrt/runtime/_weight_streaming.py
Labels: component: core, component: api [Python], component: runtime, cla signed, component: dynamo, needs-release-cherrypick

#3464 Cherrypick #3461 for release/2.7
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/register_jit_hooks.cpp
  py/torch_tensorrt/dynamo/runtime/_CudaGraphsTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/meta_ops/register_meta_ops.py
  py/torch_tensorrt/runtime/_cudagraphs.py
  py/torch_tensorrt/runtime/_weight_streaming.py
Labels: component: core, component: api [Python], component: runtime, cla signed, component: dynamo

#3468 tool: uv setting to avoid the pip install -e
  pyproject.toml
Labels: component: build system, cla signed

#3455 chore: reenable py313
  .github/scripts/filter-matrix.py
  .github/scripts/generate-tensorrt-test-matrix.py
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  py/torch_tensorrt/_features.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  pyproject.toml
  setup.py
  tests/modules/custom_models.py
  tests/modules/hub.py
  tests/py/dynamo/models/test_engine_cache.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/models/test_weight_stripped_engine.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
  tests/py/requirements.txt
Labels: component: tests, component: conversion, component: build system, component: api [Python], cla signed, component: dynamo, ciflow/binaries/all, needs-release-cherrypick

#3462 bf16 support for elementwise operation
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  tests/py/dynamo/conversion/test_binary_ops_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#3480 Cherrypick #3455 for release/2.7
  .github/scripts/filter-matrix.py
  .github/scripts/generate-tensorrt-test-matrix.py
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  py/torch_tensorrt/_features.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  pyproject.toml
  setup.py
  tests/modules/custom_models.py
  tests/modules/hub.py
  tests/py/dynamo/models/test_engine_cache.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/models/test_weight_stripped_engine.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
  tests/py/requirements.txt
Labels: component: tests, component: conversion, component: build system, component: api [Python], cla signed, component: dynamo, ciflow/binaries/all

#3440 feat: rmsnorm lowering
  examples/dynamo/llama2_flashinfer_rmsnorm.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin_converter.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#3424 feat: Support flashinfer.rmsnorm
  .github/workflows/build-test-linux.yml
  py/requirements.txt
  tests/py/dynamo/automatic_plugin/test_automatic_plugin.py
  tests/py/dynamo/automatic_plugin/test_flashinfer_rmsnorm.py
  tests/py/requirements.txt
Labels: component: tests, component: api [Python], cla signed, needs-release-cherrypick

#3476 fix: support masked_scatter by lowering path and corner case of maske…
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/condition/ops.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, ciflow/binaries/all, needs-release-cherrypick

#3475 fix: index_put converter to handle multi-shape slicing with None
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  tests/py/dynamo/conversion/test_index_put_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, ciflow/binaries/all, needs-release-cherrypick

#3472 slight code reorg and bug correction for cross_compile
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_exporter.py
  py/torch_tensorrt/dynamo/runtime/meta_ops/register_meta_ops.py
  py/torch_tensorrt/runtime/_utils.py
  tests/py/dynamo/runtime/test_003_cross_compile_for_windows.py
Labels: component: tests, component: api [Python], component: runtime, cla signed, component: dynamo, needs-release-cherrypick

#3482 Cherrypick of PR 3472
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_exporter.py
  py/torch_tensorrt/dynamo/runtime/meta_ops/register_meta_ops.py
  py/torch_tensorrt/runtime/_utils.py
  tests/py/dynamo/runtime/test_003_cross_compile_for_windows.py
Labels: component: tests, component: api [Python], component: runtime, cla signed, component: dynamo

#3481 Enabled refit on Python 3.13
  py/torch_tensorrt/_features.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_ConversionContext.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  tests/py/dynamo/automatic_plugin/test_flashinfer_rmsnorm.py
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo, ciflow/binaries/all

#3485 Cherrypick #3440 for release/2.7
  examples/dynamo/llama2_flashinfer_rmsnorm.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin_converter.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#3479 fix: l2_limit_for_tiling
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#3493 fix: l2_limit_for_tiling (#3479) cherry pick to 2.7
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
Labels: cla signed

#3491 chore: test bf16 fixes in CI
  .github/workflows/build-test-linux.yml
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  tests/py/dynamo/backend/test_backend_compiler.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/models/test_dtype_support.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/requirements.txt
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo

#3498 Cherrypick #3481 and #3445
  py/torch_tensorrt/_features.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_ConversionContext.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/deconv.py
  py/torch_tensorrt/dynamo/conversion/impl/quantize.py
  tests/py/dynamo/automatic_plugin/test_flashinfer_rmsnorm.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3500 Cherry pick to release 2.7-3499-add python3.13 into the final release artifact
  .github/scripts/generate-release-matrix.py
Labels: cla signed

#3499 add python3.13 into the final release artifact
  .github/scripts/generate-release-matrix.py
Labels: cla signed

#3457 fix: cherry pick PR of 3445
  .github/workflows/build-test-linux.yml
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  tests/py/dynamo/automatic_plugin/test_flashinfer_rmsnorm.py
  tests/py/dynamo/backend/test_backend_compiler.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/models/test_dtype_support.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/models/test_modelopt_models.py
  tests/py/dynamo/runtime/test_002_cudagraphs_py.py
  tests/py/requirements.txt
Labels: component: tests, component: conversion, component: api [Python], cla signed, component: dynamo, needs-release-cherrypick

#3483 Cherrypick of PR 3462
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  tests/py/dynamo/conversion/test_binary_ops_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3473 chore: remove pre-cxx11 abi
  .bazelrc
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/docgen.yml
  .github/workflows/release-linux.yml
  .github/workflows/release-wheel-linux.yml
  CONTRIBUTING.md
  MODULE.bazel
  core/BUILD
  core/conversion/BUILD
  core/conversion/conversionctx/BUILD
  core/conversion/converters/BUILD
  core/conversion/evaluators/BUILD
  core/conversion/tensorcontainer/BUILD
  core/conversion/var/BUILD
  core/ir/BUILD
  core/lowering/BUILD
  core/lowering/passes/BUILD
  core/partitioning/BUILD
  core/partitioning/partitioningctx/BUILD
  core/partitioning/partitioninginfo/BUILD
  core/partitioning/segmentedblock/BUILD
  core/plugins/BUILD
  core/runtime/BUILD
  core/util/BUILD
  core/util/logging/BUILD
  cpp/bin/torchtrtc/BUILD
  docker/Dockerfile
  docker/MODULE.bazel.docker
  docker/MODULE.bazel.ngc
  docker/README.md
  docker/WORKSPACE.ngc
  docker/dist-build.sh
  notebooks/WORKSPACE.notebook
  noxfile.py
  py/README.md
  py/ci/build_manifest.txt
  py/ci/build_whl.sh
  setup.py
  tests/core/BUILD
  tests/core/conversion/converters/BUILD
  tests/core/conversion/converters/converter_test.bzl
  tests/core/conversion/evaluators/BUILD
  tests/core/conversion/evaluators/evaluator_test.bzl
  tests/core/lowering/BUILD
  tests/core/lowering/lowering_test.bzl
  tests/core/partitioning/BUILD
  tests/core/partitioning/partitioning_test.bzl
  tests/core/runtime/BUILD
  tests/core/runtime/runtime_test.bzl
  tests/cpp/BUILD
  tests/util/BUILD
  toolchains/ci_workspaces/MODULE.bazel.tmpl
  toolchains/ci_workspaces/MODULE_tensorrt.bazel.tmpl
  toolchains/jp_workspaces/MODULE.bazel.tmpl
  toolchains/jp_workspaces/WORKSPACE.jp50
Labels: component: tests, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], component: evaluators, component: runtime, component: partitioning, cla signed
