Repository pytorch/TensorRT, pull requests merged in 2025-01, with the labels that each got.

#3250 using nccl ops from TRT-LLM namespace
  examples/distributed_inference/README.md
  examples/distributed_inference/requirement.txt
  examples/distributed_inference/tensor_parallel_initialize_dist.py
  examples/distributed_inference/tensor_parallel_llama3.py
  examples/distributed_inference/tensor_parallel_simple_example.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/custom_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/conversion/impl/nccl_ops.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  py/torch_tensorrt/dynamo/lowering/passes/__init__.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/_modify_reshape_complex_nodes.py
  py/torch_tensorrt/dynamo/lowering/passes/_replace_complex_placeholder_to_tuple.py
  py/torch_tensorrt/dynamo/lowering/passes/fuse_distributed_ops.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_utils.py
  pyproject.toml
  uv.lock
Labels: component: lowering, component: conversion, component: converters, component: build system, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3346 feat: Trigger Actions to run multiple TRT versions weekly
  .github/scripts/generate-tensorrt-test-matrix.py
  .github/workflows/build-test-tensorrt-linux.yml
  .github/workflows/build-test-tensorrt-windows.yml
  toolchains/ci_workspaces/MODULE_tensorrt.bazel.tmpl
Labels: cla signed

#3341 Cherrypick: Bump TRT version to 10.7
  .github/scripts/generate-tensorrt-test-matrix.py
  README.md
  dev_dep_versions.yml
  packaging/smoke_test_script.sh
  py/ci/Dockerfile.ci
  toolchains/ci_workspaces/MODULE.bazel.tmpl
  toolchains/legacy/WORKSPACE.win.release.tmpl
  toolchains/legacy/WORKSPACE.x86_64.release.rhel.tmpl
  uv.lock
Labels: component: api [Python], cla signed

#3342 Cherrypick: nccl ops multi gpu
  examples/distributed_inference/README.md
  examples/distributed_inference/requirement.txt
  examples/distributed_inference/tensor_parallel_initialize_dist.py
  examples/distributed_inference/tensor_parallel_llama3.py
  examples/distributed_inference/tensor_parallel_simple_example.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/backend/backends.py
  py/torch_tensorrt/dynamo/conversion/__init__.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/custom_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/elementwise/base.py
  py/torch_tensorrt/dynamo/conversion/impl/nccl_ops.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  py/torch_tensorrt/dynamo/lowering/passes/__init__.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/_modify_reshape_complex_nodes.py
  py/torch_tensorrt/dynamo/lowering/passes/_replace_complex_placeholder_to_tuple.py
  py/torch_tensorrt/dynamo/lowering/passes/fuse_distributed_ops.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_utils.py
  pyproject.toml
  uv.lock
Labels: component: lowering, component: conversion, component: converters, component: build system, component: api [Python], cla signed, component: dynamo, component: torch_compile

#3345 Update build-test-linux.yml
  .github/workflows/build-test-linux.yml
  packaging/env_vars.txt
  packaging/pre_build_script.sh
  py/requirements.txt
Labels: component: api [Python], cla signed

#3358 fix: CI errors on release 2.6
  .github/workflows/assigner.yml
  .github/workflows/build-tensorrt-linux.yml
  .github/workflows/build-tensorrt-windows.yml
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-tensorrt-linux.yml
  .github/workflows/build-test-tensorrt-windows.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/docker_builder.yml
  .github/workflows/linter.yml
  .github/workflows/linux-test.yml
  .github/workflows/nightlies.yml
  .github/workflows/release-linux.yml
  .github/workflows/release-wheel-linux.yml
  .github/workflows/release-wheel-windows.yml
  .github/workflows/release-windows.yml
  .github/workflows/windows-test.yml
Labels: cla signed

#3353 fix: torch 2.7 bump bug on the main branch
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/assigner.yml
  .github/workflows/build-tensorrt-linux.yml
  .github/workflows/build-tensorrt-windows.yml
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-tensorrt-linux.yml
  .github/workflows/build-test-tensorrt-windows.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/docker_builder.yml
  .github/workflows/linter.yml
  .github/workflows/linux-test.yml
  .github/workflows/nightlies.yml
  .github/workflows/release-linux.yml
  .github/workflows/release-wheel-linux.yml
  .github/workflows/release-wheel-windows.yml
  .github/workflows/release-windows.yml
  .github/workflows/windows-test.yml
  noxfile.py
  packaging/env_vars.txt
  py/requirements.txt
  pyproject.toml
  version.txt
Labels: component: build system, component: api [Python], cla signed

#3360 fix: CI docker build error for release 2.6
  .github/workflows/docker_builder.yml
  docker/README.md
Labels: cla signed

#3343 fix: remove legacy conv converter
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/deconv.py
  py/torch_tensorrt/fx/converters/aten_ops_converters.py
  tests/py/dynamo/conversion/test_deconvolution_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: fx, fx, component: dynamo

#3361 chore: flip use_cxx11_abi naming
  .bazelrc
  .github/workflows/docgen.yml
  CONTRIBUTING.md
  docker/Dockerfile
  docker/README.md
  docker/dist-build.sh
  docsrc/getting_started/installation.rst
  docsrc/getting_started/jetpack.rst
  noxfile.py
  packaging/env_vars.txt
  py/README.md
  py/ci/Dockerfile.ci
  setup.py
Labels: documentation, component: build system, component: api [Python], cla signed

#3369 chore: address flaky test failures related to global partitioning
  docs/_downloads/0e30a6276601af7e5fc4d5166e2e3d37/torch_compile_advanced_usage.py
  docs/_downloads/2a9ac10f2667047a7f398d1593b7ca33/torch_export_gpt2.py
  docs/_downloads/3d4d74f6636d986f33167154f6553961/torch_export_cudagraphs.py
  docs/_downloads/418941399c146271a7b7728ba3059960/dynamo_compile_resnet_example.py
  docs/_downloads/7b7004dc2ea6f839be532665e16e0426/torch_export_llama2.py
  docs/_downloads/d6e1bb6ec5f884994554d9d12e37a0f6/torch_compile_resnet_example.py
  docs/_downloads/dfa60e8f9850fd7761f3e7da81304d32/torch_compile_transformers_example.py
  docs/_downloads/e1ef5a42560a98a132f56a79d0b66f79/dynamo_compile_advanced_usage.py
  docs/_downloads/e550c5f53cc43e11aa6da8cfb79b54df/dynamo_compile_transformers_example.py
  docs/v1.4.0/_downloads/418941399c146271a7b7728ba3059960/dynamo_compile_resnet_example.py
  docs/v1.4.0/_downloads/e1ef5a42560a98a132f56a79d0b66f79/dynamo_compile_advanced_usage.py
  docs/v1.4.0/_downloads/e550c5f53cc43e11aa6da8cfb79b54df/dynamo_compile_transformers_example.py
  examples/dynamo/torch_compile_advanced_usage.py
  examples/dynamo/torch_compile_resnet_example.py
  examples/dynamo/torch_compile_transformers_example.py
  examples/dynamo/torch_export_cudagraphs.py
  examples/dynamo/torch_export_gpt2.py
  examples/dynamo/torch_export_llama2.py
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/conversion/_TRTBuilderMonitor.py
  py/torch_tensorrt/dynamo/conversion/impl/activation/ops.py
  py/torch_tensorrt/dynamo/utils.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_where.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_tracer.py
  tests/py/dynamo/partitioning/test_flaky_global_partitioning.py
  tests/py/dynamo/partitioning/test_global_partitioning.py
Labels: documentation, component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: fx, component: dynamo

#3366 Use IUnsqueezeLayer in unsqueeze impl
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3376 [Cherry-pick] Deprecate torchscript frontend
  .pre-commit-config.yaml
  cpp/include/torch_tensorrt/macros.h
  cpp/include/torch_tensorrt/ptq.h
  py/torch_tensorrt/ts/_compiler.py
  py/torch_tensorrt/ts/ptq.py
Labels: component: api [Python], component: api [C++], cla signed
