Repository pytorch/TensorRT, pull requests merged in 2025-02, with the labels that each got.

#3379 chore: fix import issues for test_decompositions.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, cla signed, fx

#3380 chore: update release versions for 2.6
  MODULE.bazel
  README.md
  docker/dist-build.sh
  docs/_downloads/0e30a6276601af7e5fc4d5166e2e3d37/torch_compile_advanced_usage.py
  docs/_downloads/2a9ac10f2667047a7f398d1593b7ca33/torch_export_gpt2.py
  docs/_downloads/3d4d74f6636d986f33167154f6553961/torch_export_cudagraphs.py
  docs/_downloads/418941399c146271a7b7728ba3059960/dynamo_compile_resnet_example.py
  docs/_downloads/7b7004dc2ea6f839be532665e16e0426/torch_export_llama2.py
  docs/_downloads/d6e1bb6ec5f884994554d9d12e37a0f6/torch_compile_resnet_example.py
  docs/_downloads/dfa60e8f9850fd7761f3e7da81304d32/torch_compile_transformers_example.py
  docs/_downloads/e1ef5a42560a98a132f56a79d0b66f79/dynamo_compile_advanced_usage.py
  docs/_downloads/e550c5f53cc43e11aa6da8cfb79b54df/dynamo_compile_transformers_example.py
  docs/v1.4.0/_downloads/418941399c146271a7b7728ba3059960/dynamo_compile_resnet_example.py
  docs/v1.4.0/_downloads/e1ef5a42560a98a132f56a79d0b66f79/dynamo_compile_advanced_usage.py
  docs/v1.4.0/_downloads/e550c5f53cc43e11aa6da8cfb79b54df/dynamo_compile_transformers_example.py
  examples/dynamo/torch_compile_advanced_usage.py
  examples/dynamo/torch_compile_resnet_example.py
  examples/dynamo/torch_compile_transformers_example.py
  examples/dynamo/torch_export_cudagraphs.py
  examples/dynamo/torch_export_gpt2.py
  examples/dynamo/torch_export_llama2.py
  py/requirements.txt
  py/torch_tensorrt/_Input.py
  py/torch_tensorrt/_enums.py
  py/torch_tensorrt/dynamo/conversion/_TRTBuilderMonitor.py
  py/torch_tensorrt/dynamo/conversion/impl/activation/ops.py
  py/torch_tensorrt/dynamo/utils.py
  py/torch_tensorrt/fx/test/converters/acc_op/test_where.py
  py/torch_tensorrt/fx/tracer/acc_tracer/acc_tracer.py
  pyproject.toml
Labels: documentation, component: conversion, component: converters, component: build system, component: api [Python], cla signed, component: fx, component: dynamo

#3373 Deprecate torchscript frontend
  .pre-commit-config.yaml
  cpp/include/torch_tensorrt/macros.h
  cpp/include/torch_tensorrt/ptq.h
  py/torch_tensorrt/ts/_compiler.py
  py/torch_tensorrt/ts/ptq.py
Labels: component: api [Python], component: api [C++], cla signed

#3382 feat: Add FLUX-1.dev model to the model zoo
  docsrc/index.rst
  docsrc/tutorials/_rendered_examples/dog_code.png
  examples/dynamo/README.rst
  examples/dynamo/torch_export_flux_dev.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_assert_scalar.py
  py/torch_tensorrt/dynamo/utils.py
Labels: documentation, component: lowering, component: api [Python], cla signed, component: dynamo

#3396 Accelerate network interpretation by 15x; fixed redundant code in TRT Interpreter
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
Labels: component: conversion, component: api [Python], cla signed, fx, component: dynamo

#3403 [oncall] Fix vulnerability in the transformers dependency for examples/dynamo
  examples/dynamo/requirements.txt
Labels: cla signed

#3397 feat: add `--use_python_runtime` and `--enable_cuda_graph` args to the perf run script
  tools/perf/perf_run.py
Labels: cla signed

#3395 fix: Split addmm nodes to not cast bias for FP32 accumulation and flux example fixes.
  examples/dynamo/torch_export_flux_dev.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/accumulate_fp32_matmul.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_assert_nodes.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#3370 feat: Automatically generate QDP plugins
  examples/dynamo/auto_generate_plugin.py
  py/torch_tensorrt/dynamo/conversion/plugins/__init__.py
  py/torch_tensorrt/dynamo/conversion/plugins/_custom_op.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin_converter.py
  pyproject.toml
  tests/py/dynamo/conversion/test_automatic_plugin.py
  tests/py/dynamo/conversion/test_automatic_plugin_with_attrs.py
Labels: component: tests, component: conversion, component: build system, component: api [Python], cla signed, component: dynamo

#3336 [reland] SDPA decomposition
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/__init__.py
  py/torch_tensorrt/dynamo/conversion/impl/attention.py
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/lower_scaled_dot_product_attention.py
  py/torch_tensorrt/dynamo/lowering/passes/view_to_reshape.py
  tests/py/dynamo/lowering/test_aten_lowering_passes.py
  tests/py/dynamo/lowering/test_decompositions.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo, ci-no-td

#3416 fix: Fix CI issues due to unintended fake tensor creation in torch.compile tests
  py/torch_tensorrt/dynamo/utils.py
Labels: component: api [Python], cla signed, component: dynamo

#3405 chore: Bump to CUDA 12.8 and TRT 10.8 for Blackwell support
  .github/scripts/generate-release-matrix.py
  .github/scripts/generate-tensorrt-test-matrix.py
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-tensorrt-linux.yml
  .github/workflows/build-test-tensorrt-windows.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/docgen.yml
  .github/workflows/generate_binary_build_matrix.yml
  .github/workflows/release-linux.yml
  .github/workflows/release-wheel-linux.yml
  .github/workflows/release-windows.yml
  MODULE.bazel
  README.md
  dev_dep_versions.yml
  docker/Dockerfile
  docker/README.md
  examples/dynamo/auto_generate_converters.py
  examples/dynamo/auto_generate_plugin.py
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
  packaging/smoke_test_script.sh
  py/ci/Dockerfile.ci
  py/ci/build_manifest.txt
  py/ci/build_whl.sh
  py/torch_tensorrt/__init__.py
  pyproject.toml
  toolchains/ci_workspaces/MODULE.bazel.tmpl
  toolchains/legacy/WORKSPACE.win.release.tmpl
  toolchains/legacy/WORKSPACE.x86_64
  toolchains/legacy/WORKSPACE.x86_64.release.rhel.tmpl
  toolchains/legacy/WORKSPACE.x86_64.release.ubuntu
Labels: component: build system, component: api [Python], cla signed

#3394 Mutable module improvement
  examples/dynamo/README.rst
  examples/dynamo/mutable_torchtrt_module_example.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
Labels: component: tests, component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo
