Repository pytorch/TensorRT, pull requests merged in 2025-06, with the labels that each got.

#3545 update version to 2.6.1
  version.txt
Labels: cla signed

#3544 nvidia-modelopt dependency fix
  .github/workflows/build-test-linux-x86_64.yml
Labels: cla signed

#3547 cherry pick 3505(windows driver upgrade) to release2.6.1
  .github/scripts/install-torch-tensorrt.sh
  packaging/driver_upgrade.bat
Labels: documentation, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [Python], component: api [C++], cla signed, component: fx, fx, component: dynamo, component: torch_compile

#3524 Add jetson build on CI
  .github/scripts/filter-matrix.py
  .github/workflows/build-test-linux-aarch64-jetpack.yml
  .github/workflows/build-test-linux-aarch64.yml
  .github/workflows/build-test-linux-x86_64.yml
  .github/workflows/build_wheels_linux_aarch64.yml
  MODULE.bazel
  core/BUILD
  core/conversion/BUILD
  core/conversion/conversionctx/BUILD
  core/conversion/converters/BUILD
  core/conversion/evaluators/BUILD
  core/conversion/tensorcontainer/BUILD
  core/conversion/var/BUILD
  core/ir/BUILD
  core/lowering/BUILD
  core/lowering/passes/BUILD
  core/partitioning/BUILD
  core/partitioning/partitioningctx/BUILD
  core/partitioning/partitioninginfo/BUILD
  core/partitioning/segmentedblock/BUILD
  core/plugins/BUILD
  core/runtime/BUILD
  core/util/BUILD
  core/util/logging/BUILD
  cpp/bin/torchtrtc/BUILD
  docsrc/getting_started/jetpack.rst
  examples/int8/benchmark/BUILD
  examples/int8/ptq/BUILD
  examples/int8/qat/BUILD
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
  pyproject.toml
  setup.py
  tests/core/BUILD
  tests/core/lowering/lowering_test.bzl
  tests/core/partitioning/BUILD
  tests/core/partitioning/partitioning_test.bzl
  tests/core/runtime/runtime_test.bzl
  tests/cpp/BUILD
  tests/util/BUILD
  toolchains/ci_workspaces/MODULE.bazel.tmpl
  toolchains/ci_workspaces/MODULE_tensorrt.bazel.tmpl
Labels: documentation, component: tests, component: lowering, component: conversion, component: core, component: converters, component: build system, component: api [C++], component: evaluators, component: runtime, component: partitioning, cla signed, channel: linux-jetpack

#3504 feat: TensorRT AOT Plugin
  examples/dynamo/aot_plugin.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin_converter.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#3538 fix: handle device in the same way as dtype in `aten.full_like` decomposition
  py/torch_tensorrt/dynamo/lowering/_decompositions.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#3552 fix the jetson nightly build check bug
  .github/scripts/filter-matrix.py
  .github/workflows/build-test-linux-aarch64-jetpack.yml
  .github/workflows/build_wheels_linux_aarch64.yml
Labels: cla signed

#3543 fix int8/fp8 constant folding issue
  .github/workflows/build_wheels_linux_aarch64.yml
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/quantize.py
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, component: lowering, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3486 Cross compile guard
  py/requirements.txt
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/_features.py
  py/torch_tensorrt/_utils.py
  py/torch_tensorrt/dynamo/_compiler.py
  pyproject.toml
  tests/py/dynamo/runtime/test_003_cross_compile_for_windows.py
Labels: component: tests, component: build system, component: api [Python], cla signed, component: dynamo

#3569 add --no-deps for tests/py/requirements.txt
  .github/workflows/build-test-linux-x86_64.yml
  py/torch_tensorrt/dynamo/lowering/passes/constant_folding.py
  tests/py/requirements.txt
Labels: component: tests, component: lowering, component: api [Python], cla signed, component: dynamo

#3568 fix: Fix a perf regression due to weights being ITensors
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/conversion/_ConversionContext.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/deconv.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3528 FX graph visualization
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/TRTEngineProfiler.cpp
  core/runtime/TRTEngineProfiler.h
  core/runtime/register_jit_hooks.cpp
  py/torch_tensorrt/dynamo/__init__.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_refit.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/_tracer.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/debug/_Debugger.py
  py/torch_tensorrt/dynamo/debug/_DebuggerConfig.py
  py/torch_tensorrt/dynamo/debug/_supports_debugger.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/pass_manager.py
  py/torch_tensorrt/dynamo/partitioning/_adjacency_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/_global_partitioner.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  pyproject.toml
  tools/debug/engine_visualization/README.md
  tools/debug/engine_visualization/draw_engine_graph.py
  tools/debug/engine_visualization/draw_engine_graph_example.py
Labels: component: lowering, component: conversion, component: core, component: build system, component: api [Python], component: runtime, cla signed, component: dynamo

#3590 fix main test failure bug
  .github/workflows/linux-test.yml
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/conversion/impl/unsqueeze.py
  py/torch_tensorrt/runtime/_cudagraphs.py
  setup.py
Labels: component: conversion, component: converters, component: build system, component: api [Python], cla signed, component: dynamo

#3595 Fix: fix aot plugin example docstring issue
  examples/dynamo/aot_plugin.py
Labels: cla signed

#3597 feat: working uv pyproject.toml
  pyproject.toml
  uv.lock
Labels: component: build system, cla signed

#3573 Changed weight map to tensor and fix the refit bug
  examples/apps/README.md
  py/torch_tensorrt/dynamo/conversion/_ConversionContext.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/converter_utils.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  py/torch_tensorrt/dynamo/conversion/impl/deconv.py
  tools/perf/Flux/flux_perf.py
Labels: component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3599 test failed but displayed as green
  .github/workflows/build-test-linux-aarch64.yml
  .github/workflows/build-test-linux-x86_64.yml
  .github/workflows/build-test-tensorrt-linux.yml
  .github/workflows/build-test-tensorrt-windows.yml
  .github/workflows/build-test-windows.yml
  tests/modules/hub.py
Labels: component: tests, cla signed

#3592 Import dllist only on linux
  py/torch_tensorrt/_utils.py
Labels: component: api [Python], cla signed

#3594 fix dynamo converter test case failure
  tests/py/dynamo/conversion/harness.py
Labels: component: tests, component: api [Python], cla signed, component: dynamo

#3606 fix enabled_precisions error in test cases
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
Labels: component: tests, component: api [Python], component: runtime, cla signed, component: dynamo

#3611 py39 does not like | E TypeError: unsupported operand type(s) for |: 'type' and 'EnumMeta'
  py/torch_tensorrt/_compile.py
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
  py/torch_tensorrt/ts/_compile_spec.py
  py/torch_tensorrt/ts/_compiler.py
Labels: component: api [Python], component: runtime, cla signed, component: dynamo

#3612 a few CI changes
  .github/scripts/install-cuda-aarch64.sh
  .github/scripts/install-torch-tensorrt.sh
  .github/workflows/build-test-linux-x86_64.yml
  .github/workflows/build-test-tensorrt-linux.yml
  .github/workflows/build-test-tensorrt-windows.yml
  .github/workflows/windows-test.yml
  MODULE.bazel
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
  py/requirements.txt
  tests/py/requirements.txt
  toolchains/ci_workspaces/MODULE.bazel.tmpl
Labels: component: tests, WIP, component: api [Python], cla signed, ciflow/binaries/all

#3618 remove debug flag
  examples/apps/flux_demo.py
  examples/distributed_inference/data_parallel_gpt2.py
  examples/distributed_inference/data_parallel_stable_diffusion.py
  examples/dynamo/aot_plugin.py
  examples/dynamo/auto_generate_converters.py
  examples/dynamo/auto_generate_plugins.py
  examples/dynamo/cross_runtime_compilation_for_windows.py
  examples/dynamo/custom_kernel_plugins.py
  examples/dynamo/engine_caching_bert_example.py
  examples/dynamo/engine_caching_example.py
  examples/dynamo/llama2_flashinfer_rmsnorm.py
  examples/dynamo/mutable_torchtrt_module_example.py
  examples/dynamo/refit_engine_example.py
  examples/dynamo/torch_compile_advanced_usage.py
  examples/dynamo/torch_compile_resnet_example.py
  examples/dynamo/torch_compile_transformers_example.py
  examples/dynamo/vgg16_ptq.py
  tests/py/dynamo/models/test_engine_cache.py
  tests/py/dynamo/models/test_model_refit.py
  tests/py/dynamo/models/test_models.py
  tests/py/dynamo/models/test_models_export.py
  tests/py/dynamo/models/test_weight_stripped_engine.py
  tests/py/dynamo/runtime/test_002_cudagraphs_py.py
  tests/py/dynamo/runtime/test_mutable_torchtrt_module.py
Labels: component: tests, cla signed

#3617 fix: Fix unbacked sym int not found issue
  py/torch_tensorrt/dynamo/_tracer.py
  py/torch_tensorrt/dynamo/runtime/meta_ops/register_meta_ops.py
  py/torch_tensorrt/dynamo/utils.py
  tests/py/dynamo/models/test_reexport.py
Labels: component: tests, component: api [Python], component: runtime, cla signed, component: dynamo

#3623 disable test on aarch64 for now
  .github/workflows/build-test-linux-aarch64.yml
Labels: cla signed

#3632 disable aoti format in windows
  py/torch_tensorrt/_compile.py
  tests/py/dynamo/models/test_export_serde.py
Labels: component: tests, component: api [Python], cla signed

#3635 fix the broken CC0 image link
  notebooks/EfficientNet-example.ipynb
Labels: cla signed

#3639 upgrade torch_tensorrt version from 2.8.0.dev to 2.9.0.dev
  .github/workflows/docgen.yml
  MODULE.bazel
  cpp/include/torch_tensorrt/macros.h
  docker/Dockerfile
  docker/dist-build.sh
  py/requirements.txt
  pyproject.toml
  version.txt
Labels: component: build system, component: api [Python], component: api [C++], cla signed

#3638 release 2.8 branch cut
  docker/Dockerfile
  docker/dist-build.sh
  py/requirements.txt
  pyproject.toml
  tests/py/requirements.txt
  uv.lock
Labels: component: tests, component: build system, component: api [Python], cla signed
