Repository pytorch/TensorRT, pull requests merged in 2025-03, with the labels that each got.

#3426 fix: nightly build python versions
  .github/workflows/build-test-linux.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/release-linux.yml
  .github/workflows/release-windows.yml
Labels: cla signed

#3431 fix: typing issue in Python 3.9 and earlier
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/runtime/_MutableTorchTensorRTModule.py
Labels: component: conversion, component: api [Python], component: runtime, cla signed, component: dynamo

#3436 chore: bump to TRT 10.9
  .github/scripts/generate-tensorrt-test-matrix.py
  MODULE.bazel
  README.md
  dev_dep_versions.yml
  docker/README.md
  py/ci/Dockerfile.ci
  pyproject.toml
  toolchains/ci_workspaces/MODULE.bazel.tmpl
  uv.lock
Labels: component: build system, component: api [Python], cla signed

#3435 fix: remove TRT version restriction
  .github/scripts/generate-tensorrt-test-matrix.py
  packaging/pre_build_script.sh
  packaging/pre_build_script_windows.sh
Labels: cla signed

#3411 removing the fuse distributed ops lowering pass for tegra platforms
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/utils.py
Labels: component: lowering, component: api [Python], cla signed, component: dynamo

#3388 feat: second attempt to support DDS and NonZero op
  core/runtime/TRTEngine.cpp
  core/runtime/TRTEngine.h
  core/runtime/execute_engine.cpp
  core/runtime/register_jit_hooks.cpp
  core/runtime/runtime.h
  docsrc/py_api/runtime.rst
  docsrc/user_guide/runtime.rst
  examples/dynamo/converter_overloading.py
  py/torch_tensorrt/dynamo/_engine_cache.py
  py/torch_tensorrt/dynamo/conversion/_ConversionContext.py
  py/torch_tensorrt/dynamo/conversion/_ConverterRegistry.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
  py/torch_tensorrt/dynamo/conversion/_conversion.py
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/unary/ops.py
  py/torch_tensorrt/dynamo/lowering/passes/_aten_lowering_pass.py
  py/torch_tensorrt/dynamo/lowering/passes/remove_num_users_is_0_nodes.py
  py/torch_tensorrt/dynamo/partitioning/common.py
  py/torch_tensorrt/dynamo/runtime/_CudaGraphsTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_PythonTorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/_TorchTensorRTModule.py
  py/torch_tensorrt/dynamo/runtime/meta_ops/register_meta_ops.py
  py/torch_tensorrt/runtime/__init__.py
  py/torch_tensorrt/runtime/_cudagraphs.py
  py/torch_tensorrt/runtime/_output_allocator.py
  tests/py/dynamo/conversion/harness.py
  tests/py/dynamo/conversion/test_nonzero_aten.py
  tests/py/dynamo/runtime/test_output_allocator.py
Labels: documentation, component: tests, component: lowering, component: conversion, component: core, component: converters, component: api [Python], component: runtime, cla signed, component: dynamo

#3428 fix: conv parameter check failure
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/conv.py
  tests/py/dynamo/conversion/test_convolution_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3421 Support broadcast index put
  py/torch_tensorrt/dynamo/conversion/aten_ops_converters.py
  py/torch_tensorrt/dynamo/conversion/impl/arange.py
  py/torch_tensorrt/dynamo/conversion/impl/select.py
  tests/py/dynamo/conversion/test_index_put_aten.py
Labels: component: tests, component: conversion, component: converters, component: api [Python], cla signed, component: dynamo

#3356 DLFW changes 25.01 onwards
  core/util/Exception.h
  examples/int8/training/vgg16/requirements.txt
  noxfile.py
  tests/py/ts/ptq/test_ptq_dataloader_calibrator.py
  tests/py/ts/ptq/test_ptq_trt_calibrator.py
Labels: component: tests, component: core, cla signed

#3442 feat: support Output Allocator runtime mode for plugin autogen
  examples/dynamo/auto_generate_plugin.py
  py/torch_tensorrt/dynamo/conversion/plugins/_custom_op.py
  py/torch_tensorrt/dynamo/conversion/plugins/_generate_plugin_converter.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#3447 fix: Fix PTQ export
  examples/dynamo/vgg16_ptq.py
  tests/py/dynamo/models/test_models_export.py
Labels: component: tests, cla signed

#3444 feat: support tiling optimization as of TRT 10.8
  py/torch_tensorrt/dynamo/_compiler.py
  py/torch_tensorrt/dynamo/_defaults.py
  py/torch_tensorrt/dynamo/_settings.py
  py/torch_tensorrt/dynamo/conversion/_TRTInterpreter.py
Labels: component: conversion, component: api [Python], cla signed, component: dynamo

#3407 fix: structured inputs for CudaGraphsTorchTensorRTModule
  py/torch_tensorrt/dynamo/runtime/_CudaGraphsTorchTensorRTModule.py
  tests/py/dynamo/runtime/test_004_weight_streaming.py
Labels: component: tests, component: api [Python], component: runtime, cla signed, component: dynamo

#3449 chore: bump torch to 2.8.0.dev
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/docgen.yml
  MODULE.bazel
  README.md
  docker/dist-build.sh
  docsrc/getting_started/installation.rst
  py/requirements.txt
  pyproject.toml
Labels: documentation, component: build system, component: api [Python], cla signed
